body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  line-height: 1.52857;
  padding: 0;
}

a:focus {
  outline: none;
}




.form-validate .form-control.ng-dirty.ng-valid, .form-validate .form-control.ng-dirty.ng-valid:focus {
  border-color: #27c24c;
}

.form-validate .form-control.ng-dirty.ng-invalid {
  border-color: #f05050;
}

.form-validate.ng-submitted.form-validate .form-control.ng-invalid {
  border-color: #f05050;
}

.panel {
  background-color: #fafafa;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  margin-bottom: 21px;
}

.panel-heading {
  border-color: #cfdbe2;
  background-color: #3a3f51;
  color: #fff;
  border-bottom: 0 none;
  font-size: 14px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding: 10px 15px;
}

.modal-header {
  background-color:  #2e353d;
  color: #ffffff;
}

.modal-header .close {
  margin-top: -2px;
  color: #fff;
  opacity: 0.5;
}

.modal-content {
  background-color: #fafafa;
}

