/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 1, 2014, 11:16:51 AM
    Author     : roshan
*/

.ui-widget, .ui-widget .ui-widget .ui-widget-content {
    //font-size: 70% !important;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    
    
}

.ui-tabs .ui-tabs-nav{
    width: auto !important;
    height: auto;
    display: block;
    border-bottom: 1px solid #ddd;
    margin: 0 0 0 0;
    padding-left: 8px;
    list-style:none;
    list-style-type: none;
    list-style-position: outside;
    list-style-image: none; 
}

.ui-tabs .ui-tabs-panel .ui-widget-content li{
     width: 364px;
     line-height: 20px;
     float: left;
     display: block;
     height: auto;
     margin-bottom: -1px;
 }
 
.ui-tabs .ui-tabs-nav li.ui-tabs-selected { 
    padding-bottom: 0; 
    border-right-width: 1px; 
    border-right-width: 1px; 
}




.ui-tabs .ui-tabs-panels{
     display: inline-block;
     width: 364px;
     min-height: 100%;
     height: auto; 
     margin: 0 0 0 0;
     padding: 0 0 0 0;
     float: left;
}

.ui-tabs .ui-tabs-panel{
    float: left;
    display: list-item;
    text-align: left;
    background-color: #FFF;
    padding: 15px 15px 15px 15px;
    line-height: 18px;
    width: 338px;
    height: 42px;
    list-style: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.0470588);
    
}

.ui-tabs .ui-widget-content{
    
     display: block;
     width: 368px;
     height: auto !important; 
     margin: 0 0 0 0;
     padding: 0 0 0 0;
    
}

.ui-tabs-panel.disabled{color:#888;}
.ui-tabs-panel.smoke{background-color:#f5f5f5;}
.ui-tabs-panel:hover{background:#d9edf7;border-bottom:1px solid #adf;}

/*.ui-layout-unit-content .ui-widget-content{
    
    position: relative;
    height: auto !important; 
    visibility: visible;
}*/