body {
   margin: 5px;
   font-family: Arial,sans-serif;

}

.stylelayout {
   font-family:    Arial,sans-serif;
   font-size:      12px;
}


.styleNav {
   font-family:    Arial,sans-serif;
   font-size:      12px;
   padding-top: 5px;
   margin: -5px;
}

.styleNav .ui-panelgrid tr {
   border-bottom: solid;
   border-top: none;
   border-color: gray;
   border-width: 1px;
}

/*Panel rrd graph*/

.styleRrdGraph .ui-panel {
   min-width: 389px; 
   min-height: 255px; 
   /*border: none;*/ 
   margin: 3px; 
   /*text-align: center;*/
   text-align: left;

}
.styleRrdGraph .ui-panel .ui-panel-title{
   font-size: 9px;
}

/*Credentials Form*/
#computeCredentialsForm,#clusterForm{
   width: 500px;
}

#launch{
   height: 500px;
}

/*Panel*/

.ui-panel {
   padding: 0.0em;
   font-size: 12px;
}

.ui-panel .ui-panel-titlebar {
   padding: 0.6em 0.6em 0.6em;
   font-size: 14px;
   margin: -1px;
}

.ui-panel .ui-panel-title {
   margin: 0.1em 16px 0.1em 0;
}

.ui-panel .ui-panel-content {
   border: 0;
   background: none;
   padding: 0.2em 0.25em;
   margin-top: 0px;
   margin-left: -4px;
   margin-right: -4px;
   margin-bottom: -3px; /* -6? -8?*/
}

.styleInfoPanel .ui-panel .ui-panel-content {
   border: 0;
   background: none;
   padding: 0.2em 0.25em;
   margin-top: 0px;
   margin-left: -4px;
   margin-right: -4px;
   margin-bottom: -3px; /* -6? -8?*/
}


/*panelgrid*/

.ui-panelgrid {    
   margin: -1px;
   border-collapse: collapse;
   border:none;
   width: 100%;
   font-family: Arial,sans-serif;
   font-size: 20px;
}

.ui-panelgrid .ui-panelgrid-header {
   text-align:left;
}

.ui-panelgrid td {
   border: none;
   border-color: inherit;
   padding:4px 5px;
   font-size: 12px;
}

.ui-panelgrid tr {
   border-bottom: 1px;
   border-left: none;
   border-right: none;
}

/*datatable*/

.ui-datatable {

   border-collapse: collapse;
   width: 100%;
   font-family: Arial,sans-serif;
   /*    padding: 1px;*/

}

.ui-datatable table {
   border-collapse: collapse;
   border:none;
   font-family: Arial,sans-serif;
   font-size: 12px;
   margin-left: 0px;
   margin-right: 0px;
}

.ui-datatable th, .ui-datatable tfoot td {
   text-align:left;
   white-space:nowrap;

   padding:0px;
   margin:0px;
   overflow: hidden;
   font-size: 10px;
}

.ui-datatable-data, .ui-datatable-data-empty {}

.ui-datatable .ui-datatable-data td,
.ui-datatable .ui-datatable-data-empty td {
   border-width: 0px;
   border-style: none;
   border-color: inherit;
   padding:4px;
   padding-left: 10px;
   padding-right: 10px;   
   margin:0px;
   overflow: hidden;
}

.ui-datatable .ui-datatable-data td, .ui-datatable .ui-datatable-data-empty td {
   border-style: none;
}

.AlertsTable .ui-datatable-footer {
   text-align: left;
}


/*datagrid*/
.ui-datagrid-no-border .ui-datagrid-content {
   border: none;
}

/*file upload*/

.FileUpload .ui-widget-header{

   border: none;
   background-color: transparent;
}

.FileUpload .fileupload-content.ui-widget-content{
   border: none;   
}

.FileUpload .ui-progressbar.ui-widget.ui-widget-content{
   border-width: 1px;   
}

/*toolbar*/
.MainToolbar {
   margin-top:     -6px;
   margin-left:    -6px;
   margin-right:   -5px;
   border-radius:  0px;
   border-right:   none;
   border-left:    none;
}

.MainToolbar .ui-commandlink {
   text-decoration: none;
   font-size: 15px;
   position: relative;
   left: 5px;
   padding-right: 20px;
}


/*.SecondToolbarBad*/
.SecondToolbarBad {
   margin-top:     3px;
   margin-left:    -5px;
   margin-right:   -5px;
   margin-top:     4px;
   padding-top:    4px;    
   border-radius:  0px;
   border-right:   none;
   border-left:    none;
   background-color: pink;
   height: 32px;
}
.SecondToolbarBad .ui-commandlink {
   text-decoration: none;
   font-size: 18px;
   position: relative ;
   top: 3px;
   left: 10px;
   padding-right: 20px;
}

.SecondToolbarBad .ui-button {
   background-color: pink; 
   border:         none; 
   font-weight:    normal; 
   box-shadow:     none; 
   text-shadow:    none;
}
.SecondToolbarBad .Selected {
   height: 30px; 
   background-color: #3366CC;
   border:         none; 
   color:          white;
   font-weight:    normal; 
   border-radius:  6px; 
   box-shadow:     none;
   text-shadow:    none; 

}


/*.SecondToolbarGood*/

.SecondToolbarGood {
   margin-left:    -5px;
   margin-right:   -5px;
   margin-top:     4px;
   padding-top:    4px;
   border-radius:  0px;
   border-right:   none;
   border-left:    none;
   background-color: #B5EAAA;
   height: 32px;
}
.SecondToolbarGood .ui-commandlink {
   text-decoration: none;
   font-size: 18px;
   position: relative ;
   top: 3px;
   left: 10px;
   padding-right: 20px;
}

.SecondToolbarGood .ui-button {
   background-color: #B5EAAA; 
   border:none; 
   font-weight: normal; 
   box-shadow: none; 
   text-shadow: none;
}
.SecondToolbarGood .Selected  {
   height: 30px; 
   background-color: #3366CC;
   border: none; color:white;
   font-weight: normal; 
   border-radius: 6px; 
   box-shadow: none;
   text-shadow:none; 

}



/*Global*/
.ui-widget {
   font-size: 12px;
}

/*div host.health*/
.ui-panel .Health-Good {
   color: green;
}
.ui-panel .Health-Bad {
   color: red;
}

/*div hosts-header*/
.hosts-header {
   margin-top: 20px;
   margin-bottom: 20px;
   font-size:   14px;
   font-weight: bold;
}


/*div services-header*/
.services-header {
   margin-top: 20px;
   margin-bottom: 20px;
   font-size:   14px;
   font-weight: bold;
}


/*innerDataTable*/
.ui-datatable.innerDataTable .ui-datatable-data  {
   border-style: hidden;
}


.ui-datatable.innerDataTable table thead tr {
   display: none;
}

.ui-datatable.innerDataTable .ui-datatable-data td div.ui-dt-c {
   padding: 0px;
   background-color: transparent;
}



.alignTop {
   vertical-align: top;
}


/*CapacityUsage*/

.CapacityUsage {
   display: block;
   position: relative;
   text-align: center;
   overflow: hidden;
   margin: auto 0 auto 0;
   font-size: 11px;
   line-height: 11px;
   border: 1px solid #444;
   background-color: gray;
}

.CapacityUsage .reading {
   display: block;
   position: relative;
   z-index: 1;
   height: 12px;
   border: 1px solid transparent;
   text-align: center;
   font-weight: bold;
   color: white;
   text-shadow: #222 0 1px 2px;
}

.CapacityUsage.priorityLow .bar {
   background-color: #080;
}/*datatable*/

.CapacityUsage.priorityMed .bar {
   background-color: #AA881A;
}

.CapacityUsage.priorityHigh .bar {
   background-color: #B30000;
}

.CapacityUsage .bluebar, .CapacityUsage .greenbar, .CapacityUsage .bar {
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 100%;
}


/*Log output*/

.LogOutput td {
   padding: 0px 5px;
}

.LogOutput tr {
   border-width: 0px;
}

.LogOutput .column{
   width:50%;
   vertical-align: top;
}

.LogOutput div {
   border-width: 1px; 
   border-style: solid; 
   border-color: lightgray; 
   background-color: #F0F0F0; 
   padding: 10px; 
   border-radius: 6px;    
}

/*.AccordionPanelLink*/
.AccordionPanelLink {
   color: darkblue !important;
   z-index:2; 
   position:relative; 
   top:-10px; 
   right:8px; 
   float:right;
}

/*.PanelLink*/
.PanelLink {
   color: darkblue !important; 
   position:relative; 
   top:42px; 
   right:8px; 
   float:right;
   font-size: 13px;
}

/*CommandStatus*/

.CommandStatus_Failed {
   color: red;

}

.CommandStatus_Succeeded {
   color: green;

}

/*AlertSeverity*/

.AlertSeverity_FAILURE {
   color:red;
}

.AlertSeverity_WARNING {
   color: orange;
}

.AlertSeverity_OKAY {
   color: green;
}


.BackupPanel {
   height: 100px;
   width: 600px;
   text-align: left;
}

.RestorePanel {
   height: 180px;
   width: 600px;
   text-align: left;
}

.windows8 {
position: relative;
width: 40px;
height:40px;
margin: 5px;
}

.windows8 .wBall {
position: absolute;
width: 38px;
height: 38px;
opacity: 0;
-moz-transform: rotate(225deg);
-moz-animation: orbit 7.15s infinite;
-webkit-transform: rotate(225deg);
-webkit-animation: orbit 7.15s infinite;
-ms-transform: rotate(225deg);
-ms-animation: orbit 7.15s infinite;
-o-transform: rotate(225deg);
-o-animation: orbit 7.15s infinite;
transform: rotate(225deg);
animation: orbit 7.15s infinite;
}

.windows8 .wBall .wInnerBall{
position: absolute;
width: 5px;
height: 5px;
background: #50A6F2;
left:0px;
top:0px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-ms-border-radius: 5px;
-o-border-radius: 5px;
border-radius: 5px;
}

.windows8 #wBall_1 {
-moz-animation-delay: 1.56s;
-webkit-animation-delay: 1.56s;
-ms-animation-delay: 1.56s;
-o-animation-delay: 1.56s;
animation-delay: 1.56s;
}

.windows8 #wBall_2 {
-moz-animation-delay: 0.31s;
-webkit-animation-delay: 0.31s;
-ms-animation-delay: 0.31s;
-o-animation-delay: 0.31s;
animation-delay: 0.31s;
}

.windows8 #wBall_3 {
-moz-animation-delay: 0.62s;
-webkit-animation-delay: 0.62s;
-ms-animation-delay: 0.62s;
-o-animation-delay: 0.62s;
animation-delay: 0.62s;
}

.windows8 #wBall_4 {
-moz-animation-delay: 0.94s;
-webkit-animation-delay: 0.94s;
-ms-animation-delay: 0.94s;
-o-animation-delay: 0.94s;
animation-delay: 0.94s;
}

.windows8 #wBall_5 {
-moz-animation-delay: 1.25s;
-webkit-animation-delay: 1.25s;
-ms-animation-delay: 1.25s;
-o-animation-delay: 1.25s;
animation-delay: 1.25s;
}

@-moz-keyframes orbit {
0% {
opacity: 1;
z-index:99;
-moz-transform: rotate(180deg);
-moz-animation-timing-function: ease-out;
}

7% {
opacity: 1;
-moz-transform: rotate(300deg);
-moz-animation-timing-function: linear;
-moz-origin:0%;
}

30% {
opacity: 1;
-moz-transform:rotate(410deg);
-moz-animation-timing-function: ease-in-out;
-moz-origin:7%;
}

39% {
opacity: 1;
-moz-transform: rotate(645deg);
-moz-animation-timing-function: linear;
-moz-origin:30%;
}

70% {
opacity: 1;
-moz-transform: rotate(770deg);
-moz-animation-timing-function: ease-out;
-moz-origin:39%;
}

75% {
opacity: 1;
-moz-transform: rotate(900deg);
-moz-animation-timing-function: ease-out;
-moz-origin:70%;
}

76% {
opacity: 0;
-moz-transform:rotate(900deg);
}

100% {
opacity: 0;
-moz-transform: rotate(900deg);
}

}

@-webkit-keyframes orbit {
0% {
opacity: 1;
z-index:99;
-webkit-transform: rotate(180deg);
-webkit-animation-timing-function: ease-out;
}

7% {
opacity: 1;
-webkit-transform: rotate(300deg);
-webkit-animation-timing-function: linear;
-webkit-origin:0%;
}

30% {
opacity: 1;
-webkit-transform:rotate(410deg);
-webkit-animation-timing-function: ease-in-out;
-webkit-origin:7%;
}

39% {
opacity: 1;
-webkit-transform: rotate(645deg);
-webkit-animation-timing-function: linear;
-webkit-origin:30%;
}

70% {
opacity: 1;
-webkit-transform: rotate(770deg);
-webkit-animation-timing-function: ease-out;
-webkit-origin:39%;
}

75% {
opacity: 1;
-webkit-transform: rotate(900deg);
-webkit-animation-timing-function: ease-out;
-webkit-origin:70%;
}

76% {
opacity: 0;
-webkit-transform:rotate(900deg);
}

100% {
opacity: 0;
-webkit-transform: rotate(900deg);
}

}

@-ms-keyframes orbit {
0% {
opacity: 1;
z-index:99;
-ms-transform: rotate(180deg);
-ms-animation-timing-function: ease-out;
}

7% {
opacity: 1;
-ms-transform: rotate(300deg);
-ms-animation-timing-function: linear;
-ms-origin:0%;
}

30% {
opacity: 1;
-ms-transform:rotate(410deg);
-ms-animation-timing-function: ease-in-out;
-ms-origin:7%;
}

39% {
opacity: 1;
-ms-transform: rotate(645deg);
-ms-animation-timing-function: linear;
-ms-origin:30%;
}

70% {
opacity: 1;
-ms-transform: rotate(770deg);
-ms-animation-timing-function: ease-out;
-ms-origin:39%;
}

75% {
opacity: 1;
-ms-transform: rotate(900deg);
-ms-animation-timing-function: ease-out;
-ms-origin:70%;
}

76% {
opacity: 0;
-ms-transform:rotate(900deg);
}

100% {
opacity: 0;
-ms-transform: rotate(900deg);
}

}

@-o-keyframes orbit {
0% {
opacity: 1;
z-index:99;
-o-transform: rotate(180deg);
-o-animation-timing-function: ease-out;
}

7% {
opacity: 1;
-o-transform: rotate(300deg);
-o-animation-timing-function: linear;
-o-origin:0%;
}

30% {
opacity: 1;
-o-transform:rotate(410deg);
-o-animation-timing-function: ease-in-out;
-o-origin:7%;
}

39% {
opacity: 1;
-o-transform: rotate(645deg);
-o-animation-timing-function: linear;
-o-origin:30%;
}

70% {
opacity: 1;
-o-transform: rotate(770deg);
-o-animation-timing-function: ease-out;
-o-origin:39%;
}

75% {
opacity: 1;
-o-transform: rotate(900deg);
-o-animation-timing-function: ease-out;
-o-origin:70%;
}

76% {
opacity: 0;
-o-transform:rotate(900deg);
}

100% {
opacity: 0;
-o-transform: rotate(900deg);
}

}

@keyframes orbit {
0% {
opacity: 1;
z-index:99;
transform: rotate(180deg);
animation-timing-function: ease-out;
}

7% {
opacity: 1;
transform: rotate(300deg);
animation-timing-function: linear;
origin:0%;
}

30% {
opacity: 1;
transform:rotate(410deg);
animation-timing-function: ease-in-out;
origin:7%;
}

39% {
opacity: 1;
transform: rotate(645deg);
animation-timing-function: linear;
origin:30%;
}

70% {
opacity: 1;
transform: rotate(770deg);
animation-timing-function: ease-out;
origin:39%;
}

75% {
opacity: 1;
transform: rotate(900deg);
animation-timing-function: ease-out;
origin:70%;
}

76% {
opacity: 0;
transform:rotate(900deg);
}

100% {
opacity: 0;
transform: rotate(900deg);
}

}