/* 
    Document   : bbc
    Created on : Oct 22, 2013, 3:46:27 PM
    Author     : Hamidreza Afzali <afzali@kth.se>
    Description:
*/


#HomeTabView {
    border-width: 0px;
}

.BbcMainLayout {
    text-align: center;
    height: 640px;
}

.BbcMainLayout .BbcPanel {
    width: 700px; 
    margin: 0 auto;
}

.BbcMainLayout .ui-widget-content {
    border-width: 0px;   
}

.BbcNewSamplePanel  {
    margin: 0 auto;
    border: 0px;
    height: 520px;
}

.sideMenuItem {
    margin: 2px;
    padding: 5px; 
    display: block;
    height: 35px;    
    background-repeat:no-repeat;    
}
.sideMenuItem.Home {
    background-image: url("#{resource['images/bbc/home-dark.png']}");
}
.sideMenuItem.Home:hover {
    background-image: url("#{resource['images/bbc/home-light.png']}");
}
.sideMenuItem.New {
    background-image: url("#{resource['images/bbc/new-sc-dark.png']}");
}
.sideMenuItem.New:hover {
    background-image: url("#{resource['images/bbc/new-sc-light.png']}");
}
.sideMenuItem.Find {
    background-image: url("#{resource['images/bbc/find-sc-dark.png']}");
}
.sideMenuItem.Find:hover {
    background-image: url("#{resource['images/bbc/find-sc-light.png']}");
}

.sideMenuItem.User {
    background-image: url("#{resource['images/bbc/new-sc-dark.png']}");
}


.ButtonsOnRight {
    float: right; 
    margin-top: 5px; 
    margin-bottom: 5px;
}



.button-success,
.button-error,
.button-warning,
.button-secondary {
          color: white;
          border-radius: 4px;
          text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        }

        .button-success {
            font-family:'Verdana',Arial,sans-serif;
            height: 25px;
            width: 110px;
            background: rgb(28, 184, 65); /* this is a green */
        }

        .button-error {
            background: rgb(202, 60, 60); /* this is a maroon */
        }

        .button-warning {
            background: rgb(223, 117, 20); /* this is an orange */
        }

        .button-secondary {
            background: rgb(66, 184, 221); /* this is a light blue */
}

.styled-button-10 {
	background:#5CCD00;
	background:-moz-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#5CCD00),color-stop(100%,#4AA400));
	background:-webkit-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
	background:-o-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
	background:-ms-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
	background:linear-gradient(top,#5CCD00 0%,#4AA400 100%);
	filter: progid DXImageTransform.Microsoft.gradient( startColorstr='#5CCD00', endColorstr='#4AA400',GradientType=0);
	padding:5px 10px;
	color:#fff;
	font-family:'Helvetica Neue',sans-serif;
	font-size:14px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:1px solid #459A00
}

.StudyBlock {
    font-size: 14px;
    width: 450px;
    height: 450px;
    margin: 0 auto;
    margin-top: 50px;
    border-width: 1px; 
    border-style: solid; 
    border-color: lightgray; 
    background-color: #F0F0F0; 
    border-radius: 2px;  
    padding: 10px;   
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav > li {
  position: relative;
  display: block;
}
.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #eee;
}
.nav > li.disabled > a {
  color: #777;
}
.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
  color: #777;
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #eee;
  border-color: #428bca;
}
.nav .nav-divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.nav > li > a > img {
  max-width: none;
}

.nav-tabs {
  border-bottom: 1px solid #ddd;
}

.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}
.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}
.nav-tabs > li > a:hover {
  border-color: #eee #eee #ddd;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}
.nav-tabs.nav-justified {
  width: 100%;
  border-bottom: 0;
}
.nav-tabs.nav-justified > li {
  float: none;
}
.nav-tabs.nav-justified > li > a {
  margin-bottom: 5px;
  text-align: center;
}
.nav-tabs.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}


.RequiredNotice {
    color: red;
}

.newSampleGeneralInfoPanelGrid  td {
    vertical-align: top;
}


.BbcAccordion .ui-accordion-header {
    height: 22px;
    text-align: left;
}

.BbcAccordion .ui-accordion-content {
    padding: 0px;
}


.BbcInnerPanel .ui-widget-header{
    height: 10px;
}

.newSampleContactPanelGrid {
    background-color: #F0F0F0 ;   /* light gray */
    width: 100%; 
    text-align: left;    
}

.newSampleContactPanelGrid .ui-inputtext {
    width: 280px;
}

.newSampleSampleCollectionPanelGrid {
    text-align: left;
}

.newSampleSampleCollectionPanelGrid td{
    vertical-align: top;    
}

.findSampleSampleCollectionPanelGrid {
    text-align: left;
}

.findSampleSampleCollectionPanelGrid td{
    vertical-align: top;    
}

.LabelExample {
    width: 280px;
    display: block;
    font-size: 9px;
    color: gray;
}

.thinToolbar {
    border: 0px;
    padding: 0px;
}

.thinToolbar .ui-button {
    height: 25px;
}

.BbcFieldSet .ui-fieldset-legend {
    background-color: white;
    padding: 0px;
    border: 0px;
    text-align: left;
}

.BbcFieldSet .MainLabel {
    display: block;
    width: 100px;
}

.newSampleSamplesPanelGrid {
    text-align: left;
    width: 100%
}

.newSampleSamplesPanelGrid td{
    vertical-align: top;    
}

.newSampleSampleDonorsPanelGrid {
    text-align: left;
}

.newSampleSampleDonorsPanelGrid td{
    vertical-align: top;    
}


.dataList .ui-datalist-data{
    border: none;
    background: transparent;
    background-image: none;
}

ui-wizard {
        margin:0;
        padding:0;
}

.ui-wizard-content {
        margin:3px 0;
}

.ui-wizard-navbar {
        text-align: right;
}

.ui-wizard-nav-back, 
.ui-wizard-nav-next {
        cursor: pointer;
}

.ui-wizard-nav-back {
        float:left;
}

.ui-wizard-nav-next {
        float:right;
}

.ui-wizard-step-title {
    font-size: 18px;
    margin:0 3px 0 0;
    padding:0.4em;
    float:left;
}