/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 15, 2014, 2:39:43 PM
    Author     : roshan
*/

.ui-widget, .ui-widget .ui-widget .ui-widget-content {
    //font-size: 70% !important;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    
    
}


.ui-tabs{
    
     width: 90% !important;
     display: block;
     height: auto;
     padding: 0em !important;
}

.ui-tabs .ui-tabs-nav{
    width: 90% !important;
    height: auto;
    display: block;
    border-bottom: 1px solid #ddd;
    margin-bottom: 8px;
    padding-left: 8px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-top: 0px;
    list-style: none;
    list-style-type: none;
    list-style-position: outside;
    list-style-image: none; 
}

.ui-tabs .ui-tabs-panel .ui-widget-content{
     width: 90% !important;
     line-height: 20px;
     float: left;
     display: block;
     height: auto;
     margin-bottom: -1px;
     
 }
 
.ui-tabs .ui-tabs-nav li.ui-tabs-selected { 
    padding-bottom: 0; 
    border-right-width: 1px; 
    border-right-width: 1px; 
}

.ui-tabs .ui-tabs-panels{
     display: block;
     width: 90% !important;
     min-height: 100%;
     height: auto; 
     margin: 0 0 0 0 !important;
     padding-bottom: 0px !important;
     padding-left: 0px !important;
     padding-right: 0px !important;
     padding-top: 0px !important;
}

.ui-tabs .ui-tabs-panel{
     position: relative; 
     display: block;
     width: 90% !important;
     min-height: 100%;
     height: auto; 
     margin: 0 !important;
     padding: 0 !important;
     zoom:1;
    
}

.ui-tabs .ui-widget-content{
    
     display: block;
     width: 90% !important;
     min-height: 100%;
     height: auto; 
     margin: 0 0 0 0 !important;
     padding: 0 !important;
    
}

.ui-tabs-panel.disabled{color:#888;}
.ui-tabs-panel.smoke{background-color:#f5f5f5;}