/* 
    Created on : 12-sep-2014, 10:24:52
    Author     : Stig
*/


.UserProfile {
    min-height: 900px;
    height: auto !important;
    margin-top:50px;
    margin-left: 300px;
    margin-right: 300px;
   // background-color: #F5F5F5;
}

.PersonalInfo{
    background-color: #FFF;
    text-align: left;
    color: #4184F3;
    font-weight: 500;
    line-height: 1; 
 }

.PersonalInfo .h2 {
    color: rgba(0, 0, 0, 0.87);
    font-weight: 400;
}

.ui-panelgrid .ui-panelgrid-cell {
    border-width: 0px;
    padding: 1px;
}



.UserProfile .ui-widget-content {
    border-width: 0px;  
    overflow-y: hidden;
    overflow-x: hidden;
    //overflow-y: auto;
    //////////////////////
}


.command_link {
    margin-left: 10px;
    color:#1385e5 !important;
    text-decoration: underline;
}



.AddressInfo{
    
    padding-top: 10px; 
    padding-left: 10px; 
    padding-right: 10px;
    
}

.Info {
    
    padding-top: 10px; 
    padding-left: 10px; 
    padding-right: 10px;
    
}


.PersonalInfo {
    text-align: left;
    color: #4184F3;
    font-weight: 500;
    line-height: 1;
}

