/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 17, 2014, 12:05:16 PM
    Author     : Ali Gholami <gholami@pdc.kth.se>
*/

.new_user{
    width: 50%;
    min-height: 400px;
    height: auto !important;
    margin-bottom: 18px;
    font-size: 12px;
    font-weight:bold;
}

.register_user{
    padding-top: 17px;
    padding-right: 20px;
    padding-bottom: 18px;
    padding-left: 165px;
    margin-top: 18px;
    margin-bottom: 18px;
    background-color: #f5f5f5;
    border-top: 1px solid #e5e5e5;
    width: 970px;
    height: 28px;
}
