/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 17, 2014, 12:05:16 PM
    Author     : Ali Gholami <gholami@pdc.kth.se>
*/

body {
    margin: 5px;
    font-family: Arial,sans-serif;
    background-color: white;
}

.ui-widget, .ui-widget .ui-widget .ui-widget-content {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;  
    font-weight:bold;
}

.RegistrationMainLayout {
    text-align: center;
}

#mobile_user_guide{
    font-weight:bold;
    text-align: left;
    margin: auto;  
    width: 500px;
}


.new_user{
    width: 50%;
    min-height: 400px;
    height: auto !important;
    margin-bottom: 18px;
    font-size: 12px;
    font-weight:bold;
}

.register_user{
    padding-top: 17px;
    padding-right: 20px;
    padding-bottom: 18px;
    padding-left: 165px;
    margin-top: 18px;
    margin-bottom: 18px;
    background-color: #f5f5f5;
    border-top: 1px solid #e5e5e5;
    width: 400px;
    height: 28px;
}


.register_banner{
    padding-top: 17px;
    padding-right: 20px;
    padding-bottom: 18px;
    padding-left: 165px;
    margin-top: 18px;
    margin-bottom: 18px;
    background-color: #f5f5f5;
    border-top: 1px solid #e5e5e5;
    width: 400px;
    height: 28px;
}

.register_banner .ui-button {
  margin-left: 10px;
  min-width: 50px;
}

/* 
    Document   : bbc
    Created on : Oct 22, 2013, 3:46:27 PM
    Author     : Hamidreza Afzali <afzali@kth.se>
    Description:
*/


#HomeTabView {
    border-width: 0px;
}


.RegistrationMainLayout {
    text-align: center;
  
}
.RegistrationMainLayout .ui-widget-content {
    border-width: 0px;  
    overflow-y: hidden;
    overflow-x: hidden;
 }


.RegistrationMainLayout::-webkit-scrollbar {
 display: none;
}

.RegistrationMainLayout .ui-layout-unit-content{
    
}


.ButtonsOnRight {
    float: right; 
    margin-top: 5px; 
    margin-bottom: 5px;
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
          color: white;
          border-radius: 4px;
          text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        }

        .button-success {
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            -webkit-transition-property: background;
            -moz-transition-property: background;
            -o-transition-property: background;
            transition-property: background;
            -webkit-transition-duration: 0.3s;
            -moz-transition-duration: 0.3s;
            -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
            font-weight: normal;
            font-size: 11px;
            font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
            margin-right: 7px;
            text-decoration: none;
            text-align: center;
            display: inline-block;   
            vertical-align: middle;
            background-color: #2b2;
            //background-image: linear-gradient(to bottom, #62c462, #51a351);
            //color: #fff;
            text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
            padding:4px 10px;
            border-radius:5px;
            -moz-border-radius:5px;
            -webkit-border-radius:5px;
            border:1px solid #459A00;
            margin-left: 10px;
            margin-bottom: 8px;
            margin-right: 0px;
            margin-top: 0px;
            width: auto;
            line-height: 20px;
            
        }

        .button-error {
            background: rgb(202, 60, 60); /* this is a maroon */
        }

        .button-warning {
            background: rgb(223, 117, 20); /* this is an orange */
        }

        .button-secondary {
            background: rgb(66, 184, 221); /* this is a light blue */
}


.btn_disabled {
        cursor: default;
        background-color: #e6e6e6;
        background-image: none;
        opacity: 0.65;
        filter: alpha(opacity=65);
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        display: inline-block;
        padding: 4px 12px;
        margin-bottom: 0;
        font-size: 13px;
        line-height: 18px;
        text-align: center;
        vertical-align: middle;
}


.ui-datatable-tablewrapper{
    
    border: 1px solid #DDD;
    height: auto !important;
}

.styled-button-10 {
        
        border-top-color: rgb(187, 187, 187);
        border-right-color: rgb(187, 187, 187);
        border-bottom-color: rgb(187, 187, 187);
        border-left-color: rgb(187, 187, 187);
	text-shadow: 0 1px 1px rgba(255,255,255,0.75);
        background-color: #f5f5f5;
        color: #474d57;
	padding:2px 6px 2px 6px;
	color:#333;
	font-family:'Helvetica Neue',sans-serif;
	font-size:11px;
	border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
/*	-moz-border-radius:5px;
	-webkit-border-radius:5px;*/
	border:1px solid #ccc;
        width: 85px;
        height: 22px;
        display: inline-block;
        //line-height: 0.6em;
        margin-top: 2px;
        margin-right: 2px;
        margin-bottom: 2px;
        margin-left: 2px;
        background-image: -webkit-linear-gradient(#f7f7f7, #d5d5d5);
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
        vertical-align: middle;
        text-align: match-parent;
        cursor: pointer;
        //background-repeat: repeat-x;
}
 
.page_title .button-add {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        -webkit-transition-property: background;
        -moz-transition-property: background;
        -o-transition-property: background;
        transition-property: background;
        -webkit-transition-duration: 0.3s;
        -moz-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        transition-duration: 0.3s;
        background-color: #5bb75b; 
        font-weight: normal;
        font-size: 16px;
        font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        margin-right: 7px;
        text-decoration: none;
        text-align: center;
        display: inline-block;   
        vertical-align: middle;
        border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
        background-image: linear-gradient(to bottom, #62c462, #51a351);
        color: #fff;
        text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
        padding:6px 10px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:1px solid #459A00;
        margin-left: 10px;
        margin-right: 0px;
        margin-top: 0px;
        width: auto;
        line-height: 20px;
    }

.button-add-team {
        background: #00B233;
    }
.button-add-team:hover {
         background: #00BD36;
    }

    
.button-add-data {
         background: #00B233;
 }

.button-add-data:hover {
        background: #00BD36;
    }        
        
        
.content .span4 .nav{
   
/*    width: 368px;
    height: 54px;
    list-style-type: none;
    list-style-position: outside;
    list-style-image: none;
    display: block;*/
/*    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;*/
    //float: left;
/*    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;*/
    
    width: 360px;
    height: 35px;
    display: block;
    border-bottom: 1px solid #ddd;
    margin: 0 0 0 0;
    padding-left: 8px;
    list-style:none;
    list-style-type: none;
    list-style-position: outside;
    list-style-image: none;
}


.ui-tabs-nav .nav{
    
    width: 360px;
    height: 35px;
    display: block;
    border-bottom: 1px solid #ddd;
    margin: 0 0 0 0;
    padding-left: 8px;
    list-style:none;
    list-style-type: none;
    list-style-position: outside;
    list-style-image: none;
}


/*.span4 .nav {
    display:block;
    //list-style-type: disc;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
     width: 368px;
     height: auto;
     float:left;
     list-style: none;
    
}*/


.content .nav{
    
    display: block;
    width: 90%;
    height: 37px;
    margin-left: 0;
    margin-bottom: 18px;
    list-style: none;
    border-bottom: 1px solid #ddd;
    padding: 0 0 0 0;
}

.nav:before, .nav:after{

    display: table;
    content: "";
    line-height: 0;
}

/*.span4 ul {
    display:block;
    //list-style-type: disc;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
     width: 368px;
     height: auto;
     float:left;
     list-style: none;
    
}*/

.main_menu {
   
    padding: 0 0 0 0;
    margin-bottom: 30px;
    margin-top: 10px;
    border-bottom: 1px solid #ddd;
    width: 100%;
    height: 37px;
    position: relative;
    overflow: hidden;
}

.study_new_holder{
    
    display: inline-block;
    width: 90%;
    height: 207px;
}

.page_title {
    float: left;
    color: #456;
    font-size: 20px;
    font-weight: normal;
    line-height: 28px;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
    width: 100%;
 }
 
hr {
    line-height: 0px;
    margin-top: 18px;
    margin-right: 0px;
    margin-bottom: 18px;
    margin-left: 0px;
    border-top-color: rgb(238, 238, 238);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: initial;
    border-right-style: initial;
    border-right-width: 0px;
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-style: solid;
    border-left-color: initial;
    border-left-style: initial;
    border-left-width: 0px;
    border-top: 1px solid #eee;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(238, 238, 238);
    border-bottom: 1px solid #fff;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(255, 255, 255);
}


.clear_fix{
    width: 90%;
    height: 45px;
    margin-bottom: 18px;
}

.clear_fix:before, .clear_fix:after{
    clear:both;
    display: table;
}


.clear_fixing{
     height: auto !important;
    
}

h6{
    
    line-height: 36px;
    color: #888;
    text-transform: uppercase;
    margin: 0 0 0 0;
    font-size: 11.05px;
    font-family: inherit;
    font-weight: bold;
    text-rendering: optimizelegibility;
    display: block;
}

.clear_fixing label{
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    width: 160px;
    margin: 5px;
    float: left;
    padding-top: 5px;
    text-align: right;
}

.actions{
    
    padding-top: 17px;
    padding-right: 0px;
    padding-bottom: 18px;
    padding-left: 6%;
    margin-top: 18px;
    margin-bottom: 18px;
    background-color: #f5f5f5;
    border-top: 1px solid #e5e5e5;
    height: 28px;
}


.team_button {
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        border-radius: 3px;   
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        -webkit-transition-property: background;
        -moz-transition-property: background;
        -o-transition-property: background;
        transition-property: background;
        -webkit-transition-duration: 0.3s;
        -moz-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        transition-duration: 0.3s;
        color: #ffffff;
        text-shadow: none;
        border: none;
        height: 32px;
        line-height: 32px;
        padding: 0px 25.6px;
        font-weight: normal;
        font-size: 14px;
        font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        margin: 0;
        text-decoration: none;
        vertical-align: middle;
        text-align: center;
        display: inline-block;
        
}

 .button-save {
        background: #0971B2;
        float: left;
    }
 .button-save:hover {
        background: #0B88D6;
 }

.button-cancel {
        background: #da4f49;
}
.button-cancel:hover {
        background: #FF530D;
}

.new_member_content .clear_fixing{
    width: 90%;
    height: 34px;
    margin-bottom: 18px;
    
}


.nothing_here_message {
    text-align: center;
    padding: 5%;
    color: #666;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    width: 90%;
}

.very_small {
    font-size: 11px;
    padding: 2px 6px;
    line-height: 16px;
    margin: 2px;
}


.danger {
    
    border-top-color: rgb(189, 54, 47);
    border-right-color: rgb(189, 54, 47);
    border-bottom-color: rgb(189, 54, 47);
    border-left-color: rgb(189, 54, 47);
    background-color: #db4f4a;
    
}

.owner {
    
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(34, 187, 34);
}



.btn {
    
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    vertical-align: middle;
    cursor: default;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #fff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #fff, #e6e6e6);
    background-image: -o-linear-gradient(top, #fff, #e6e6e6);
    background-image: linear-gradient(to bottom, #fff, #e6e6e6);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFE6E6E6', GradientType=0);
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    border: 1px solid #bbb;
    //border-bottom-color: #a2a2a2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    float: left !important;
}



.icon-minus{content:"\f068"; width: 9px;height: 11px; color:#333;}

.icon-minus:before{width: 9px;height: 6px;}


.content > .team_table{
    display: block;
    width: 90% !important;
    min-height: 1170px;
    height: auto !important;
}

/*.team_table .ui_box{
    display: block;
    border-top-color: rgb(204, 204, 204);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(204, 204, 204);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(204, 204, 204);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(204, 204, 204);
    border-left-style: solid;
    border-left-width: 1px;
    box-shadow: 0 0 0 3px #f1f1f1;
    background: #F9F9F9;
    margin-bottom: 25px;
    min-height: 440px;
    height: auto !important;
    width: 1168px !important;
}



.ui_box .title {
     width: 1148px;
     height: 36px;
     padding: 0 10px 0 10px;
     border-bottom: 1px solid #ccc;
     margin: 0 0 0 0;
}
.study_name_holder{
    
    display: block;
    width: 1170px;
    height: 45px;
}

.well-list {
    
    display: inline-block;
    width: 1168px !important;
    //min-height: 401px;
    height: auto !important;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    list-style: none;
}

.ui_box .team_member_row{
    
    width: 1148px;
    height: 46px;
    background-color: #FFF;
    padding: 10px 10px 10px 10px;
    min-height: 20px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.0470588);
    list-style: none;
    display: list-item;
    text-align: -webkit-match-parent;
    float: left;
    
    
}
*/

.team_table > .ui_box{
    display: block;
    border-top-color: rgb(204, 204, 204);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(204, 204, 204);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(204, 204, 204);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(204, 204, 204);
    border-left-style: solid;
    border-left-width: 1px;
    box-shadow: 0 0 0 1px #f1f1f1;
    background: #F9F9F9;
    margin-bottom: 25px;
/*    min-height: 440px;*/
    height: auto !important;
}





.ui_box > .title {
    width: 99%;
     height: 36px;
     padding: 0 0 0 1%;
     border-bottom: 1px solid #ccc;
     margin: 0 0 0 0;
}
.study_name_holder{
    
    display: block;
    width: 90%;
    height: 45px;
}

.ui_box .well-list {
    
    display: inline-block;
    width: 100%;
/*    min-height: 401px;*/
    height: auto;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    
}

.team_member_row{
    
    width: 99%;
    height: 46px;
    background-color: #FFF;
    padding: 0.5% 0.5% 0.5% 0.5%;
    min-height: 20px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.0470588);
    list-style: none;
    display: list-item;
    text-align: -webkit-match-parent;
    float: left;    
}

.browser_row{    
    background: none repeat scroll 0% 0% #FAFAFA;
}

.browser_row:hover{
    background:#d9edf7;border-bottom:1px solid #adf;
}

label{
    
    float: left;
    width: 160px;
    padding-top: 5px;
    text-align: right;
    display: block;
    margin-bottom: 5px;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    cursor: default;
    
}

.clear_fixing .input{
   
   display: block;
   margin-left: 180px;
   width: 75%;
   height: auto !important;
   
}

.input{
   
   display: block;
   margin-left: 180px;
   width: 75%;
   height: 45px;
   
}

.input .xxlarge{
    
    width: 540px;
    height: 18px;
    border-bottom: 1px;
    border-left: 2px;
    border-right: 2px;
    border-top: 2px;
    margin-bottom: 9px;
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(238, 238, 238);
    float: left;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: left;
}


.input .styled-button {
	background:#5CCD00;
	background:-moz-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#5CCD00),color-stop(100%,#4AA400));
	background:-webkit-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
	background:-o-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
	background:-ms-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
	background:linear-gradient(top,#5CCD00 0%,#4AA400 100%);
	filter: progid DXImageTransform.Microsoft.gradient( startColorstr='#5CCD00', endColorstr='#4AA400',GradientType=0);
	padding:6px 10px;
	color:#fff;
	font-family:'Helvetica Neue',sans-serif;
	font-size:16px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:1px solid #459A00;
        margin-left: 10px;
        margin-bottom: 8px;
        margin-right: 0px;
        margin-top: 0px;
        width: auto;
        line-height: 20px;
}

.padded{
    
    width: 1130px;
    height: 18px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    
}

.event-item {
    //border-bottom: 1px solid #eee;
    width: 100%;
    height: 18px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(238, 238, 238);
    padding-top: 16px;
    padding-right: 5px;
    padding-bottom: 16px;
    padding-left: 5px;
    display: block;
}


.study_content_list .event-item {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(238, 238, 238);
    padding-top: 16px;
    padding-right: 1%;
    padding-bottom: 16px;
    padding-left: 1%;
    width: 98%;
    height: 18px;
    
}
.event-item .event-title {
    color: #333;
    font-weight: bold;
    display: block;
    width: 75%px;
    height: 18px;
    
}

.event-item .event-title .author_name {
    color: #333;
}

.event-item .event-title .author_name a {
    text-decoration: none;
    outline-color: initial;
    outline-style: none;
    outline-width: initial;
    color: #3a89a3;
}

.event-item .event-title a {
   font-weight: bold;
    color: #3a89a3;
    text-decoration: none;
}


strong {
    font-weight: bold;
    color: #3a89a3;
}

a:-webkit-any-link {
    text-decoration: underline;
    cursor: auto;
}

.event-item .avatar {
    position: relative;
    top: -3px;
}

.event_label .merged {

    padding-top: 0px;
    padding-right: 2px;
    padding-bottom: 0px;
    padding-left: 2px;
}

.cgray{
    color: gray;
}

.dark .cgray{
    color: gray;
    float:left;
}

.tiny {
    font-weight: normal;
    color: #3a89a3;
    }

.event-item img {
    max-width: 100%;
    width: auto;
    height: auto;
    //vertical-align: middle;
/*    border: 0;
    -ms-interpolation-mode: bicubic;*/
    width: 24px;
    height: 24px;
    margin-right: 8px;
    float: left;
    
}

img .avatar .s24 {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    float: left;
}

img .avatar .s36 {
    width: 36px;
    height: 36px;
    margin-right: 10px;
    padding: 1px 1px 1px 1px;
    border: 1px solid #ddd;
    float: left;
    vertical-align: middle;
}

img .browser .s16 {
    width: 16px ;
    height: 16px;
    margin-right: 25px;
    margin-left: 25px;    
    padding: 1px 1px 1px 1px;
    border: 1px solid #ddd;
    float: left;
    vertical-align: middle;
}

.spanFb img {
    max-width: 100%;
    width: auto;
    height: auto;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-left: 10px;
    float: left;
    padding: 1px 1px 1px 1px;
    float: left;
    vertical-align: middle;
    
}

.span6 img {
    max-width: 100%;
    width: auto;
    height: auto;
    width: 36px;
    height: 36px;
    margin-right: 10px;
    float: left;
    padding: 1px 1px 1px 1px;
    border: 1px solid #ddd;
    float: left;
    vertical-align: middle;
    
}


.event-item img .avatar {
    float: left;
/*    margin-right: 12px;*/
/*    width: 40px;*/
    border-top-color: rgb(221, 221, 221);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(221, 221, 221);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(221, 221, 221);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(221, 221, 221);
    border-left-style: solid;
    border-left-width: 1px;
    padding-top: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
    padding-left: 1px;
/*    border-top-color: rgb(221, 221, 221);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(221, 221, 221);*/
}

.event-item .avatar {
    position: relative;
    top: -3px;
    float: left;
}

/* .projects_box .nav-projects-tabs li {
    padding: 0;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}*/


.nav .active{
     min-width: 76px;
     line-height: 20px;
     float: left;
     display: block;
     width: auto;
     margin-bottom: -1px;
    
}

/* #active li {
    display: list-item;
    //text-align: -webkit-match-parent;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-bottom: -1px;
    list-style: none;
    text-align: -webkit-match-parent;
    padding-bottom: 6px;
    padding-top: 6px;
    padding-left: 25px;
    padding-right: 25px;
    border-width: 1px;
    margin-top: 2px;
    margin-right: 7px;
    
    
}*/


/*#nav li {
    
    display: list-item;
    //text-align: -webkit-match-parent;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-bottom: -1px;
    list-style: none;
    text-align: -webkit-match-parent;
    padding-bottom: 6px;
    padding-top: 6px;
    padding-left: 25px;
    padding-right: 25px;
    border-width: 1px;
    margin-top: 2px;
    margin-right: 7px;
    vertical-align: middle;
    
}*/

.nav > li > a {
        display: block;
        text-align: center;
        text-shadow: 0 1px 1px #fff;
        outline-style: none;
        outline-color: initial;
        outline-style: none;
        outline-width: initial;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        text-decoration: none;
        min-width: 17px;
        min-height: 20px;
        width: auto;
        height: auto;
        //border-color: #CCC;
        border-bottom: 1px solid;
        border-bottom-color: rgba(0, 0, 0, 0.0470588);
        border-top: 1px solid #DDD;
        border-left: 1px solid #DDD;
        border-right: 1px solid #DDD;
        color: #333;
        padding-bottom: 6px;
        padding-top: 6px;
        padding-left: 25px;
        padding-right: 25px;
        margin-top: 2px;
        margin-right: 7px;
        font-size: 13px;
        font-weight: bold;
        cursor:  default;
        background-color: #eee;
        color: #555;
}

/*.nav > li > a:link {
    background-color: #CCC;
}*/

.nav > li > a:hover {
    background-color: #eee;
    text-decoration: none;
    text-shadow: 0 1px 1px #fff;
    border-top-color: rgb(221, 221, 221);
    border-top-style: solid;
    border-top-width: 1px;
    

}


/*.nav > li > a:visited{
    background-color: #EEE;
    border-bottom-color: #FFF;
}*/


/*.nav .nav-tabs li.active>a, .nav .nav-projects-tabs li.active>a {
            border-color: #CCC;
            border-bottom: 1px solid #fff;
            color: #333;
}*/



.nav-study-tabs{
    
    margin: 0 0 0 0;
    display: inline-block;
    //list-style-type: disc;
    //position: relative;
    float: left;
    width: 368px;
    height: 54px;
    
}

.nav-study-tab:before, nav-study-tab:after {
    display: table;
    content: "";
    line-height: 0;
    clear: both;
}

/*nav>li>a:hover{text-decoration:none;background-color:#eee}*/

.container{
    display: block;
    //min-height: 2880px;
    //min-height: 100%;
    height: auto !important;
/*    margin-left: 300px;
    margin-right: 367.5px;*/
    padding-top: 0;
    z-index: 5;
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
 }

.container:before, .container:after {
    display: table;
    content: "";
    line-height: 0;
    clear: both;
/*    width: 198px;
    height: 35px;*/
}

.content{
    display: inline-block;
    width:100%;
    //min-height: 2802px;
    //min-height: 100%;
    height: auto !important;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    
/*    position: absolute;*/
}


.content_project{
    
    display: block;
    width:90%;
    height: 207px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.container .content_study{
    display: block;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #333;
}

.content_list{
    display: block;
    width:75%;
    height: 2802px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.study_content_list{
    display: block;
    //height: 2802px;
    min-height: 100%;
    height: auto;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    
}

.right_button {
    width: auto;
    line-height: 24px;
    float: right;
    position: relative;
    
}

.event-item .right {
    
    float: right !important;
    width: auto;
    height: 36px;
}

.right{
    
    float: right !important;
    width: 89px;
    height: 36px;
}

.left{
    //float: left;
    display: inline-block;
    width: 170px;
    height: 46px;
    
}

.last_activity{
    padding-top: 5px;
    display: block;
    line-height: 18px;
    width: 100%;
}


.new_member_content{
    height: auto !important;
    margin-bottom: 18px;
    
}

.new_user_content{
    width: 50%;
    min-height: 400px;
    height: auto !important;
    margin-bottom: 18px;
    overflow-y: auto;
}

.new_user_content .clear_fixing{
    
    width: 90%;
    height: auto !important;
    margin-bottom: 18px;
    
}

.input .chosen{
    
    border: 1px solid #ccc;
    background-color: #fff;
    line-height: 28px;
    font-size: 13px;
    width: 516px;
    height: auto;
    padding: 4px 6px 4px 6px;
}

.left .study_role_assign{
    
    width: 170px;
    height: 28px;
    border: 1px solid #ccc;
    background-color: #fff;
    position: relative;
    display: inline-block;
    zoom: 1;
    margin-bottom: 0;
    vertical-align: middle;
    text-align: left;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.input .study_role_assign{
    
    width: 220px;
    height: 28px;
    border: 1px solid #ccc;
    background-color: #fff;
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    text-align: center;
    float: left;
    font-size: 13px;
    position: relative;
    display: inline-block;
    zoom: 1;
    margin-right: 26px;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    
}



.study_role_assign label{
    
    float: left;
    width: 160px;
    padding-top: 5px;
    text-align: left;
    display: block;
    margin-bottom: 5px;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    cursor: default;
    
}

.span8{
    display: block;
    width: 66%;
    //min-height: 2802px;
    min-height: 100%;
    height: auto;
    float: left;
    min-height: 1px;
    margin-left: 0px;
}

.span9{
    display: block;
    width: 90%;
    //min-height: 2802px;
    min-height: 600px;
    height: auto !important;
    float: left;
    min-height: 1px;
    margin-left: 30px;
}

.event_filter {
    display: block;
    position: absolute;
    width: 40px;
    height: 188px;
    margin-left: -55px;
    float: top;
}

.study {
    margin-left: 0px;
    width:100%;
}
.study:before, .row:after, .study:after {
    display: table;
    content: "";
    line-height: 0;
    clear: both;
}

.filter-icon{
    //background-position:-408px -144px
    display: block;
}

.event_filter .filter_icon .link_a {
    text-align: center;
    border-left: 3px solid #29b;
    background: #f9f9f9;
    margin-bottom: 10px;
    float: left;
    padding: 9px 7px;
    font-size: 18px;
    width: 26px;
    height: 19px;
    outline: none;
    color: #3a89a3;
    text-decoration: none;
}

.event_filter .filter_icon .link_a:focus {
    text-align: center;
    border-left: 3px solid #29b;
    background: #f9f9f9;
    margin-bottom: 10px;
    float: left;
    padding: 9px 7px;
    font-size: 18px;
    width: 26px;
    height: 19px;
    outline: none;
    color: #3a89a3;
    text-decoration: none;
}


.study_box {
    display: inline-block;
    background: #F9F9F9;
    width:100%;
/*    min-height: 368px;*/
    min-height: 100%;
    height: auto !important;
    margin-bottom: 25px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(204, 204, 204);
    border-top-color: rgb(204, 204, 204);
    border-right-color: rgb(204, 204, 204);
    border-left-color: rgb(204, 204, 204);
    border-left-style: solid;
    border-left-width: 1px;
    border-top-style: solid;
    border-top-width: 1px;
    border: 1px solid #ccc;
    box-shadow: 0 0 0 3px #f1f1f1;
    //float: left;
    position:initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
/*    background-repeat-x: initial;
    background-repeat-y: initial;*/
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(249, 249, 249);
    background-repeat: initial;
    
    
}

.study_panelGrid {
    display: block;
    //background: #F9F9F9;
    width:470px;
/*    min-height: 368px;*/
    min-height: 470px;
    height: auto !important;
}



.ui-tabs .study_box{
    
     display: inline-block;
    background: #F9F9F9;
    width:368px;
/*    min-height: 368px;*/
    min-height: 100%;
    height: auto !important;
    margin-bottom: 25px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(204, 204, 204);
    border-top-color: rgb(204, 204, 204);
    border-right-color: rgb(204, 204, 204);
    border-left-color: rgb(204, 204, 204);
    border-left-style: solid;
    border-left-width: 1px;
    border-top-style: solid;
    border-top-width: 1px;
    border: 1px solid #ccc;
    box-shadow: 0 0 0 3px #f1f1f1;
    //float: left;
    position:initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
/*    background-repeat-x: initial;
    background-repeat-y: initial;*/
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(249, 249, 249);
    background-repeat: initial;
}


.title{
    
    width: 86%;
    height: 36px;
    float: left;
    
}

form {

    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 18px;
    margin-left: 0px;
}

.right_button form {
    margin-bottom: 0px;
}

/*h3 {
    display: block;
    //font-size: 0.83em;
    -webkit-margin-before: 1.67em;
    -webkit-margin-after: 1.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}*/


.study_box > .title {
   
    padding-top: 1%;
    padding-right: 7%;
    padding-bottom: 1%;
    padding-left: 7%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    border-bottom: 1px solid #ccc;
    text-align: left;
    font-size: 12px;
}

.study_box > .title_panelGrid{
    
    width: 338px;
    height: 36px;
    padding: 2px 15px;
    border-bottom: 1px solid #ccc;
    
}



/*.study_box > ul{
    
    width: 368px;
    height: 54px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}*/



/*.nav > .nav-projects-tabs > li > a {
    display: inline-block;
    float: left;
} */

a {
    outline: none;
    text-decoration: none;
    outline-color: initial;
    outline-style: none;
    outline-width: initial;
}

/*a:-webkit-any-link {
    //color: -webkit-link;
    text-decoration: underline;
    cursor: auto;
}*/


.title, .study_box .title {
    background: #eee;
    background-image: -webkit-gradient(linear, 0 0, 0 30, color-stop(0.066, #eee), to(#dfdfdf));
    background-image: -webkit-linear-gradient(#eee 6.6%, #dfdfdf);
    background-image: -moz-linear-gradient(#eee 6.6%, #dfdfdf);
    background-image: -o-linear-gradient(#eee 6.6%, #dfdfdf);
    border-bottom: 1px solid #ccc;
    color: #456;
    font-size: 16px;
    text-shadow: 0 1px 1px #fff;
    /*padding: 0px 10px;*/
    line-height: 36px;
    font-size: 14px;
    font-weight: normal;
}

.well-list{
     display: block;
     width: 368px;
     height: auto !important; 
     margin: 0 0 0 0;
     padding: 0 0 0 0;
}

/*.ui-tabs-panels {
    
     display: block;
     width: 368px;
     height: auto !important; 
     margin: 0 0 0 0;
     padding: 0 0 0 0;
    
}*/

/*.ui-tabs-panel .well-list{
     display: block;
     width: 368px;
     height: auto !important; 
     margin: 0 0 0 0;
     padding: 0 0 0 0;
}


.ui-tabs .ui-tabs-nav .nav{
    
     display: block;
     width: 368px;
     height: auto !important; 
     margin: 0 0 0 0;
     padding: 0 0 0 0;
}*/


/*#tabViewSummary .ui-datalist .ui-datalist-title {
     display: block;
     width: 368px;
     height: auto !important; 
     margin: 0 0 0 0;
     padding: 0 0 0 0;
}

#tabViewSummary .ui-datalist-data  .ui-datalist-item {
    float: left;
    display: list-item;
    text-align: left;
    background-color: #FFF;
    padding: 15px 15px 15px 15px;
    line-height: 18px;
    width: 338px;
    height: 42px;
    list-style: none;
    min-height: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.0470588);
    
}

.ui-tabs-panel {
    width: 1170px;
    float: left;
    color: #456;
    font-size: 20px;
    font-weight: normal;
    line-height: 28px;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
    
}

.ui-panel .ui-panel-titlebar {
    
     min-width: 76px;
     line-height: 20px;
     float: left;
     display: block;
     width: auto;
     margin-bottom: -1px;
}*/

/*.well-list li{
    background-color:#FFF;
    padding:10px;
    min-height:20px;
    border-bottom:1px solid #eee;
    border-bottom:1px solid rgba(0,0,0,0.05);
}*/




/*.well_list > li:last-child{
    border-bottom:none;
    height: auto !important; 
}*/

/*.well-list > li:hover {
    background-color: #adf;
    border-bottom: 1px solid #adf;
}*/

/*.well-list > li:focus {
    outline: -webkit-focus-ring-color auto 5px;
    outline-color: -webkit-focus-ring-color;
    outline-style: auto;
    outline-width: 5px;
}*/

/*.well-list > li:active{
   
     width: 368px;
     line-height: 18px;
     float: left;
     display: block;
       
}*/


/*.well-list li {
background-color: #FFF;
padding: 10px;
min-height: 20px;
border-bottom: 1px solid #eee;
border-bottom: 1px solid rgba(0,0,0,0.05);
}*/


/*projects_box .well-list li {
    padding: 15px;
}*/


 

/*.well_list > li:hover{
    
    outline-color: initial;
    outline-style: initial;
    outline-width: 0px;
    cursor: auto;
    background-color: lightblue;
}*/


/*.well_list li a{
    float: left;
    display: block;
    
}*/


.listItem.disabled{color:#888;}
.listItem.smoke{background-color:#f5f5f5;}
.listItem:hover{background:#d9edf7;border-bottom:1px solid #adf;}
.listItem:last-child{
/*    border-bottom: 1px solid rgba(0,0,0,0.05);*/
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.0470588);
}
/*.well-list li:last-child{border-bottom:none;}*/
/*.well-list li:last-child.bottom{background:#f5f5f5;}*/
/*.well-list li .author{color:#999;}*/


.span4 {
    width: 33%;
/*    min-height: 475px;*/
    min-height: 100%;
    height: auto !important;
    float: right !important;
    margin-left: 0px;
    display: inline-block;
    //clear: both;
}


.nav > li > .activities_tab{
    
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: #fff;
    padding: 8px  20px 8px 20px;
    border-bottom: 1px solid;
    border-bottom-color: rgba(0, 0, 0, 0.0470588);
    border-top: 1px solid #DDD;
    border-right: 1px solid #DDD;
    border-left: 1px solid #DDD;
    margin: 0 7px 0 0;
/*    width: 48px;
    height: 20px;*/
    width: auto;
    height: auto;
    display: block;
    text-align: center;
/*    text-align: center;
    vertical-align: text-top;*/
  
}

.nav > li > .activities_tab:hover{
        
        outline-color: #ccc;
        outline-style: initial;
        outline-width: 0px;
        background-color: #ccc;
    
}

.nav > li > .activities_tab:active{
    
        outline-color: #ccc;
        outline-style: initial;
        outline-width: 1px;
        background-color: #FFF;
    
}

.nav > li >.icon_home {
    
    margin-top: 1px;
    width: 12px;
    height: 13px;
    display: inline;
    text-align: center;
    background-image: url("/hop-dashboard/javax.faces.resource/images/icons/icon_home.png.xhtml");
  
}

.nav > li >.icon_home::before{
    width: 12px;
    height: 14px;
    text-decoration: inherit;
    display: inline-block;
    speak: none;
    content:initial;
}


.study_operation_panel{
    width: 90%;
    height: 26px;
    display: block;
    padding: 4px 7px 4px 7px;
    border: 1px  solid #ccc;
    margin-bottom: 20px;
    border-radius: 4px;
    background-color: #eee;
    background-image: -webkit-linear-gradient(#eee 6.6%, #dfdfdf);
}


.team_member_row > .row {
    display: block;
    margin-left: 0px;
    height: 46px;
    width: 100%;
}

.team_member_row > .row:before, .row:after{
    display: table;
    content: "";
    line-height: 0;
    clear: both;
    
}

.span6{
    display: block;
    float: left;
    height: 46px;
}

.team_member_row .span6  img, .team_member_row a{
    
    position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.team_member_row .span5 form, .team_member_row .span5 a, .team_member_row .span5 .btn , .team_member_row .span5 .button-success{    
    position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.span5{
    
    display: block;
    float: left;
    width: 470px;
    height: 46px;
    text-align: -webkit-match-parent;
    margin-left: 30px;
}

.span5 .right{
    
    float: right;
    width: 170px;
    height: 46px;
}

/* .span5 .right_with{
    
    float: right;
    width: 123px;
    height: 36px;
}*/


.row {
    display: block;
    margin-left: -30px;
    height: 26px;
    width: auto;
}

.row:before, .row:after{
    display: table;
    content: "";
    line-height: 0;
    clear: both;
    
}

.inode_row {
    display: block;
    margin-left: -30px;
    height: 15px;
    width: auto;
}



.edit_team_members{
    
    width: 170px;
    height: 28px;
    margin-bottom: 0px;
}

.span6 .dark{
    
    color: #333;
    outline-color: initial;
    outline-style: none;
    outline-width: initial;
    text-decoration: none;
    cursor: auto;
    line-height: 18px;
    float: left;
    position: relative;
    text-align: left;
}

.bottom{
    
    width: 368px;
    height: 0px;
}

.span7{
    
    display: block;
    float: left;
    min-height: 1px;
    margin-left: 30px;
    width: 670px;
    height: 26px;
    
}

.study_download_holder{
    
    width: 659px;
    height: 26px;
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}

.input-xxlarge{
    
    width: 530px;
    border: 1px  solid #ccc;
    padding: 3px 10px 3px 10px;
    margin-left: 1px;
    white-space: nowrap;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    font: -webkit-small-control;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    cursor: auto;
    -webkit-appearance: textfield;
    font-weight: normal;
    font-size: 13px;
    
}


.row .span4{
    width: 370px;
    height: 24px;
    margin-left: 30px;
    display: block;
    
}
.row .span4 .right {
    
    width: 248px;
    height: 24px;
}


.RequiredNotice {
    color: red;
}

.newSampleGeneralInfoPanelGrid  td {
    vertical-align: top;
}


.BbcAccordion .ui-accordion-header {
    height: 22px;
    text-align: left;
}

.BbcAccordion .ui-accordion-content {
    padding: 0px;
}


.BbcInnerPanel .ui-widget-header{
    height: 10px;
}

.newSampleContactPanelGrid {
    background-color: #F0F0F0 ;   /* light gray */
    width: 100%; 
    text-align: left;    
}

.newSampleContactPanelGrid .ui-inputtext {
    width: 280px;
}

.newSampleSampleCollectionPanelGrid {
    text-align: left;
}

.newSampleSampleCollectionPanelGrid td{
    vertical-align: top;    
}

.findSampleSampleCollectionPanelGrid {
    text-align: left;
}

.findSampleSampleCollectionPanelGrid td{
    vertical-align: top;    
}

.LabelExample {
    width: 280px;
    display: block;
    font-size: 9px;
    color: gray;
}

.thinToolbar {
    border: 0px;
    padding: 0px;
}

.thinToolbar .ui-button {
    height: 25px;
}

.BbcFieldSet .ui-fieldset-legend {
    background-color: white;
    padding: 0px;
    border: 0px;
    text-align: left;
}

.BbcFieldSet .MainLabel {
    display: block;
    width: 100px;
}

.newSampleSamplesPanelGrid {
    text-align: left;
    width: 100%
}

.newSampleSamplesPanelGrid td{
    vertical-align: top;    
}

.newSampleSampleDonorsPanelGrid {
    text-align: left;
}

.newSampleSampleDonorsPanelGrid td{
    vertical-align: top;    
}


.dataList .ui-datalist-data{
    border: none;
    background: transparent;
    background-image: none;
}

ui-wizard {
        margin:0;
        padding:0;
}

.ui-wizard-content {
        margin:3px 0;
}

.ui-wizard-navbar {
        text-align: right;
}

.ui-wizard-nav-back, 
.ui-wizard-nav-next {
        cursor: pointer;
}

.ui-wizard-nav-back {
        float:left;
}

.ui-wizard-nav-next {
        float:right;
}

.ui-wizard-step-title {
    font-size: 18px;
    margin:0 3px 0 0;
    padding:0.4em;
    float:left;
}

.command_link {
    margin-left: 10px;
    color:#1385e5 !important;
    text-decoration: underline;
}

/*QRcode*/

.QRcode {
    font-size: 14px;
    width: 320px;
    margin: 0 auto;
    margin-top: 50px;
    border-width: 1px; 
    border-style: solid; 
    border-color: lightgray; 
    background-color: #F0F0F0; 
    border-radius: 6px;  
    padding: 20px;   
}

.QRcode td {
    padding: 1px 5px;
}

.QRcode .ui-inputfield {
    width: 290px;
    font-size: 14px;
    margin-bottom: 10px;
}

.QRcode .ui-button {
    float: right;
}

.QRcode .ui-messages-error-icon {
    display: none!important;
}

/*QRcode*/

.QRcode {
    font-size: 14px;
    width: 320px;
    margin: 0 auto;
    margin-top: 50px;
    border-width: 1px; 
    border-style: solid; 
    border-color: lightgray; 
    background-color: #F0F0F0; 
    border-radius: 6px;  
    padding: 20px;  
}

.registerPanel{
  width: 50%;
}

.registerContainer td{
  vertical-align: top;
}
