
/* 
    Created on : Mar 14, 2015, 11:08:27 PM
    Author     : Ali Gholami <gholami@pdc.kth.se>
*/

@media only screen  and (min-width : 1224px) {

  .signup_header{
    font-family: "open sans",arial,sans-serif;
    color: #333;
    font-size: 36px;
    font-weight: normal;
  }

  .signup_contents{
    color: #333;
    font-size: 20px;
    font-weight: normal;
    width: 570px;
    padding-bottom: 10px;
  }

  .signup_contents h4{
    color: red;
  }

  .signup_container td{
    vertical-align: top;
  }


  .user_guides{
    color: #333;
    font-size: 20px;
    font-weight: normal;
    width: 900px;
    margin-left: 200px;
    margin-right: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .user_guides .ui-widget-content {
    border: 0px none;
    background: none repeat scroll 0% 0% #FFF;
    color: #4F4F4F;
  }

  .user_guides .ui-widget-header {
    border: 0px none;
    background: white;
    color: #213EA4;
    font-weight: bold;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7);
  }

  .user_guides .ui-widget {
    font-size: 10px;
  }
  .user_guides .ui-helper-reset {
    line-height: 1.3;
    font-size: 14px;
    list-style: outside none none;
  }

  .user_guides .ui-menu {
    position: absolute;
    outline: 0px none;
  }

  .user_guides .ui-tabs .ui-tabs-nav li {
    border: 0px none;
  }

  .user_guides_contents{

    color: #333;
    font-size: 20px;
    font-weight: normal;
    width: 700px;
    margin-left: 50px;

  }


  .user_guides_docs{

    color: #444;;
    font-size: 24px;
    font-weight: normal;
    width: 800px;
    position: absolute;
  }

  .new_user{
    width: 50%;
    min-height: 400px;
    height: auto !important;
    margin-bottom: 18px;
    font-size: 12px;
    font-weight:bold;
  }

  .register_user{
    padding-top: 17px;
    padding-right: 20px;
    padding-bottom: 18px;
    padding-left: 165px;
    margin-top: 18px;
    margin-bottom: 18px;
    width: 200px;

  }


  .register_banner{
    padding-top: 17px;
    padding-right: 20px;
    padding-bottom: 18px;
    padding-left: 165px;
    margin-top: 18px;
    margin-bottom: 18px;
    background-color: #f5f5f5;
    border-top: 1px solid #e5e5e5;
    width: 400px;
    height: 28px;
  }

  .register_banner .ui-button {
    margin-left: 10px;
    min-width: 50px;
  }

  .registerPanel{
    width: 50%;
  }

  .registerContainer td{
    vertical-align: top;
  }

  .user_profile .ui-datalist-content {
    border: none;
  }



  /*QRcode*/

  .QRcode {
    font-size: 14px;
    width: 320px;
    margin: 0 auto;
    margin-top: 50px;
    border-width: 1px; 
    border-style: solid; 
    border-color: lightgray; 
    background-color: #F0F0F0; 
    border-radius: 6px;  
    padding: 20px;   
  }

  .QRcode td {
    padding: 1px 5px;
  }

  .QRcode .ui-inputfield {
    width: 290px;
    font-size: 14px;
    margin-bottom: 10px;
  }

  .QRcode .ui-button {
    float: right;
  }

  .QRcode .ui-messages-error-icon {
    display: none!important;
  }



  .GenericMenue {
    font-size: 14px;
    width: 400px;
    margin: 0 auto;
    margin-top: 50px;
    border-width: 1px; 
    border-style: solid; 
    border-color: lightgray; 
    background-color: #F0F0F0; 
    border-radius: 6px;  
    padding: 20px;   
  }

  .GenericMenue td {
    padding: 5px 15px;
  }

  .GenericMenue .ui-inputfield {
    width: 300px;
    height: 20px;
    font-size: 14px;
    margin-bottom: 10px;
  }

  .GenericMenue .ui-button {
    float: right;
  }

  .GenericMenue .ui-messages-error-icon {
    display: none!important;
  }

  /* Account Registration*/

  .Registation {
    text-align: left;
    font-family: "Open Sans",arial;
    color: #555;
    font-size: 20px;
    font-weight: 100;
    margin-right: 20px;
    padding-right: 20px;
  }


  .ui-inputfield{

    display: inline-block;
    height: 30px;
    width: 250px;
    background: none repeat scroll 0% 0% #FFF;
    border-right: 1px solid #D9D9D9;
    border-width: 1px;
    border-style: solid;
    border-color: #C0C0C0 #D9D9D9 #D9D9D9;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    box-sizing: border-box;
    border-radius: 1px;

  }
  input[type="password"] {
    display: inline-block;
    height: 30px;
    width: 250px;
    background: none repeat scroll 0% 0% #FFF;
    border-right: 1px solid #D9D9D9;
    border-width: 1px;
    border-style: solid;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    box-sizing: border-box;
    border-radius: 1px;
  }

  .ui-selectonemenu-label {
    display: block;
    border: medium none;
    white-space: nowrap;
    overflow: hidden;
    font-weight: normal;
    width: 510px;
    text-align: left;
  }

  .ui-selectonemenu{
    width: 510px;    
  }


  .ui-messages-error, .ui-message-error {
    color: #B94A48;
    width: 88%;
    margin: 10px;
  }

  .register_form{
    padding: 30px;
    background-color:#F0F0F0;

  }


  .UserGuides{
    padding-left: 100px;
  }

  .account-button {
    border-radius: 2.5px;
    color: #FFF;
    cursor: pointer;
    font-family: arial,sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5;
    padding: 5px 10px;
    text-align: center;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.08);
    margin-bottom: 300px;
    background-color: #4173C9;
    background-image: -moz-linear-gradient(center top , #5E8EE4, #4173C9);
    border: 0px none;
    position: relative;
  }


  .account-button .a {
    color: #245DC1;
    text-decoration: none;
  }

  .ui-state-error {
    border: 1px solid #CD0A0A;
    background: -moz-linear-gradient(center top , rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0)) repeat scroll 0% 0% #FEF1EC;
    color: #CD0A0A;
  }

}