/* 
    Created on : Aug 15, 2014, 2:39:43 PM
    Author     : roshan
*/

.ui-widget, .ui-widget .ui-widget .ui-widget-content {
    //font-size: 70% !important;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;


}

label {
    width: auto;
}

.ui-tabs{

    width: 1170px !important;
    display: block;
    height: auto;
    padding: 0em !important;
}

.ui-tabs .ui-tabs-nav{
    width: 1162px !important;
    height: auto;
    display: block;
    border-bottom: 1px solid #ddd;
    margin-bottom: 8px;
    padding-left: 8px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-top: 0px;
    list-style: none;
    list-style-type: none;
    list-style-position: outside;
    list-style-image: none; 
}

.ui-tabs .ui-tabs-panel .ui-widget-content li{
    line-height: 20px;
    float: left;
    display: block;
    height: auto;
    margin-bottom: -1px;

}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected { 
    padding-bottom: 0; 
    border-right-width: 1px; 
    border-right-width: 1px; 
}

.ui-tabs .ui-tabs-panels{
    display: block;
    width: 1170px !important;
    min-height: 100%;
    height: auto !important; 
    margin: 0 0 0 0 !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 0px !important;

    /*    display: inline-block;
        width: 1170px !important;
        min-height: 100%;
        height: auto;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        float: left;*/


}

.ui-tabs .ui-tabs-panel{
    position: relative; 
    display: block;
    width: 1170px !important;
    min-height: 100%;
    height: auto; 
    margin: 0 !important;
    padding: 0 !important;
    zoom:1;

    /*    float: left;
        display: list-item;
        text-align: left;
        background-color: #FFF;
        padding: 10px 10px 10px 10px;
        min-height: 18px;
        width: 1148px;
        height: 42px;
        list-style: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.0470588);
        text-align: -webkit-match-parent;*/



    /*     width: 1148px;
        height: 46px;
        background-color: #FFF;
        padding: 10px 10px 10px 10px;
        min-height: 20px;
        border-bottom: 1px solid rgba(0,0,0,0.05);
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: rgba(0, 0, 0, 0.0470588);
        list-style: none;
        display: list-item;
        text-align: -webkit-match-parent;
        float: left;
    */

}

.ui-tabs .ui-widget-content{
    height: auto  !important; 
    margin: 0 0 0 0;
    padding: 0 0 0 0;

}

.ui-tabs-panel.disabled{color:#888;}
.ui-tabs-panel.smoke{background-color:#f5f5f5;}
//.ui-tabs-panel:hover{background:#d9edf7;border-bottom:1px solid #adf;}


.BbcMainLayoutStudy {
    //text-align: center;
    min-height: 1500px;
}

.BbcMainLayoutStudy .ui-widget-content {
    border-width: 0px;  
    overflow-y: hidden;
    overflow-x: hidden;
}

.BbcMainLayoutStudy .ui-layout-unit-content{
    min-height: 1500px;
    height: auto !important;

}
/*.BbcMainLayoutStudy::-webkit-scrollbar {
     display: none;
}*/

.span5 .ui-button{
    font-size: 11px;
    padding: 2px 6px;
    line-height: 16px;
    margin: 2px;
    border-color: #BD362F;
    color: #FFF;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
    background-color: #DB4F4A;
    background-image: linear-gradient(to bottom, #EE5F5B, #BD362F);
    background-repeat: repeat-x;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-image: none;
    border-radius: 4px;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2) inset, 0px 1px 2px rgba(0, 0, 0, 0.05);
    font-family: 'FontAwesome';
    font-style: normal;   
}

.span5 .ui-button .ui-widget-content{
    color: #ffffff;
}

.span5 .ui-button:hover {
    //color:#333;
    background: #FF530D;
}

.ui-dialog .ui-widget-content {
    background: #ffffff;
    color: #4f4f4f;
}

.ui-dialog .ui-dialog-buttonpane {
    text-align: right;
    border-width: 1px 0 0 0;
    background-image: none;
    margin: .5em 0 0 0;
    padding: .3em 1em .5em .4em;

}

.ui-dialog .ui-dialog-titlebar {
    padding: .4em .4em .4em 1em;
    position: relative;
    border: 0px;
}

h1 {
    font-size: 30px;
    float: left;
}

.Oops {
    float: none;
}

.ui-treetable table {
    border-collapse: collapse;
    table-layout: fixed;
}

.uploading {
    background-color: #FF9999;
}

.copying_to_hdfs {
    background-color: #FFCC66;
}

.available {
    background-color: #66FF99;
}
