/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 30, 2014, 2:01:14 PM
    Author     : roshan
*/

.skin8.top .tabs_header {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
 .skin8.top .tab_header_item {
	float: left;
	margin: 0px;
}
 .skin8.top .tab_content {
	clear: left;
	display: none;
}

/* skin */

 .skin8.top.tabs_wrapper {
	border: 1px solid #ddd;
}

 .skin8.top .tabs_header {
	overflow: hidden;
	-moz-box-shadow: inset 0 0 5px 5px #eee;
	-webkit-box-shadow: inset 0 0 5px 5px #eee;
	box-shadow: inset 0 0 5px 5px #eee;
	margin: 0px 0;
}
 .skin8.top .tab_header_item {
	height: 30px;
}
 .skin8.top .tab_header_item.tab_selected {
	background: #4580b4;
	-moz-box-shadow: inset 0 0 5px 5px #3e74a2;
	-webkit-box-shadow: inset 0 0 5px 5px #3e74a2;
	box-shadow: inset 0 0 5px 5px #3e74a2;
}
 .skin8.top .tab_header_item.tab_selected a {
	color: #fff;
}
 .skin8.top .tab_header_item.first_tab {
}
 .skin8.top .tab_header_item a {
	padding: 0px 20px;
	font: bold 12px Arial, Helvetica, sans-serif;
	line-height: 30px;
	color: #999;
	text-decoration: none;
	outline: 0;
}
 .skin8.top .content_holder {
	font: 12px/24px Arial, Helvetica, sans-serif;
	color: #777;
	padding: 5px 30px;
}


