/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 15, 2014, 2:39:43 PM
    Author     : roshan
*/



.ui-widget, .ui-widget .ui-widget .ui-widget-content {
    //font-size: 70% !important;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    
    
}


.ui-tabs{
    
     width: 1170px !important;
     display: block;
     height: auto !important;
     padding: 0em !important;
}

.ui-tabs .ui-tabs-nav{
    width: 1162px !important;
    height: auto;
    display: block;
    border-bottom: 1px solid #ddd;
    margin-bottom: 8px;
    padding-left: 8px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-top: 0px;
    list-style: none;
    list-style-type: none;
    list-style-position: outside;
    list-style-image: none; 
}

.ui-tabs .ui-tabs-panel .ui-widget-content{
     width: 1170px !important;
     line-height: 20px;
     float: left;
     display: block;
     height: auto;
     margin-bottom: -1px;
     
 }
 
.ui-tabs .ui-tabs-nav li.ui-tabs-selected { 
    padding-bottom: 0; 
    border-right-width: 1px; 
    border-right-width: 1px; 
}

.ui-tabs .ui-tabs-panels{
     display: block;
     width: 1170px !important;
     min-height: 100%;
     height: auto; 
     margin: 0 0 0 0 !important;
     padding-bottom: 0px !important;
     padding-left: 0px !important;
     padding-right: 0px !important;
     padding-top: 0px !important;
}

.ui-tabs .ui-tabs-panel{
     position: relative; 
     display: block;
     width: 1170px !important;
     min-height: 100%;
     height: auto; 
     margin: 0 !important;
     padding: 0 !important;
     zoom:1;
    
}

.ui-tabs .ui-widget-content{
    
     display: block;
     width: 1170px !important;
     //min-height: 100%;
     height: auto !important; 
     margin: 0 !important;
     padding: 0 !important;
     //visibility: visible;
    
}

.ui-tabs-panel.disabled{color:#888;}
.ui-tabs-panel.smoke{background-color:#f5f5f5;}

/*.ui-layout .ui-layout-unit{
    display: block;
    width: 1170px;
    min-height: 100%;
    height: auto !important;
    padding-top: 0;
    z-index: 5;
    margin-right: auto;
    margin-left: auto;
    overflow-y: hidden !important;
    overflow-x: hidden !important;
    
}

.ui-layout-unit .ui-widget {
    
    width: 1170px !important;
    font-family: Arial,sans-serif;
    height: auto !important;
    font-size: 12px;
}


.ui-layout-unit .ui-widget-content{
    
     display: block;
     width: 1170px !important;
     min-height: 600px;
     height: auto !important; 
     margin: 0 !important;
     padding: 0 !important;
     
    
}*/

/*.ui-layout-unit .ui-layout-unit-content {
        display: block;
        padding: 0 !important;
        border: 0 !important;
        position: relative; 
        height: auto !important; 
        width: 1170px;
        visibility: visible;
        //overflow: auto;
        
        width: 1170px !important;
        display: block;
        min-height: 100%;
        height: auto !important;
        padding: 0 !important;
        visibility: visible;
        overflow-y: hidden !important;
        overflow-x: hidden !important;
        border: 0 !important;

}*/

/*.ui-layout-unit .ui-layout-container{
    
        width: 1170px !important;
        display: block;
        min-height: 100%;
        height: auto !important;
        padding: 0 !important;
        visibility: visible;
        overflow-y: hidden !important;
        overflow-x: hidden !important;
        border: 0 !important;
    
}*/
.ui-datatable table {
    border-collapse: collapse;
    width: 1170px;
    table-layout: fixed;
}

.ui-datatable .ui-widget{
    
    width: 1170px !important;
    font-family: Arial,sans-serif;
    height: auto !important;
    font-size: 12px;
}

.ui-datatable .ui-widget-content{
    
    width: 1170px !important;
    font-family: Arial,sans-serif;
    height: auto !important;
    font-size: 12px;
}



.ui-datatable .ui-datatable-header .ui-inputfield {
    
    width: auto !important;
    font-family: Arial,sans-serif;
    height: auto !important;
    font-size: 12px;
    
}


.ui-datatable .ui-column-filter {
    
    width: 150px !important;
}

/*.ui-outputpanel .ui-widget{
    
     display: block;
     width: 1168px !important;
     min-height: 100%;
     height: auto !important; 
     margin: 0 0 0 0 !important;
     padding: 0 !important;
}*/

/*.ui-widget:active {
    outline: none;
}*/
.ui-datatable th, .ui-datatable tfoot td {
        text-align: left;
        white-space: nowrap;
        padding: 0px;
        margin: 0px;
        overflow: hidden;
        font-size: 12px;
}

.ui-datatable tr{
    
    display: table-row;
}

/*#tabViewNew:frmUserData:grid tbody{
    
    height: auto !important;
}*/

.BbcMainLayoutUser {
    text-align: center;
    min-height: 900px;
    height: auto !important;
    
/*    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;*/
}

/*.BbcMainLayoutUser .BbcPanel {
    width: 700px; 
    margin: 0 auto;
}*/

.BbcMainLayoutUser .ui-widget-content {
    border-width: 0px;  
    overflow-y: hidden;
    overflow-x: hidden;
    //overflow-y: auto;
    //////////////////////
/*    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;*/
}


.BbcMainLayoutUser::-webkit-scrollbar {
 display: none;
}