# Copy this to .env and update values
WEB_HOST=localhost
WEB_PORT=8080
DB_HOST=localhost
DB_PORT=3306
RSPEC_SSH=false
RSPEC_SSH_HOST=bbc1.sics.se
RSPEC_SSH_USER_DIR=/home/hopsworks/user/hopsworks-chef
RSPEC_USER_DIR=/home/hopsworks/user/hopsworks-chef
OOZIE_HOST=localhost:19006
