:root {
  --md-primary-fg-color: #1EB382;
  --md-secondary-fg-color: #35c495;
}

.md-logo {
      margin: px2rem(4px);
      padding: px2rem(8px);

      // Image or icon
      img {
        width: px2rm(500px);
},
      svg {
        display: block;
        width: px2rem(500px);
        height: px2rem(48px);
        fill: currentColor;
}
}

.md-tabs {
  width: 100%;
  overflow: auto;
  color: var(--md-primary-bg-color);
  background-color: var(--md-secondary-fg-color);
  transition: background-color 250ms;
}
