
@import "https://fonts.googleapis.com/css?family=Open+Sans:300&subset=latin,greek-ext,cyrillic-ext,greek,vietnamese,cyrillic,latin-ext";
html {
  height: 100%;
}
.formoid-metro-cyan {
  margin: 0 auto;
}
.formoid-metro-cyan > div, .formoid-metro-cyan > .title {
  margin: 8px;
}
.formoid-metro-cyan .error-field .required {
  color: #ff9999;
}
.formoid-metro-cyan .error-field input, .formoid-metro-cyan .error-field input[type="text"], .formoid-metro-cyan .error-field input[type="password"], .formoid-metro-cyan .error-field input[type="email"], .formoid-metro-cyan .error-field input[type="url"], .formoid-metro-cyan .error-field input[type="date"], .formoid-metro-cyan .error-field input[type="number"], .formoid-metro-cyan .error-field input[type="tel"], .formoid-metro-cyan .error-field textarea {
  background-color: #fbe6f2;
  border-color: #d893a1;
}
.formoid-metro-cyan label.error {
  display: inline-block;
  font-size: 0.9em;
}
.formoid-metro-cyan .error, .formoid-metro-cyan .error #recaptcha_widget_div {
  background-color: #f2dede;
  border: 1px solid #eed3d7;
  border-radius: 4px;
  color: #c09853;
  padding: 3px 14px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.formoid-metro-cyan .error h4 {
  color: #b94a48;
  margin: 0;
}
.formoid-metro-cyan .error .close {
  line-height: 20px;
  position: relative;
  right: -21px;
  top: -2px;
}
.formoid-metro-cyan .column {
  float: left;
}
.formoid-metro-cyan .column1 {
  width: 100%;
}
.formoid-metro-cyan .column2 {
  width: 50%;
}
.formoid-metro-cyan .column3 {
  width: 33%;
}
.formoid-metro-cyan .column4 {
  width: 25%;
}
.formoid-metro-cyan .column5 {
  width: 20%;
}
.formoid-metro-cyan .large {
  width: 100%;
}
.formoid-metro-cyan .medium {
  width: 50%;
}
.formoid-metro-cyan .small {
  width: 25%;
}
.formoid-metro-cyan textarea.large {
  height: 20em;
  width: 100%;
}
.formoid-metro-cyan textarea.medium {
  height: 10em;
  width: 100%;
}
.formoid-metro-cyan textarea.small {
  height: 5.5em;
  width: 100%;
}
.formoid-metro-cyan .element-address .country {
  position: relative;
}
.frmd {
  display: none;
}
.clearfix {
}
.clearfix::before, .clearfix::after {
  content: "";
  display: table;
  line-height: 0;
}
.blurBg, .blurBg-true {
  background-attachment: fixed;
}
#formoid-info {
  color: #c09853;
  display: block;
  font-size: 12px;
  margin: 0 auto;
  max-width: 100%;
  padding: 10px;
  text-align: center;
  width: 400px;
}
@font-face {
  font-family: "formoid";
  font-style: normal;
  font-weight: normal;
  src: url("formoid.eot?#iefix") format("embedded-opentype"), url("formoid.ttf") format("truetype"), url("formoid.woff") format("woff"), url("formoid.svg#formoid") format("svg");
}
.formoid-metro-cyan {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  font-size: 0.9em;
}
.formoid-metro-cyan, .formoid-metro-cyan input[type="button"], .formoid-metro-cyan .btn, .formoid-metro-cyan input[type="submit"] {
  border-radius: 0;
  font-family: inherit;
  outline: medium none;
}

.formoid-metro-cyan, .formoid-metro-cyan input[type="button"], .formoid-metro-cyan .btn, .formoid-metro-cyan input[type="button"] {
  border-radius: 0;
  font-family: inherit;
  outline: medium none;
}

.formoid-metro-cyan > div {
  margin-left: 25px;
  margin-right: 25px;
  position: relative;
}
.formoid-metro-cyan h2 {
  font-size: 1.8em;
  font-weight: normal;
  margin: 0.2em 0;
}
.formoid-metro-cyan h3.title {
  margin-bottom: 0.5em;
  margin-top: 1.5em;
}
.formoid-metro-cyan h3.section-break-title {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}
.formoid-metro-cyan label {
  clear: both;
  display: block;
  margin-bottom: 3px;
}
.formoid-metro-cyan div, .formoid-metro-cyan span, .formoid-metro-cyan label, .formoid-metro-cyan input, .formoid-metro-cyan textarea, .formoid-metro-cyan select, .formoid-metro-cyan button, .formoid-metro-cyan ul, .formoid-metro-cyan li, .formoid-metro-cyan a {
  color: inherit;
  font-family: inherit;
}
.formoid-metro-cyan div.submit, .formoid-metro-cyan div.title {
  background-color: rgba(0, 0, 0, 0.02);
  border-top: 1px solid #d0dada;
  margin: 0;
  padding-bottom: 2em;
  padding-top: 2em;
}
.formoid-metro-cyan div.title h2 {
  margin-left: 27px;
}
.formoid-metro-cyan div.title {
  border-bottom: 1px solid #d0dada;
  padding-bottom: 1em;
  padding-top: 1em;
}
.formoid-metro-cyan div.submit {
  text-align: right;
  vertical-align: middle;
}
.formoid-metro-cyan .btn, .formoid-metro-cyan input[type="button"], .formoid-metro-cyan input[type="submit"] {
  -moz-appearance: none;
  background: none repeat scroll 0 0 #fff;
  border: 2px solid #e5e5e5;
  cursor: pointer;
  display: inline-block;
  text-align: left;
  transition: border-color 0.3s ease 0s;
}
.formoid-metro-cyan .btn, .formoid-metro-cyan input[type="button"], .formoid-metro-cyan input[type="button"] {
  -moz-appearance: none;
  background: none repeat scroll 0 0 #fff;
  border: 2px solid #e5e5e5;
  cursor: pointer;
  display: inline-block;
  text-align: left;
  transition: border-color 0.3s ease 0s;
}
.formoid-metro-cyan .btn:hover, .formoid-metro-cyan input[type="button"]:hover {
  text-decoration: none;
}
.formoid-metro-cyan .btn[disabled], .formoid-metro-cyan input[type="button"][disabled] {
  cursor: default;
  opacity: 0.65;
}
.formoid-metro-cyan input[type="submit"] {
  border: medium none;
  color: #ffffff;
  font-size: 1.2em;
  margin-right: 25px;
  opacity: 0.8;
  padding: 0.5em 1.4em;
  right: 20px;
  text-align: center;
}
.formoid-metro-cyan input[type="button"] {
  border: medium none;
  color: #ffffff;
  font-size: 1.2em;
  margin-right: 25px;
  opacity: 0.8;
  padding: 0.5em 1.4em;
  right: 20px;
  text-align: center;
}
.formoid-metro-cyan input[type="submit"]:hover {
  color: #ffffff;
  opacity: 1;
  text-decoration: none;
}

.formoid-metro-cyan input[type="button"]:hover {
  color: #ffffff;
  opacity: 1;
  text-decoration: none;
}
.formoid-metro-cyan .btn {
  font-size: 1.1em;
  width: 100%;
}
.formoid-metro-cyan .element-select select, .formoid-metro-cyan .country {
  cursor: pointer;
  position: relative;
}
.formoid-metro-cyan .element-select div {
  display: block;
}
.formoid-metro-cyan .element-select div span {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}
.formoid-metro-cyan .element-select div span.required {
  display: initial;
}
.formoid-metro-cyan .element-file label {
  position: relative;
}
.formoid-metro-cyan .element-file .title {
  position: static;
}
.formoid-metro-cyan .element-file .button {
  bottom: 3px;
  color: #fff;
  cursor: pointer;
  float: none;
  opacity: 0.8;
  padding: 1.5% 1em 0;
  position: absolute;
  right: 3px;
  text-align: center;
  top: 3px;
  transition: opacity 0.2s ease 0s;
  z-index: 1;
}
.formoid-metro-cyan .element-file .button:hover {
  box-shadow: none;
  opacity: 1;
}
.formoid-metro-cyan .element-file .file_input {
  bottom: 0;
  cursor: pointer;
  opacity: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
.formoid-metro-cyan .element-file .file_text {
  bottom: 0;
  cursor: pointer;
  overflow: hidden;
}
* html .formoid-metro-cyan .element-file .file_input, * + html .formoid-metro-cyan .element-file .file_input {
  bottom: auto;
  left: auto;
  opacity: 1;
  position: relative;
  right: auto;
  top: auto;
  width: auto;
}
* html .formoid-metro-cyan .element-file .button, * + html .formoid-metro-cyan .element-file .button {
  display: none;
}
* html .formoid-metro-cyan .element-file label, * + html .formoid-metro-cyan .element-file label, * html .formoid-metro-cyan .element-file .file_text, * + html .formoid-metro-cyan .element-file .file_text {
  border: medium none;
}
* html .formoid-metro-cyan .element-file .title, * + html .formoid-metro-cyan .element-file .title {
  display: block;
}
.formoid-metro-cyan div.element-checkbox, .formoid-metro-cyan div.element-radio {
  overflow: hidden;
}
.formoid-metro-cyan input[type="checkbox"], .formoid-metro-cyan input[type="radio"] {
  cursor: pointer;
  float: left;
  font-size: 1em;
  height: 1em;
  margin: 0;
  opacity: 0.01;
  position: absolute;
  width: 1em;
  z-index: 1;
}
.formoid-metro-cyan input[type="radio"] + span, .formoid-metro-cyan input[type="checkbox"] + span {
  cursor: pointer;
  font-size: 1.1em;
  height: 19px;
  left: 0;
  line-height: 1;
  margin-right: -19px;
  padding-top: 0;
  position: relative;
  top: 0;
  vertical-align: top;
  z-index: 0;
}
.formoid-metro-cyan input[type="radio"] + span::before, .formoid-metro-cyan input[type="checkbox"] + span::before {
  -moz-osx-font-smoothing: grayscale;
  color: #e5e5e5;
  font-family: formoid;
  font-size: 1em;
  line-height: 0.7;
  margin-right: 0.2em;
  position: relative;
}
.formoid-metro-cyan input[type="checkbox"] + span::before {
  content: "";
}
.formoid-metro-cyan input[type="checkbox"]:hover + span::before {
  content: "";
}
.formoid-metro-cyan input[type="checkbox"]:checked + span::before {
  content: "";
}
.formoid-metro-cyan input[type="radio"] + span::before {
  content: "";
}
.formoid-metro-cyan input[type="radio"]:hover + span::before {
  content: "";
}
.formoid-metro-cyan input[type="radio"]:checked + span::before {
  content: "";
}
.formoid-metro-cyan .rating {
  display: inline-block;
  overflow: hidden;
  position: relative;
}
.formoid-metro-cyan .rating-input {
  display: none;
}
.formoid-metro-cyan .rating-star::after {
  font-family: formoid;
  font-size: 1.5em;
}
.formoid-metro-cyan .rating-star, .formoid-metro-cyan .rating:hover .rating-star {
  clear: none;
  cursor: default;
  display: block;
  float: right;
  height: 1.5em;
  position: relative;
  width: 1.7em;
}
.formoid-metro-cyan .rating-star::after, .formoid-metro-cyan .rating:hover .rating-star::after {
  color: #e5e5e5;
  content: "";
}
.formoid-metro-cyan input[type="text"], .formoid-metro-cyan input[type="tel"], .formoid-metro-cyan input[type="password"], .formoid-metro-cyan input[type="email"], .formoid-metro-cyan input[type="url"], .formoid-metro-cyan input[type="date"], .formoid-metro-cyan input[type="number"], .formoid-metro-cyan textarea, .formoid-metro-cyan .element-file .file_text, .formoid-metro-cyan select, .formoid-metro-cyan button {
  -moz-appearance: none;
  background: none repeat scroll 0 0 #fff;
  border: 2px solid #e5e5e5;
  border-radius: 0;
  box-sizing: border-box;
  font-size: 1.1em;
  outline: medium none;
  padding: 0.4em;
  resize: none;
  transition: border-color 0.3s ease 0s;
}
.formoid-metro-cyan .element-address input[type="text"], .formoid-metro-cyan .element-name input[type="text"], .formoid-metro-cyan .element-file .file_text, .formoid-metro-cyan textarea {
  width: 100%;
}
.formoid-metro-cyan textarea {
  height: auto;
}
.formoid-metro-cyan select {
  cursor: pointer;
  text-align: left;
  width: 100%;
}
.formoid-metro-cyan .element-name .nameFirst {
  display: inline-block;
  left: 0;
  margin-right: 5%;
  vertical-align: top;
  width: 40%;
}
.formoid-metro-cyan .element-name .nameLast {
  display: inline-block;
  vertical-align: top;
  width: 55%;
}
.formoid-metro-cyan .element-address .city, .formoid-metro-cyan .element-address .zip {
  display: inline-block;
  margin-right: 6%;
  vertical-align: top;
  width: 47%;
}
.formoid-metro-cyan .element-address .state, .formoid-metro-cyan .element-address .country {
  display: inline-block;
  vertical-align: top;
  width: 47%;
}
.formoid-metro-cyan .element-address .country select {
  cursor: pointer;
}
.formoid-metro-cyan .element-address label, .formoid-metro-cyan .element-name label {
  font-size: 0.82em;
}
.formoid-metro-cyan .element-address label.title, .formoid-metro-cyan .element-name label.title {
  font-size: 1.1em;
}
.formoid-metro-cyan .recaptchatable, .formoid-metro-cyan .recaptchatable #recaptcha_image, .formoid-metro-cyan .recaptchatable #recaptcha_challenge_field_holder input {
  border: 2px solid #e5e5e5 !important;
}
.formoid-metro-cyan .error, .formoid-metro-cyan .error #recaptcha_widget_div {
  background-color: #cc3d3d;
  border: medium none;
  border-radius: 0;
  color: #fff;
  margin-left: 25px;
  margin-right: 25px;
  text-shadow: none;
}
.tooltip {
  margin-top: 4px;
  position: relative;
}
.tooltip-arrow {
  border-color: transparent;
  border-style: solid;
  height: 0;
  position: absolute;
  width: 0;
}
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #cc3d3d;
  border-width: 0 8px 8px;
  left: 17px;
  margin-left: -8px;
  top: -8px;
}
.alert {
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 8px 35px 8px 14px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.alert, .alert h4 {
  color: #c09853;
}
.alert h4 {
  margin: 0;
}
.alert .close {
  line-height: 20px;
  position: relative;
  right: -21px;
  top: -2px;
}
.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}
.alert-success h4 {
  color: #468847;
}
.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}
.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #3a87ad;
}
.alert-info h4 {
  color: #3a87ad;
}
@media all and (max-width: 400px) {
  .formoid-metro-cyan .element-radio .column, .formoid-metro-cyan .element-checkbox .column, .formoid-metro-cyan .element-name .nameFirst, .formoid-metro-cyan .element-name .nameLast, .formoid-metro-cyan .element-address .city, .formoid-metro-cyan .element-address span.state, .formoid-metro-cyan .element-address .zip, .formoid-metro-cyan .element-address .country {
    display: block;
    margin-right: 0;
    width: 100%;
  }
}
.formoid-metro-cyan input[type="button"]:hover, .formoid-metro-cyan .btn:hover, .formoid-metro-cyan input[type="button"]:active, .formoid-metro-cyan input[type="button"][disabled], .formoid-metro-cyan input[type="text"]:hover, .formoid-metro-cyan input[type="tel"]:hover, .formoid-metro-cyan input[type="password"]:hover, .formoid-metro-cyan input[type="email"]:hover, .formoid-metro-cyan input[type="url"]:hover, .formoid-metro-cyan input[type="date"]:hover, .formoid-metro-cyan input[type="number"]:hover, .formoid-metro-cyan textarea:hover, .formoid-metro-cyan .element-file .file_text:hover, .formoid-metro-cyan select:hover {
  border-color: #8dc9e5;
}
.formoid-metro-cyan input[type="button"]:focus, .formoid-metro-cyan .btn:focus, .formoid-metro-cyan input[type="button"]:active, .formoid-metro-cyan input[type="button"][disabled], .formoid-metro-cyan input[type="text"]:focus, .formoid-metro-cyan input[type="tel"]:focus, .formoid-metro-cyan input[type="password"]:focus, .formoid-metro-cyan input[type="email"]:focus, .formoid-metro-cyan input[type="url"]:focus, .formoid-metro-cyan input[type="date"]:focus, .formoid-metro-cyan input[type="number"]:focus, .formoid-metro-cyan textarea:focus, .formoid-metro-cyan .element-file .file_text:active, .formoid-metro-cyan select:focus {
  border-color: #2da5da;
}
.formoid-metro-cyan input[type="submit"], .formoid-metro-cyan .element-file .button {
  background-color: #2da5da;
}
.formoid-metro-cyan input[type="button"], .formoid-metro-cyan .element-file .button {
  background-color: #2da5da;
}
.formoid-metro-cyan input[type="checkbox"]:hover + span::before, .formoid-metro-cyan input[type="radio"]:hover + span::before, .formoid-metro-cyan .rating:hover .rating-star:hover::after, .formoid-metro-cyan .rating:hover .rating-star:hover ~ .rating-star::after {
  color: #8dc9e5;
}
.formoid-metro-cyan input[type="checkbox"]:checked + span::before, .formoid-metro-cyan input[type="radio"]:checked + span::before, .formoid-metro-cyan .rating-input:checked ~ .rating-star::after {
  color: #2da5da;
}
.formoid-metro-cyan .btn.btn-primary, .formoid-metro-cyan .dropdown-menu li.active > a, .formoid-metro-cyan .dropdown-menu li.selected > a, .formoid-metro-cyan .dropdown-menu li.active > a.highlighted, .formoid-metro-cyan .dropdown-menu li.selected > a.highlighted, .formoid-metro-cyan .dropdown-inverse li.active > a, .formoid-metro-cyan .dropdown-inverse li.selected > a {
  border-color: #e5e5e5;
}
.formoid-metro-cyan .btn.btn-primary:hover, .formoid-metro-cyan .btn-group:focus .btn.btn-primary.dropdown-toggle, .formoid-metro-cyan .dropdown-menu li.active > a:hover, .formoid-metro-cyan .dropdown-menu li.selected > a:hover, .formoid-metro-cyan .dropdown-menu li.active > a.highlighted:hover, .formoid-metro-cyan .dropdown-menu li.selected > a.highlighted:hover {
  border-color: #8dc9e5;
}
.formoid-metro-cyan .btn.btn-primary:active, .formoid-metro-cyan .btn-group.open .btn.btn-primary.dropdown-toggle, .formoid-metro-cyan .btn.btn-primary.active, .formoid-metro-cyan .btn.btn-primary:focus, .formoid-metro-cyan .dropdown-menu li.active > a:focus, .formoid-metro-cyan .dropdown-menu li.selected > a:focus, .formoid-metro-cyan .dropdown-menu li.active > a.highlighted:focus, .formoid-metro-cyan .dropdown-menu li.selected > a.highlighted:focus {
  border-color: #2da5da;
}
.formoid-metro-cyan .dropdown-inverse {
  border: 2px solid #2da5da;
  padding-top: 4px;
}
.formoid-metro-cyan .dropdown-arrow {
  border-color: #2da5da transparent;
}
.formoid-metro-cyan .dropdown-inverse li.active > a, .formoid-metro-cyan .dropdown-inverse li.selected > a, .formoid-metro-cyan .dropdown-inverse li > a:hover, .formoid-metro-cyan .dropdown-inverse li > a:active, .formoid-metro-cyan .dropdown-inverse li > a:focus {
  background-color: #2da5da;
  color: highlighttext;
}
.formoid-metro-cyan .dropdown-menu li > a:hover, .formoid-metro-cyan .dropdown-menu li > a:active, .formoid-metro-cyan .dropdown-menu li > a:focus, .formoid-metro-cyan .dropdown-submenu:hover > a {
  background-color: #8dc9e5;
  background-image: none;
  color: highlighttext;
  outline: medium none;
}
.datepicker {
  border: 2px solid #2da5da;
}
.datepicker::before {
  border-bottom: 7px solid #2da5da;
}
.datepicker td.active, .datepicker td.active:hover, .datepicker td.active:hover:hover, .datepicker td.active:focus, .datepicker td.active:hover:focus, .datepicker td.active:active, .datepicker td.active:hover:active, .datepicker td.active.active, .datepicker td.active.active:hover, .datepicker td.active.disabled, .datepicker td.active.disabled:hover, .datepicker td.active[disabled], .datepicker td.active[disabled]:hover, .datepicker td.active:active, .datepicker td.active:hover:active, .datepicker td.active.active, .datepicker td.active.active:hover, .datepicker td span.active, .datepicker td span.active:hover, .datepicker td span.active:focus, .datepicker td span.active:active, .datepicker td span.active.active, .datepicker td span.active.disabled, .datepicker td span.active[disabled] {
  background-color: #2da5da;
  background-image: none;
  color: #ffffff;
}
.formoid-metro-cyan .dropdown-menu {
  background-clip: padding-box;
  background-color: #ffffff;
  border-radius: 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  display: none;
  left: 0;
  list-style: outside none none;
  margin: 2px 0 0;
  min-width: 160px;
  padding: 5px 0;
  position: absolute;
  top: 100%;
  z-index: 1000;
}
.formoid-metro-cyan .dropdown-menu > li > a:hover, .formoid-metro-cyan .dropdown-menu > li > a:focus, .formoid-metro-cyan .dropdown-submenu:hover > a, .formoid-metro-cyan .dropdown-submenu:focus > a {
  text-decoration: none;
}
.formoid-metro-cyan .btn-group {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  white-space: nowrap;
}
.formoid-metro-cyan .btn-group > .dropdown-menu {
  font-size: 1em;
}
.formoid-metro-cyan .btn {
  -moz-appearance: none;
  border: 2px solid #e5e5e5;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 1em;
  height: 100%;
  outline: medium none;
  padding: 7px 10px;
  text-align: left;
  transition: all 0.3s ease 0s;
  width: 100%;
}
.formoid-metro-cyan .btn:active, .formoid-metro-cyan .btn-group.open .btn.dropdown-toggle, .formoid-metro-cyan .btn.active {
  box-shadow: none;
}
.formoid-metro-cyan .btn.disabled, .formoid-metro-cyan .btn[disabled] {
  background-color: #bdc3c7;
  box-shadow: none;
  color: rgba(255, 255, 255, 0.75);
  opacity: 0.7;
}
.formoid-metro-cyan .select {
  width: 100%;
}
.formoid-metro-cyan .select .btn .filter-option {
  left: 13px;
  overflow: hidden;
  position: absolute;
  right: 30px;
  text-align: left;
}
.formoid-metro-cyan .select .btn .dropdown-toggle {
  border-radius: 6px;
}
.formoid-metro-cyan .select .btn .dropdown-menu {
  box-sizing: border-box;
  min-width: 100%;
}
.formoid-metro-cyan .select .btn .dropdown-menu li:not(.disabled) > a:hover small {
  color: rgba(255, 255, 255, 0.004);
}
.formoid-metro-cyan .select .btn > .disabled, .formoid-metro-cyan .select .btn .dropdown-menu li.disabled > a {
  cursor: default;
}
.formoid-metro-cyan .select .caret {
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 3px solid #000;
  position: absolute;
  right: 10px;
  top: 50%;
}
.formoid-metro-cyan .dropdown-menu {
  box-shadow: none;
  display: block;
  opacity: 0;
  overflow-x: hidden;
  transition: all 0.25s ease 0s;
  visibility: hidden;
  width: 99%;
}
.formoid-metro-cyan .dropdown-menu.typeahead {
  display: none;
  opacity: 1;
  visibility: visible;
  width: auto;
}
.formoid-metro-cyan .open > .dropdown-menu {
  margin-top: 8px;
  opacity: 1;
  visibility: visible;
}
.formoid-metro-cyan .dropdown-menu li:first-child dt + a {
  border-radius: 0;
}
.formoid-metro-cyan .dropdown-menu li.active > a, .formoid-metro-cyan .dropdown-menu li.selected > a, .formoid-metro-cyan .dropdown-menu li.active > a.highlighted, .formoid-metro-cyan .dropdown-menu li.selected > a.highlighted, .formoid-metro-cyan .dropdown-menu li.active > a:hover, .formoid-metro-cyan .dropdown-menu li.selected > a:hover, .formoid-metro-cyan .dropdown-menu li.active > a.highlighted:hover, .formoid-metro-cyan .dropdown-menu li.selected > a.highlighted:hover, .formoid-metro-cyan .dropdown-menu li.active > a:focus, .formoid-metro-cyan .dropdown-menu li.selected > a:focus, .formoid-metro-cyan .dropdown-menu li.active > a.highlighted:focus, .formoid-metro-cyan .dropdown-menu li.selected > a.highlighted:focus {
  color: #ffffff;
}
.formoid-metro-cyan .dropdown-menu li > a {
  clear: both;
  display: block;
  padding: 6px 15px;
  text-decoration: none;
  white-space: nowrap;
}
.formoid-metro-cyan .dropdown-menu li > a::before, .formoid-metro-cyan .dropdown-menu li > a::after {
  content: "";
  display: table;
}
.formoid-metro-cyan .dropdown-menu li > a::after {
  clear: both;
}
.formoid-metro-cyan .dropdown-menu li > a.highlighted {
  background: none repeat scroll 0 0 #c9cfd4;
  color: #ffffff;
}
.formoid-metro-cyan .dropdown-menu li > a.highlighted:hover, .formoid-metro-cyan .dropdown-menu li > a.highlighted:focus {
  background: none repeat scroll 0 0 #bac1c8;
  color: #ffffff;
}
.formoid-metro-cyan .dropdown-menu li > a::before {
  margin-top: 3px;
}
.formoid-metro-cyan .dropdown-menu li dt {
  margin-bottom: 3px;
  margin-top: 12px;
  padding: 0 15px;
}
.formoid-metro-cyan .dropdown-inverse {
  padding-top: 4px;
}
.formoid-metro-cyan .dropdown-inverse li {
  margin: 0 4px -2px;
}
.formoid-metro-cyan .dropdown-inverse li:first-child > a, .formoid-metro-cyan .dropdown-inverse li:last-child > a {
  border-radius: 0;
  padding-bottom: 7px;
}
.formoid-metro-cyan .dropdown-inverse li.active > a, .formoid-metro-cyan .dropdown-inverse li.selected > a {
  position: relative;
  z-index: 1;
}
.formoid-metro-cyan .dropdown-inverse li dt {
  padding-left: 11px;
  padding-right: 11px;
}
.formoid-metro-cyan .dropdown-inverse li .divider {
  margin-left: 11px;
  margin-right: 11px;
}
.formoid-metro-cyan .dropdown-inverse li > a.highlighted {
  background: none repeat scroll 0 0 #526476;
}
.formoid-metro-cyan .dropdown-inverse li > a.highlighted:hover, .formoid-metro-cyan .dropdown-inverse li > a.highlighted:focus {
  background: none repeat scroll 0 0 #677786;
}
.formoid-metro-cyan .dropdown-inverse li .divider {
  background-color: #526476;
  border-bottom-color: #526476;
}
.formoid-metro-cyan .dropdown-menu.pull-right {
  left: auto;
  right: 0;
}
.formoid-metro-cyan .dropdown-arrow {
  border-style: solid;
  border-width: 0 9px 9px;
  height: 0;
  left: 13px;
  margin-top: 0;
  opacity: 0;
  position: absolute;
  top: 100%;
  transition: all 0.25s ease 0s;
  width: 0;
  z-index: 10;
}
.formoid-metro-cyan .open > .dropdown-arrow {
  margin-top: 0;
  opacity: 1;
}
.datepicker {
  background-color: #fff;
  border-radius: 0;
  display: none;
  font-size: 1em;
  left: 0;
  margin-top: 8px;
  padding: 4px;
  position: absolute;
  top: 0;
  width: 14em;
  z-index: 10;
}
.datepicker::before {
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  content: "";
  display: inline-block;
  left: 6px;
  position: absolute;
  top: -9px;
}
.datepicker::after {
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  content: "";
  display: inline-block;
  left: 7px;
  position: absolute;
  top: -6px;
}
.datepicker > div {
  display: none;
}
.datepicker table {
  margin: 0;
  width: 100%;
}
.datepicker td, .datepicker th {
  border-radius: 0;
  text-align: center;
  width: 2.9em;
}
.datepicker td.day:hover {
  background: none repeat scroll 0 0 #eeeeee;
  cursor: pointer;
}
.datepicker td.day.disabled {
  color: #eeeeee;
}
.datepicker td.old, .datepicker td.new {
  color: #999999;
}
.datepicker td.active, .datepicker td.active:hover {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker td span {
  cursor: pointer;
  display: block;
  float: left;
  height: 1.7em;
  line-height: 1.6;
  margin: 2px;
  width: 1.5em;
}
.datepicker .datepicker-months td span, .datepicker .datepicker-years td span {
  height: 3em;
  line-height: 3;
  width: 3.5em;
}
.datepicker td span:hover {
  background: none repeat scroll 0 0 #eeeeee;
}
.datepicker td span.active {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker td span.old {
  color: #999999;
}
.datepicker thead tr:first-child th {
  cursor: pointer;
}
.datepicker thead tr:first-child th:hover {
  background: none repeat scroll 0 0 #eeeeee;
}
.input-append.date .add-on i, .input-prepend.date .add-on i {
  cursor: pointer;
  display: block;
  height: 16px;
  width: 16px;
}
