body {
    background-image: url("../img/network.png");
    background-color: #8ec3eb;
    overflow-x: hidden;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    color: #fff;
}

.alert {
  overflow-x: auto !important;
}
