site_name: "Hopsworks Documentation"
site_description: "Official documentation for Hopsworks and its Feature Store - an open source data-intensive AI platform used for the development and operation of machine learning models at scale."
site_author: "Logical Clocks"
site_url: "https://docs.hopsworks.ai/hopsworks/latest"

# Repository
repo_name: logicalclocks/hopsworks
repo_url: https://github.com/logicalclocks/hopsworks
edit_uri: ""

nav:
  - Feature Store: https://docs.hopsworks.ai/feature-store-api/latest/
  - Model Management: https://docs.hopsworks.ai/machine-learning-api/latest/
  - Compute Management:
      - Introduction: compute/index.md
      - Authentication:
        - Registration: compute/auth/registration.md
        - Login: compute/auth/login.md
        - Password Recovery: compute/auth/recoverPassword.md
        - OAuth2 Authentication: compute/auth/oauth2.md
        - LDAP Authentication: compute/auth/ldap.md
        - Kerberos Authentication: compute/auth/krb.md
        - Update Profile: compute/auth/updateProfile.md
      - Project:
        - Start with a Demo Project: compute/project/demoProject.md
        - Create a New Project: compute/project/createProject.md
        - Project-based Multi-tenancy: compute/project/multiTenancy.md
        - Delete a Project: compute/project/deleteProject.md
        - Project Name Reserved Words: compute/project/reservedNames.md
      - Python: compute/python.md
      - Jupyter: compute/jupyter.md
      - Jobs: compute/jobs.md
      - Git Integration: compute/git.md
      - Alerts: compute/alerts.md
  - Administration:
      - Introduction: admin/index.md
      - Authentication:
        - Configure Authentication: admin/auth.md
        - Configure OAuth2:
          - Register an Identity Provider: admin/oauth2/create-client.md
          - Create Okta Client: admin/oauth2/create-okta-client.md
          - Create Azure Client: admin/oauth2/create-azure-client.md
        - Configure LDAP/Kerberos:
          - Configure LDAP: admin/ldap/configure-ldap.md
          - Configure Kerberos: admin/ldap/configure-krb.md
          - Configure server for LDAP and Kerberos: admin/ldap/configure-server.md
      - User Management: admin/user.md
      - Configure Alerts: admin/alert.md
  - Hopsworks.ai: https://docs.hopsworks.ai/hopsworks-cloud/latest/
  - Examples: https://examples.hopsworks.ai/
  - Community: https://community.hopsworks.ai/
  - Old Documentation: https://hopsworks.readthedocs.io/en/stable/index.html

theme:
  name: material
  favicon: assets/images/favicon.ico
  logo: assets/images/hops-logo.png
  icon:
    repo: fontawesome/brands/github
  font:
    text: "Roboto"
    code: "IBM Plex Mono"
  palette:
    accent: teal
  features:
    - navigation.tabs
    - navigation.tabs.sticky

extra:
  generator: false
  social:
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/logicalclocks
    - icon: fontawesome/brands/github
      link: https://github.com/logicalclocks/hopsworks
    - icon: fontawesome/brands/discourse
      link: https://community.hopsworks.ai/
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/company/logicalclocks/

extra_css:
    - css/custom.css
    - css/version-select.css

extra_javascript:
    - js/version-select.js

plugins:
    - search

markdown_extensions:
    - admonition
    - codehilite
    - footnotes
    - pymdownx.tabbed
    - pymdownx.arithmatex
    - pymdownx.superfences
    - pymdownx.details
    - pymdownx.caret
    - pymdownx.mark
    - pymdownx.tilde
    - pymdownx.critic
    - toc:
        permalink: "#"
    - pymdownx.tasklist:
        custom_checkbox: true
    - markdown_include.include:
        base_path: docs

google_analytics:
    - UA-85730257-4
    - auto
