<div ng-show="metadataCtrl.noTemplates" style="padding-left: 10px" ng-show="!datasetsCtrl.selected">
  <div style="display: inline-block">
    <div style="display: inline-block"><h4>No extended metadata.</h4></div>
    <span class="field-info" uib-tooltip="Right click on the file to add a metadata template." style="padding-top: 5px;padding-left:3px">
      <i class="fa fa-exclamation-circle"></i>
    </span>
  </div>
</div>
<div ng-hide="metadataCtrl.noTemplates" ng-show="datasetsCtrl.selected" style="overflow-y: auto; height:100%">
  <div class="input-group-lg" align="left">
    <div ng-repeat="table in metadataCtrl.metainfo| orderBy:'name'"
         style="background-color:#FAFAFA;padding-bottom:10px;padding-top: 10px; border-bottom: dashed #d5d5d5 thin;">
      <div style="background-color:#D8D8D8;padding-left:15px;padding-top: 5px;">
        <label style="font-size: 16px;">{{table.name| limitTo: 25}}</label>
        <span type="button" class="btn btn-default btn-xs fa fa-minus-square-o pull-right" 
              style="background-color:#D8D8D8;margin-right: 5px;margin-top: 2px;"
              data-toggle="collapse" 
              data-target="#metadatadiv{{$index}}">                                            
        </span>
      </div>
      <div id="metadatadiv{{$index}}" class="collapse in">
        <div ng-repeat="field in table.rest" style="font-size:15px;" class="fields-in-table panel-default">
          <div >
            <div>
              <label>{{field.tagName| limitTo: 20}}</label>
              <span class="field-info" tooltip-placement="right"
                    uib-tooltip="{{table.desc[field.tagName]}}" style="padding-top: 5px; padding-left:5px">
                <i class="fa fa-exclamation-circle"></i>
              </span>
              <a style="color: green;"
                 ng-click="metadataCtrl.setVisibilityAddMetadata(table.id + '-' + field.tagName, true)" 
                 ng-hide="metadataCtrl.visibilityInfo[table.id + '-' + field.tagName]">
                <i class="fa fa-plus-circle pull-right" style="padding-right: 10px; padding-top: 6px"></i>
              </a>
            </div>
          </div>
          <div  class="pull-left " style="width:80%;">
            <div ng-repeat="card in table.inputcontent">
              <!--text input field type-->
              <div class="input-group input-group-sm"
                   ng-if="field.tagName === card.title && card.fieldtypeid === 1" 
                   ng-show="metadataCtrl.visibilityInfo[table.id + '-' + field.tagName]">
                <input class="form-control" id="sizeFieldInput"
                       tooltips title="{{card.description}}"
                       ng-show="true"
                       ng-model="metadataCtrl.metaData[card.id]"
                       ng-keypress="($event.which === 13)?metadataCtrl.createMetadata(table.id,card.id):0" autofocus/>
                <div class="input-group-btn">
                  <button class="btn btn-default fa fa-check " ng-click="metadataCtrl.createMetadata(table.id, card.id);" ></button>
                  <button class="btn btn-default fa fa-times" ng-click="metadataCtrl.setVisibilityAddMetadata(table.id + '-' + field.tagName, false);"></button>
                </div>
              </div>
              <!--single select list input type-->
              <div class="input-group input-group-sm"
                   ng-if="field.tagName === card.title && card.fieldtypeid === 2" 
                   ng-show="metadataCtrl.visibilityInfo[table.id + '-' + field.tagName]">
                <ui-select class="form-control" style="width: 100%;"
                           ng-model="metadataCtrl.metaData[card.id]" 
                           theme="select2" ng-disabled="disabled" required>
                  <ui-select-match placeholder="Select a value...">{{$select.selected.value}}</ui-select-match>
                  <ui-select-choices repeat="item.value as item in card.fieldtypeContent | filter: $select.search">
                    <!--<div ng-bind-html="item.value | highlight: $select.search"></div>-->
                    <small>
                      <span ng-bind-html="''+item.value | highlight: $select.search"></span>
                    </small>
                  </ui-select-choices>
                </ui-select>
                <div class="input-group-btn">
                  <button class="btn btn-default fa fa-check" ng-click="metadataCtrl.createMetadata(table.id, card.id);"></button>
                  <button class="btn btn-default fa fa-times" ng-click="metadataCtrl.setVisibilityAddMetadata(table.id + '-' + field.tagName, false);"></button>
                </div>
              </div>
              <!--multi select list input type-->
              <div class="input-group input-group-sm"
                   ng-if="field.tagName === card.title && card.fieldtypeid === 3" 
                   ng-show="metadataCtrl.visibilityInfo[table.id + '-' + field.tagName]">
                <ui-select class="form-control" multiple ng-model="metadataCtrl.metaData[card.id]" 
                           theme="bootstrap" 
                           close-on-select="false" style="width: 235px; max-height: 70px;">
                  <ui-select-match placeholder="Select values...">{{$item.value}}</ui-select-match>
                  <ui-select-choices repeat="card in card.fieldtypeContent | filter:$select.search">
                    {{card.value}}
                  </ui-select-choices>
                </ui-select>
                <div class="input-group-btn">
                  <button class="btn btn-default fa fa-check" ng-click="metadataCtrl.createMetadata(table.id, card.id);"></button>
                  <button class="btn btn-default fa fa-times" ng-click="metadataCtrl.setVisibilityAddMetadata(table.id + '-' + field.tagName, false);"></button>
                </div>
              </div>
            </div>
          </div>
          <div style="width: 100%; height: 15px;" ng-show="metadataCtrl.visibilityInfo[table.id + '-' + field.tagName]"></div>
          <div ng-repeat="value in field.metadataView" style="padding-left: 15px;padding-top: 0px">
            <div ng-hide="metadataCtrl.visibilityInfo[value.id]" ng-if="value.data !== ''" ng-init="metashow[value.id] = false" ng-mouseenter="metashow[value.id] = true" ng-mouseleave="metashow[value.id] = false">
              <div style="display:inline-block" >
                <label style="font-weight: normal">{{value.data}}</label>
              </div>
              <div style="display:inline-block;padding-left: 20px" ng-show="metashow[value.id]">
                <button class="btn btn-info btn-xs" ng-click="metadataCtrl.setVisibilityAddMetadata(value.id, true);" ><i class="fa fa-pencil"></i></button>
                <button class="btn btn-danger btn-xs" ng-click="metadataCtrl.removeMetadata(value);" ><i class="fa fa-times"></i></button>
              </div>
              <br>
            </div>
            <div  class="pull-left " style="padding-bottom: 0;">
              <div ng-repeat="card in table.inputcontent">
                <!--text input field type-->
                <div ng-if="field.tagName === card.title && card.fieldtypeid === 1" ng-show="metadataCtrl.visibilityInfo[value.id]">
                  <input placeholder="{{value.data}}" class="fillInMetadataInput" id="sizeFieldInput"
                         tooltips title="{{card.description}}"
                         ng-show="true"
                         ng-model="metadataCtrl.metaDataDetail[value.id]"  style="width: 100px"/>
                  <button class="btn btn-default btn-xs" ng-click="metadataCtrl.updateMetadata(value);" ><span class="glyphicon glyphicon-ok"></span></button>
                  <button class="btn btn-default btn-xs" ng-click="metadataCtrl.setVisibilityAddMetadata(value.id, false);"><span class="glyphicon glyphicon-remove"></span></button>
                </div>
                <!--single select list input type-->
                <div ng-if="field.tagName === card.title && card.fieldtypeid === 2" style="min-width: 125px;" ng-show="metadataCtrl.visibilityInfo[value.id]">
                  <ui-select ng-model="metadataCtrl.metaDataDetail[value.id]" theme="select2" ng-disabled="disabled" style="min-width: 100px;" required>
                    <ui-select-match placeholder="Select a value...">{{$select.selected.value}}</ui-select-match>
                    <ui-select-choices repeat="item.value as item in card.fieldtypeContent | filter: $select.search">
                      <!--<div ng-bind-html="item.value | highlight: $select.search"></div>-->
                      <small>
                        <span ng-bind-html="''+item.value | highlight: $select.search"></span>
                      </small>
                    </ui-select-choices>
                  </ui-select>
                  <button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-ok" ng-click="metadataCtrl.updateMetadata(value);"></span></button>
                  <button class="btn btn-default btn-xs" ng-click="metadataCtrl.setVisibilityAddMetadata(value.id, false);"><span class="glyphicon glyphicon-remove"></span></button>
                </div>
                <!--multi select list input type-->
                <div ng-if="field.tagName === card.title && card.fieldtypeid === 3" ng-show="metadataCtrl.visibilityInfo[value.id]">
                  <ui-select ng-model="metadataCtrl.metaDataDetail[value.id]" theme="select2" ng-disabled="disabled" style="min-width: 100px;" required>
                    <ui-select-match placeholder="Select a value...">{{$select.selected.value}}</ui-select-match>
                    <ui-select-choices repeat="item.value as item in card.fieldtypeContent | filter: $select.search">
                      <!--<div ng-bind-html="item.value | highlight: $select.search"></div>-->
                      <small>
                        <span ng-bind-html="''+item.value | highlight: $select.search"></span>
                      </small>
                    </ui-select-choices>
                  </ui-select>
                  <button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-ok" ng-click="metadataCtrl.updateMetadata(value);"></span></button>
                  <button class="btn btn-default btn-xs" ng-click="metadataCtrl.setVisibilityAddMetadata(value.id, false);"><span class="glyphicon glyphicon-remove"></span></button>
                </div>
              </div>
            </div>
            <div style="width: 100%; height: 35px;" ng-show="metadataCtrl.visibilityInfo[value.id]"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

