<!-- Card template -->

<div as-sortable-item-handle="sortOptions">
  <div class="row">
    <div class="col-sm-10">

      <span ng-hide="card.editing" class="card-title" class=" removeCard pull-left btn btn-xs"
            ng-dblclick="editCardText(card);">{{card.title}}</span>
    </div>

    <div class="col-xs-5">

      <input size="10" class="fillInMetadataInput" id="sizeFieldInput"
             ng-show="true"
             ng-blur="" ng-enter="" ng-focus="" ng-model="data.$parent[card.title]"/>

    </div>
  </div>
</div>