
<form ng-submit="modifyField()" class="noMargin" name="modifyFieldForm">
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title">Modify field '{{fieldName}}'</h4>
  </div>

  <div class="modal-body">

    <div class="form-group">
      <label class="control-label" ng-show="existingRawData">
        <font color="red">This field contains actual data. You cannot modify its definition</font>
      </label>
      <p></p>

      <label class="control-label" ng-disabled="existingRawData === true" for="fieldName">Field name</label>
      <div>
        <input type="text" id="fieldName" ng-disabled="existingRawData === true" placeholder="Name of the field" ng-model="fieldName" required
               focus-me class="cardInputs form-control"/>
      </div>

      <label class="control-label" ng-disabled="existingRawData === true" for="fieldDescription">Field description</label>
      <div>
        <input type="text" id="fieldDescription" ng-disabled="existingRawData === true" placeholder="Description of the field" ng-model="fieldDescription" required
               focus-me class="cardInputs form-control"/>
      </div>

      <p></p>
      <div>
        <label ng-disabled="existingRawData === true" class="control-label">Field type: </label>
        <label ng-disabled="existingRawData === true">This field is a {{fieldType}}</label>
        <br>
        <label ng-disabled="existingRawData === true">{{fieldTypeValues}}</label>
      </div>

      <label class="control-label" ng-disabled="existingRawData === true" for="newCardType">New field type</label>
      <div>
        <select id="newCardType" ng-disabled="existingRawData === true" ng-model="selectedItem" 
                ng-change="update()" ng-options="item as item.name for item in items"></select>
      </div>
    </div>

    <div class="">
      <fieldset ng-disabled="existingRawData === true" data-ng-repeat="choice in fieldSelectItems">
        <input type="text" ng-model="choice.value" name="" placeholder="Enter a value">
        <button type="button" class="glyphicon glyphicon-plus" ng-show="$last" ng-click="addNewSelectChoice()"></button>
        <button type="button" class="glyphicon glyphicon-minus" ng-show="$last" ng-click="removeSelectChoice()"></button>   
      </fieldset>

      <fieldset ng-disabled="existingRawData === true" data-ng-repeat="choice in yesNoItems">
        <input type="text" ng-model="choice.value" name="" placeholder="Enter a yes/no choice">
      </fieldset>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
    <button type="button" class="btn btn-primary" ng-disabled="existingRawData === true" ng-click="modifyField()">Save changes</button>
  </div>
</form>
