<!-- New Card template -->

<form ng-submit="addNewCard()" class="noMargin" name="newCardForm">
  <div class="modal-header">
    <button type="button" class="close" ng-click="close()">&times;</button>
    <h4 class="modal-title" ng-model="columnName">Add New Field in '{{columnName}}'</h4>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label class="control-label" for="newCardTitle">Field title</label>

      <div>
        <input type="text" id="newCardTitle" placeholder="Title of a field" ng-model="title" required
               focus-me class="cardInputs form-control"/>
      </div>

      <label class="control-label" for="newFieldDescription">Field Description</label>

      <div>
        <input type="text" id="newFieldDescription" placeholder="Description of a field" ng-model="description" required
               focus-me class="cardInputs form-control"/>
      </div>

      <label class="control-label" for="newFieldType">Field Type</label>

      <div>
        <input type="text" id="newFieldType" placeholder="Type of a field" ng-model="type" required
               focus-me class="cardInputs form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="newCardDetails">More details
        <small>(optional)</small>
      </label>

      <div>
        <textarea id="newCardDetails" ng-model="details" class="cardInputs form-control" rows="7">
        </textarea>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="close()">Close</button>
    <button type="submit" class="btn btn-primary">Add</button>
  </div>
</form>
