<div class="modal-header">
  <button type="button" class="close" ng-click="modalCtrl.cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h3 class="modal-title">{{modalCtrl.title}}</h3>
</div>
<div growl reference="14" class="pull-right" ></div>
<div class="modal-body">
  {{modalCtrl.msg}}
  <input type="password" ng-model="modalCtrl.password">
</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="modalCtrl.cancel()">Cancel</button>
  <button class="btn btn-primary" ng-click="modalCtrl.certs()">OK</button>
</div>
