<form ng-submit="enterNameCtrl.ok()" class="form-validate noMargin" name="newFieldForm">
  <div class="modal-header">
    <button type="button" class="close" ng-click="enterNameCtrl.cancel()">&times;</button>
    <h2 class="modal-title">{{enterNameCtrl.title}}</h2>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label class="control-label" for="newFieldName">Enter new name: </label>
      <div form-group has-feedback>
        <input type="text" id="newfield_name" name="newFieldName" placeholder="" ng-model="enterNameCtrl.newName" 
               required autofocus="autofocus"   
               focus-me class="cardInputs form-control"/>
        <div class="alert alert-danger fade in" ng-if="newFieldForm.$submitted && newFieldForm.newFieldName.$error.required">
          <a class="close" data-dismiss="alert">&times;</a>
          <strong>A new name</strong> is required.
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="enterNameCtrl.cancel()">Close</button>
    <button type="button" class="btn btn-primary" ng-click="enterNameCtrl.ok()">Rename</button>
  </div>
</form>