<div class="modal-header">
    <button class="close" ng-click="shareDatasetCtrl.close()" data-dismiss="modal" aria-hidden="true"
            type="button">&times;</button>
    <h2 class="modal-title">Make DataSet Read-Only</h2>
</div>
<div class="modal-body">
    <form role="form" name="dataSetForm" ng-submit="shareDatasetCtrl.removeEditable()" novalidate
          class="form-validate">
        <div class="row">
            <fieldset>
                <div class="control-group col-md-offset-1" style="margin-right: 8.33333%;">
                    <div class="form-group has-feedback">
                        <label class="text-muted control-label">Warning</label><br>
                        <div class="btn-group" role="group" aria-label="..." style="min-width: 100%">
                          This will prevent other users from editing this dataset. The files will still be readable by other users.
                           <br />
                           Is this really what you want to do?
                        </div>

                </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="col-md-1">

                </div>
            </fieldset>
        </div>

        <div class="modal-footer" style="padding-bottom: 1px; padding-right: 1px">
          
            <button class="btn btn-default" type="button" ng-click="shareDatasetCtrl.close()">No</button>
            <button class="btn btn-primary" type="submit" ng-disabled="dataSetForm.dataSet_name.$error.required">
                Yes
            </button>

        </div>
    </form>
</div>