
<div class="modal-header">
    <button class="close" ng-click="schemaUpdateContentCtrl.close()" data-dismiss="modal" aria-hidden="true"
            type="button">&times;</button>
    <h2 class="modal-title">Enter Schema Details</h2>
</div>
<div growl reference="21" class="pull-right"></div>
<div class="modal-body">
    

    <form role="form" name="updateSchemaForm" id="schemaUpdate"
          ng-submit="schemaUpdateContentCtrl.createSchema()" novalidate
          class="form-validate">                                                                                                                              
        <div class="view-info">
            <div class="col-md-12">
                <label class="control-label">Schema name: {{schemaUpdateContentCtrl.schemaName}}</label><br>
                
            </div>
           
            <div class="col-md-12">
                <label class="control-label">Schema version: {{schemaUpdateContentCtrl.schemaVersion}}</label><br> 
            </div>
            <div class="col-md-12">
                <label class="control-label">Content</label><br>
                <div class="col-sm-12" style="overflow-y: auto">
                    <!--<pretty-json json="{{jsonObj}}" id = "prettyJson" contenteditable="true"  ng-model="schemaUpdateContentCtrl.contents"></pretty-json>-->
                    <pre pretty-json="jsonObj" id="myPrettyJson" edition="true"></pre>
                </div>
            </div>
            <div ng-if="schemaUpdateContentCtrl.content_empty=== -1" style="color: red">{{"Content should not be empty"}}</div>
        </div>
        <div ng-if="schemaUpdateContentCtrl.message" style="color: red">{{schemaUpdateContentCtrl.message}}</div>
        <div class="modal-footer" style="padding-bottom: 1px; padding-right: 1px">
 
            <button class="btn btn-default" type="button" ng-click="schemaUpdateContentCtrl.close()">Cancel</button>
             <button class="btn btn-warning" type="button" ng-click="schemaUpdateContentCtrl.validateSchema()">Validate</button>
            <button class="btn btn-lightgrey" type="submit" ng-disabled="schemaUpdateContentCtrl.validSchema">
                Update
            </button>
        </div>
    </form>
</div>
