<div ng-controller="MainCtrl as mainCtrl">
  <div ng-include="'nav.html'"></div>
</div>
<div ng-controller="TensorflowCtrl as tensorflowCtrl">

  <div id="wrapper" class="toggled">
    <div class="overlay"></div>

    <div ng-include="'navProject.html'"></div>

    <section>
      <div class="content-wrapper">
        <div growl reference="10" class="pull-right" ></div>


        <div>
          <form class="form-horizontal">
            <div class="form-group"  style="margin-left: 15px;">
              <div class="row"/>
              <div class="row">

                <ul class="nav nav-tabs">
                  <li ng-class="{'active' : tensorflowCtrl.showClusters === 1}"><a ng-click="tensorflowCtrl.showTab(false)">Training</a></li>
                  <li ng-class="{'active' : tensorflowCtrl.showServing === 1}"><a ng-click="tensorflowCtrl.showTab(true)">Serving</a></li>
                </ul>                

              </div>
              <div class="row"><br></div>
              <div  ng-show="tensorflowCtrl.showClusters === 1">
                <div class="col-sm-11">
                  <span class="text-muted" ng-show="tensorflowCtrl.maxNumCpus - tensorflowCtrl.numGpusUsed > 0">     {{tensorflowCtrl.numGpusUsed}} of {{tensorflowCtrl.maxNumCpus}} topics in use</span>
                  <span style="color: red;" class="text" ng-show="tensorflowCtrl.maxNumCpus - tensorflowCtrl.numGpusUsed <= 0">    All available {{tensorflowCtrl.maxNumCpus}} resources are in use.</span>
                </div>
                <br>
                <div class="col-sm-2">
                  <button type="button" ng-disabled="tensorflowCtrl.cpuQuota - tensorflowCtrl.cpusUsed <= 0 && tensorflowCtrl.gpuQuota - tensorflowCtrl.gpusUsed <= 0" 
                          ng-click="tensorflowCtrl.createCluster()" class="btn btn-default btn-success control-label">
                    New Cluster<i style="margin-left: 10px" class="glyphicon glyphicon-plus"></i> 
                  </button>

                </div>
              </div>

              <div ng-show="tensorflowCtrl.showServing === 1">
                <br>
                <div class="col-sm-2">
                  <button type="button"  
                          ng-click="tensorflowCtrl.createServing()" class="btn btn-default btn-success control-label">
                    Start Serving<i style="margin-left: 10px" class="glyphicon glyphicon-plus">
                    </i> 
                  </button>
                </div>
              </div>              
            </div>
          </form>

          <div ng-show="tensorflowCtrl.showClusters === 1">

            <button ng-click="accordion.expandAll()">Expand all</button>
            <button ng-click="accordion.collapseAll()">Collapse all</button>

            <v-accordion class="vAccordion--default" multiple>

              <v-pane ng-repeat="cluster in tensorflowCtrl.clusters" expanded="cluster.isExpanded" control="accordion">
                <v-pane-header>
                  {{ ::cluster.name}} 
                  <div class="btn-group pull-right" style="bottom: 10px;" role="group">
                    <button 
                      uib-tooltip="Delete"
                      ng-click="tensorflowCtrl.toggle(cluster, $index); tensorflowCtrl.removeCluster(cluster.name); $event.stopPropagation();"
                      type="button" class="btn btn-danger glyphicon glyphicon-trash">                                       
                    </button>
                  </div>
                </v-pane-header>
                <v-pane-content>
                  <v-accordion ng-if="cluster.jobs">
                    <v-pane ng-repeat="job in cluster.jobs"">
                      <v-pane-header> 
                        {{ ::job.name}}
                      </v-pane-header>
                      <v-pane-content>
                        {{ ::job.program}}
                        <div class="btn-group pull-right" style="bottom: 10px;" role="group">
                          <button 
                            uib-tooltip="Delete"
                            ng-click="tensorflowCtrl.toggle(cluster, $index); tensorflowCtrl.removeJob(cluster.name); $event.stopPropagation();"
                            type="button" class="btn btn-danger glyphicon glyphicon-trash">                                       
                          </button>
                        </div>
                        <v-accordion ng-if="job.tasks">
                          <v-pane ng-repeat="task in job.tasks"">
                            <v-pane-header> 
                              {{ ::task.host}}
                            </v-pane-header>
                            <v-pane-content>
                              {{ ::task.params}}
                            </v-pane-content>
                          </v-pane>

                      </v-pane-content>
                    </v-pane>
                  </v-accordion>
                </v-pane-content>
              </v-pane> 
            </v-accordion> 



          </div>      
          <div ng-show="tensorflowCtrl.showServing == 1">
            <br>
            Some stuff here
          </div>
        </div>              
    </section>
  </div>
</div>