<div id="body" style="background:#ffffff !important; border-radius: 7px; padding: 20px;">
  <div class="row">
    <div class="col-md-4" id="headers">
      <div class="row">
        <h3>{{vizopsCtrl.jobName}}&nbsp;</h3>
      </div>
      <div class="row">
        <small>{{vizopsCtrl.appId}}</small>
      </div>
    </div>
    <div class="col-md-1 text-right">
      <h4 uib-tooltip="Bigger interval results result in less data points">Group by interval</h4>

      <ui-select name="groupBySelection" theme="select2" ng-model="vizopsCtrl.chosenGroupByInterval"
                  on-select="vizopsCtrl.onGroupByIntervalSelection()">

        <ui-select-match placeholder="Interval" allow-clear="false">{{$select.selected}}</ui-select-match>

        <ui-select-choices repeat="choice in vizopsCtrl.groupByIntervals">
          <div ng-bind-html="choice | highlight: $select.search"></div>
        </ui-select-choices>
      </ui-select>
    </div>

    <div class="col-md-7 text-right">
      <h3 ng-if="vizopsCtrl.now">
        <!--  -->
        <span class="fa fa-clock-o" aria-hidden="true"></span> {{vizopsCtrl.durationLabel}}
        ,&nbsp; running since {{vizopsCtrl.startTime | date:'medium'}}
      </h3>
      <h3 ng-if="!vizopsCtrl.now">
        <span class="fa fa-clock-o" aria-hidden="true"></span> {{vizopsCtrl.durationLabel}}
        ,&nbsp; from {{vizopsCtrl.startTime | date:'medium'}} to {{vizopsCtrl.endTime | date:'medium'}}
      </h3>
    </div>
  </div> <!-- row -->

  <hr />

  <div class="row">
    <uib-tabset active="active">

      <uib-tab index="0" heading="Overview">
        <div ng-if="active === 0" ng-controller="VizopsOverviewCtrl as vizopsOverviewCtrl">
          <div class="row">

            <!-- Total executors card -->
            <div class="col-md-2">
              <md-card>
                <md-card-title>
                  <md-card-title-text>
                    <span class="md-headline strong">Total Executors & Hosts</span>
                    <span class="md-subhead">
                      <b>{{vizopsOverviewCtrl.nbExecutors - 1}}</b> executor(s) running on <b>{{vizopsOverviewCtrl.nbHosts}}</b> machine(s)
                    </span>
                  </md-card-title-text>
                </md-card-title>
              </md-card>
            </div> <!-- end: Total executors card -->

            <!-- Cluster CPU utilization card -->
            <div class="col-md-2">
              <md-card>
                <md-card-title>
                  <md-card-title-text>
                    <span class="md-headline strong">Cluster VCPU utilization</span>
                    <span class="md-subhead">{{vizopsOverviewCtrl.clusterCPUUtilization}}</span>
                  </md-card-title-text>
                </md-card-title>
              </md-card>
            </div> <!-- end: Cluster CPU utilization -->

            <!-- hosts card -->
            <div class="col-md-2">
              <md-card>
                <md-card-title>
                  <md-card-title-text>
                    <span class="md-headline strong">Number of hosts</span>
                    <span class="md-subhead">
                      {{vizopsOverviewCtrl.nbLiveHosts}} / {{vizopsOverviewCtrl.nbHosts}} daemons wrote metrics in last update
                    </span>
                  </md-card-title-text>
                </md-card-title>
              </md-card>
            </div> <!-- end: hosts card -->

            <!-- Shuffle card -->
            <div class="col-md-2">
              <md-card>
                <md-card-title>
                  <md-card-title-text>
                    <span class="md-headline strong">Total Shuffle read/write</span>
                    <span class="md-subhead">
                      {{vizopsOverviewCtrl.uiShuffleRead}} / {{vizopsOverviewCtrl.uiShuffleWrite}}
                    </span>
                  </md-card-title-text>
                </md-card-title>
              </md-card>
            </div> <!-- end: shuffle card -->

            <!--<div class="col-md-2">
              <nvd3 id="executorsPerNode" options="optionsExecutorPerNode" data="templateExecutorPerNode"
                    class="with-3d-shadow with-transitions"></nvd3>
            </div>-->

          </div> <!-- row -->
          <div class="row">
            <div class="col-md-4">
              <nvd3 id="overviewTotalActiveTasks"
                    options="vizopsOverviewCtrl.optionsTotalActiveTasks"
                    data="vizopsOverviewCtrl.templateTotalActiveTasks"
                    class="with-3d-shadow with-transitions"></nvd3>
            </div> <!-- end: total active tasks graph -->
            <div class="col-md-4">
              <nvd3 id="overviewTotalCompletedTasks"
                    options="vizopsOverviewCtrl.optionsTotalCompletedTasks"
                    data="vizopsOverviewCtrl.templateTotalCompletedTasks"
                    class="with-3d-shadow with-transitions"></nvd3>
            </div> <!-- end: total completed tasks graph -->
            <div class="col-md-4">
              <nvd3 id="overviewRateOfTaskCompletion"
                    options="vizopsOverviewCtrl.optionsRateOfTaskCompletion"
                    data="vizopsOverviewCtrl.templateRateOfTaskCompletion"
                    class="with-3d-shadow with-transitions"></nvd3>
            </div> <!-- end: task rate of completion graph -->
          </div> <!-- row -->
          <div class="row">

            <div class="col-md-4">
              <nvd3 id="overviewClusterMemory"
                    options="vizopsOverviewCtrl.optionsContainerMemoryUsedTotal"
                    data="vizopsOverviewCtrl.templateContainerMemoryUsedTotal"
                    class="with-3d-shadow with-transitions"></nvd3>
            </div> <!-- end: used/total container memory -->

            <div class="col-md-4">
              <nvd3 id="overviewHDFSWriteRateTotal"
                    options="vizopsOverviewCtrl.optionsHDFSWriteRateTotal"
                    data="vizopsOverviewCtrl.templateHDFSWriteRateTotal"
                    class="with-3d-shadow with-transitions"></nvd3>
            </div> <!-- end: hdfs write rate/total graph -->

            <div class="col-md-4">
              <nvd3 id="overviewHDFSReadRateTotal"
                    options="vizopsOverviewCtrl.optionsHDFSReadRateTotal"
                    data="vizopsOverviewCtrl.templateHDFSReadRateTotal"
                    class="with-3d-shadow with-transitions"></nvd3>
            </div> <!-- end: hdfs read write graph -->

          </div> <!-- row -->
        </div> <!-- overview controller end -->
      </uib-tab>

      <uib-tab index="1" heading="Driver">
        <div ng-if="active === 1" ng-controller="VizopsDriverCtrl as vizopsDriverCtrl">
          <div class="row">

            <!-- Max driver memory card -->
            <div class="col-md-2">
              <md-card>
                <md-card-title>
                  <md-card-title-text>
                    <span class="md-headline strong">Max driver memory</span>
                    <span class="md-subhead">
                    <b>{{vizopsDriverCtrl.maxUsedDriverMem}}</b> of container's <b>{{vizopsDriverCtrl.maxAvailableDriverMem}}</b>
                  </span>
                  </md-card-title-text>
                </md-card-title>
              </md-card>
            </div> <!-- end: Max driver mem card -->

            <!-- Running on -->
            <div class="col-md-2">
              <md-card>
                <md-card-title>
                  <md-card-title-text>
                    <span class="md-headline strong">Running on</span>
                    <span class="md-subhead">
                      <b>{{vizopsDriverCtrl.executorInfo.entry[0].value[1]}}</b>, also hosting
                      <b>{{vizopsDriverCtrl.nbExecutorsOnDriverHost}}</b> executor(s)
                  </span>
                  </md-card-title-text>
                </md-card-title>
              </md-card>
            </div> <!-- end: Running on card -->

            <!-- Driver Shuffle card -->
            <div class="col-md-2">
              <md-card>
                <md-card-title>
                  <md-card-title-text>
                    <span class="md-headline strong">Shuffle read/write</span>
                    <span class="md-subhead">
                      {{vizopsDriverCtrl.uiShuffleRead}} / {{vizopsDriverCtrl.uiShuffleWrite}}
                    </span>
                  </md-card-title-text>
                </md-card-title>
              </md-card>
            </div> <!-- end: driver shuffle card -->

          </div> <!-- row -->
          <div class="row">

            <div class="col-md-4">
              <nvd3 id="driverMemoryUsed"
                    options="vizopsDriverCtrl.optionsMemorySpace"
                    data="vizopsDriverCtrl.templateMemorySpace"
                    class="with-3d-shadow with-transitions"></nvd3>
            </div>

            <div class="col-md-4">
              <nvd3 id="driverVCPUUsed"
                    options="vizopsDriverCtrl.optionsVCPU"
                    data="vizopsDriverCtrl.templateVCPU"
                    class="with-3d-shadow with-transitions"></nvd3>
            </div>

            <div class="col-md-4">
              <nvd3 id="driverRDDCacheDiskSpill"
                    options="vizopsDriverCtrl.optionsRDDCacheDiskSpill"
                    data="vizopsDriverCtrl.templateRDDCacheDiskSpill"
                    class="with-3d-shadow with-transitions"></nvd3>
            </div>

          </div> <!-- row -->
          <div class="row">

            <div class="col-md-4">
              <nvd3 id="driverGCTime"
                    options="vizopsDriverCtrl.optionsGCTime"
                    data="vizopsDriverCtrl.templateGCTime"
                    class="with-3d-shadow with-transitions"></nvd3>
            </div>

          </div> <!-- row -->
        </div>
      </uib-tab>

      <uib-tab index="2" heading="Executor">
        <div ng-if="active === 2" ng-controller="VizopsExecutorCtrl as vizopsExecutorCtrl">
          <div class="row">

            <!-- Number of executors card -->
            <div class="col-md-2">
              <md-card>
                <md-card-title>
                  <md-card-title-text>
                    <span class="md-headline strong">Number of executors</span>
                    <span class="md-subhead">
                      <b>{{vizopsExecutorCtrl.nbExecutors}}</b> executor(s)
                    </span>
                  </md-card-title-text>
                </md-card-title>
              </md-card>
            </div> <!-- end: Number of executors card -->

            <!-- Max executor memory card -->
            <div class="col-md-2">
              <md-card>
                <md-card-title>
                  <md-card-title-text>
                    <span class="md-headline strong">Max executor memory</span>
                    <span class="md-subhead">
                      <b>{{vizopsExecutorCtrl.maxUsedExecutorMem}}</b> of container's <b>{{vizopsExecutorCtrl.maxAvailableExecutorMem}}</b>
                    </span>
                  </md-card-title-text>
                </md-card-title>
              </md-card>
            </div> <!-- end: Total executors card -->

            <!-- Filter card -->
            <div class="col-md-2">
              <md-card>
                <md-card-title>
                  <md-card-title-text>
                    <span class="md-headline strong" uib-tooltip="Hit Return to apply filter">Filter by executor</span>
                    <span class="md-subhead">
                      <ui-select name="execFilter" theme="select2" ng-model="vizopsExecutorCtrl.chosenFilter"
                                 on-select="vizopsExecutorCtrl.onFilterChoiceChange()">

                        <ui-select-match placeholder="Host or Id" allow-clear="true">{{$select.selected}}</ui-select-match>

                        <ui-select-choices repeat="choice in vizopsExecutorCtrl.filterChoices">
                          <div ng-bind-html="choice | highlight: $select.search"></div>
                        </ui-select-choices>
                      </ui-select>
                      <br>
                      <input type="number" class="form-control" ng-disabled="vizopsExecutorCtrl.chosenFilter !== 'by executor id'"
                             style="max-width: 80px; display: inline; max-height: 30px;"
                             ng-model="vizopsExecutorCtrl.executorIDFromInput"
                             ng-keypress="vizopsExecutorCtrl.onExecutorIDFilterApply($event)">

                    </span>
                  </md-card-title-text>
                </md-card-title>
              </md-card>
            </div> <!-- end: Filter card -->

          </div> <!-- row -->
          <div class="row">

          <div class="col-md-4">
            <nvd3 id="executorCPU"
                  options="vizopsExecutorCtrl.optionsAggregatedVCPUUsage"
                  data="vizopsExecutorCtrl.templateAggregatedVCPUUsage"
                  class="with-3d-shadow with-transitions"></nvd3>
          </div>

          <div class="col-md-4">
            <nvd3 id="executorTaskDistribution"
                  options="vizopsExecutorCtrl.optionsTaskDistribution"
                  data="vizopsExecutorCtrl.templateTaskDistribution"
                  class="with-3d-shadow with-transitions"></nvd3>
          </div>

          <div class="col-md-4">
            <nvd3 id="executorPeakMemoryBar"
                  options="vizopsExecutorCtrl.optionsPeakMemoryPerExecutor"
                  data="vizopsExecutorCtrl.templatePeakMemoryPerExecutor"
                  class="with-3d-shadow with-transitions"></nvd3>
          </div>

        </div> <!-- row -->
          <div class="row">

            <div class="col-md-4">
              <nvd3 id="executorMem"
                    options="vizopsExecutorCtrl.optionsMemoryUsage"
                    data="vizopsExecutorCtrl.templateMemoryUsage"
                    class="with-3d-shadow with-transitions"></nvd3>
            </div>

            <div class="col-md-4">
              <nvd3 id="executorGCTime"
                    options="vizopsExecutorCtrl.optionsGCTime"
                    data="vizopsExecutorCtrl.templateGCTime"
                    class="with-3d-shadow with-transitions"></nvd3>
            </div>

            <div class="col-md-4">
              <nvd3 id="executorShufflePerExecutor"
                    options="vizopsExecutorCtrl.optionsShuffleReadWrite"
                    data="vizopsExecutorCtrl.templateShuffleReadWrite"
                    class="with-3d-shadow with-transitions"></nvd3>
            </div>

          </div> <!-- row -->
          <div class="row">

            <div class="col-md-4">
              <nvd3 id="executorHDFSDiskRead"
                    options="vizopsExecutorCtrl.optionsHDFSDiskRead"
                    data="vizopsExecutorCtrl.templateHDFSDiskRead"
                    class="with-3d-shadow with-transitions"></nvd3>
            </div>

            <div class="col-md-4">
              <nvd3 id="executorHDFSDiskWrite"
                    options="vizopsExecutorCtrl.optionsHDFSDiskWrite"
                    data="vizopsExecutorCtrl.templateHDFSDiskWrite"
                    class="with-3d-shadow with-transitions"></nvd3>
            </div>

          </div> <!-- row -->
        </div>
      </uib-tab>

      <uib-tab index="3" heading="Hosts">
        <div ng-if="active === 3"  ng-controller="VizopsWorkerCtrl as vizopsWorkerCtrl">
          <div class="row">

            <!-- Total worker machines card -->
            <div class="col-md-2">
              <md-card>
                <md-card-title>
                  <md-card-title-text>
                    <span class="md-headline strong">Worker machines</span>
                    <span class="md-subhead">
                      {{vizopsWorkerCtrl.nbOfHosts}} machines in the cluster running application containers
                    </span>
                  </md-card-title-text>
                </md-card-title>
              </md-card>
            </div> <!-- end: Total worker machines card -->

            <!-- Filter by host card -->
            <div class="col-md-2">
              <md-card>
                <md-card-title>
                  <md-card-title-text>
                    <span class="md-headline strong">Filters</span>
                    <span class="md-subhead">
                      <ui-select name="hostFilter" theme="select2" ng-model="vizopsWorkerCtrl.chosenHostToFilter"
                                 on-select="vizopsWorkerCtrl.onHostFilterChange()">

                        <ui-select-match placeholder="Filter by host" allow-clear="true">{{$select.selected}}</ui-select-match>

                        <ui-select-choices repeat="host in vizopsWorkerCtrl.hostsList">
                          <div ng-bind-html="host | highlight: $select.search"></div>
                        </ui-select-choices>
                      </ui-select>
                    </span>
                  </md-card-title-text>
                </md-card-title>
              </md-card>
            </div> <!-- end: Filter by host card -->

          </div> <!-- row -->

          <div class="row">

            <div class="col-md-4">
              <nvd3 id="workerPCpuUsage"
                    options="vizopsWorkerCtrl.optionsPhysicalCPUUsage"
                    data="vizopsWorkerCtrl.templatePhysicalCPUUsage"
                    class="with-3d-shadow with-transitions"></nvd3>
            </div>

            <div class="col-md-4">
              <nvd3 id="workerMemoryUsage"
                    options="vizopsWorkerCtrl.optionsMemoryUsage"
                    data="vizopsWorkerCtrl.templateMemoryUsage"
                    class="with-3d-shadow with-transitions"></nvd3>
            </div>

            <div class="col-md-4">
              <nvd3 id="workerNetworkTraffic"
                    options="vizopsWorkerCtrl.optionsNetworkTraffic"
                    data="vizopsWorkerCtrl.templateNetworkTraffic"
                    class="with-3d-shadow with-transitions"></nvd3>
            </div>

          </div>

          <div class="row">

            <div class="col-md-4">
              <nvd3 id="workerDiskUsage"
                    options="vizopsWorkerCtrl.optionsDiskUsage"
                    data="vizopsWorkerCtrl.templateDiskUsage"
                    class="with-3d-shadow with-transitions"></nvd3>
            </div>

            <div class="col-md-2">
              <nvd3 id="workerExecutorPerHost"
                    options="vizopsWorkerCtrl.optionsExecutorsPerHost"
                    data="vizopsWorkerCtrl.templateExecutorsPerHost"
                    class="with-3d-shadow with-transitions"></nvd3>
            </div>

            <div class="col-md-2">
              <nvd3 id="workerCompletedTasksPerHost"
                    options="vizopsWorkerCtrl.optionsCompletedTasksPerHost"
                    data="vizopsWorkerCtrl.templateCompletedTasksPerHost"
                    class="with-3d-shadow with-transitions"></nvd3>
            </div>

          </div>

        </div>
      </uib-tab>

      <uib-tab index="4" heading="Streaming">
        <div ng-if="active === 4"  ng-controller="VizopsStreamingCtrl as vizopsStreamingCtrl">

          <div class="row">

            <div class="col-md-2">
              <md-card>
                <md-card-title>
                  <md-card-title-text>
                    <span class="md-headline strong">Receiver tasks</span>
                    <span class="md-subhead">{{vizopsStreamingCtrl.nrReceivers}} task(s) running</span>
                  </md-card-title-text>
                </md-card-title>
              </md-card>
            </div>

          </div>

          <div class="row">

            <div class="col-md-4">
              <nvd3 id="streamingBatchDuration"
                    options="vizopsStreamingCtrl.optionsLastReceivedBatchRecords"
                    data="vizopsStreamingCtrl.templateLastReceivedBatchRecords"
                    class="with-3d-shadow with-transitions"></nvd3>
            </div>

            <div class="col-md-4">
              <nvd3 id="streamingTotalDelay"
                    options="vizopsStreamingCtrl.optionsLastCompletedTotalDelay"
                    data="vizopsStreamingCtrl.templateLastCompletedTotalDelay"
                    class="with-3d-shadow with-transitions"></nvd3>
            </div>

            <div class="col-md-4">
              <nvd3 id="streamingReceivedProcessedRecords"
                    options="vizopsStreamingCtrl.optionsTotalReceivedProcessedRecords"
                    data="vizopsStreamingCtrl.templateTotalReceivedProcessedRecords"
                    class="with-3d-shadow with-transitions"></nvd3>
            </div>

          </div>

          <div class="row">

            <div class="col-md-4">
              <nvd3 id="streamingBatchStatistics"
                    options="vizopsStreamingCtrl.optionsBatchStatistics"
                    data="vizopsStreamingCtrl.templateBatchStatistics"
                    class="with-3d-shadow with-transitions"></nvd3>
            </div>

            <!--<div class="col-md-4">
              <nvd3 id="streamingProcessingRate" options="optionsBatchStatistics" data="templateBatchStatistics"
                    class="with-3d-shadow with-transitions"></nvd3>
            </div>-->

          </div>

        </div>
      </uib-tab>

    </uib-tabset>
  </div> <!-- container-fluid -->

  </div> <!-- class:container fluid end -->
</div> <!-- id:body end -->
