<div ng-controller="MainCtrl as mainCtrl">
  <div ng-include="'nav.html'"></div>
  <div id="wrapper" class="toggled">
    <div class="overlay"></div>

    <div ng-include="'navProject.html'"></div>

    <section>
      <div class="content-wrapper"  ng-controller="BiobankingCtrl as biobankingCtrl">
        <h3 id="projectBread" style="display: none;"> {{ projectCtrl.currentProject.projectName}} / Forms</h3>
        <div growl reference="10" class="pull-right" ></div>
        <div class="row" style="margin: 50px">


          <div class="panel panel-default"   ng-show="biobankingCtrl.undefinedConsents.length > 0">
            <div class="panel-heading"  style="background-color: #FFF8FF">
              <h3 class="panel-title">Unregistered Forms</h3>
              <div class="panel-body">
                <div class="col-lg-11">
                  <div class="row">
                    <div class="col-md-12" style="margin-top: 25px;">
                      <div class="table-responsive" style="overflow: hidden;">

                        <form name="consentsForm" class="form-horizontal nodeGroupForm" ng-submit="biobankingCtrl.register()">

                          <table class="table table-bordered table-hover">

                            <thead>
                            <th >Name</th>
                            <th >Form Type</th>
                            <th >Form Status</th>
                            </thead>

                            <tbody ng-model="biobankingCtrl.undefinedConsents">

                              <tr ng-repeat="consent in biobankingCtrl.undefinedConsents| orderBy: 'name'"
                                  data-target="menu-{{ $index}}"
                                  id="table-{{ $index}}">
                                <td><a ng-click="biobankingCtrl.downloadFile(consent.path)">{{consent.path}}</a></td>
                                <td>
                                  <select ng-model="consent.consentType">
                                    <option ng-repeat="item in biobankingCtrl.consentTypes" value="{{item.name}}">{{item.name}}</option>
                                  </select>
                                </td>
                                <td>{{consent.consentStatus}}</td>
                              </tr>
                            </tbody>
                          </table>
                          <button type="submit" class="btn btn-primary" 
                                  ng-click="biobankingCtrl.registerConsents()"
                                  ng-disabled="biobankingCtrl.registerDisabled" 
                                  ng-show="biobankingCtrl.undefinedConsents.length > 0">Register</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="panel panel-default">
            <div class="panel-heading"  style="background-color: #EDFFED">
              <h3 class="panel-title">Registered Forms</h3>
              <div class="panel-body">
                <div class="col-lg-11">
                  <div class="row">
                    <div class="col-md-12" style="margin-top: 25px;">
                      <div class="table-responsive" style="overflow: hidden;">

                        <table class="table table-bordered table-hover" ng-show="biobankingCtrl.registeredConsents.length > 0">

                          <thead>
                          <th >Name</th>
                          <th >Form Type</th>
                          <th >Form Status</th>
                          </thead>

                          <tbody ng-model="biobankingCtrl.registeredConsents">
                            <tr ng-repeat="consent in biobankingCtrl.registeredConsents| orderBy: 'name'"
                                data-target="menu-{{ $index}}"
                                id="table-{{ $index}}">
                              <td><a ng-click="biobankingCtrl.downloadFile(consent.path)">{{consent.path}}</a></td>
                              <td>{{consent.consentType}}</td>
                              <td>{{consent.consentStatus}}</td>
                            </tr>
                          </tbody>
                        </table>
                        <span ng-show="biobankingCtrl.registeredConsents.length == 0 && biobankingCtrl.undefinedConsents.length == 0">Upload form files to the consent folder.</span>
                        <br/>
                        <span ng-show="biobankingCtrl.registeredConsents.length == 0 && biobankingCtrl.undefinedConsents.length > 0">Select form type for files and then press the 'Register' button.</span>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </section>
  </div>
</div>