<div ng-controller="MainCtrl as mainCtrl">
  <div ng-include="'nav.html'"></div>
  <div id="wrapper" class="toggled">
    <div class="overlay"></div>

    <div ng-include="'navProject.html'"></div>

    <section>
      <div class="content-wrapper"  ng-controller="CharonCtrl as charonCtrl">
        <h3 id="projectBread" style="display: none;"> {{ projectCtrl.currentProject.projectName}} / Consent Forms</h3>
        <div growl reference="10" class="pull-right" ></div>
        <div class="row" style="margin: 50px">


          <div class="panel modal-title col-lg-5">
            <div class="panel-heading">
              <h3 class="panel-title">Charon <div ng-show="charonCtrl.toHDFS">(Source)</div><div ng-show="!charonCtrl.toHDFS">(Destination)</div></h3>
            </div>
            <div class="panel-body">
              <div class="row" ng-show="charonCtrl.toHDFS" >
                <div class="table-responsive" style="overflow: hidden;" ng-controller="LocalFsCtrl as localFsCtrl">
                  <div  ng-controller="SelectFileCtrl as selectFileCtrl">
                  <div ng-controller="ProjectCtrl as projectCtrl" class="row">
                    >> {{charonCtrl.selectedCharonPath}}
                  <span data-ng-repeat="path in localFsCtrl.pathArray track by $index"></span>
                  </div>
                  <table class="table table-hover" >
                    <tbody ng-model="localFsCtrl.files">
                    <tr ng-click="selectFileCtrl.back(localFsCtrl)">
                      <td style="padding: 0px">&nbsp &nbsp
                        <a style="font-size:25px">..</a>
                      </td>
                    </tr>
                    <a href="selectLocalFile.html"></a>
                    <tr ng-repeat="file in localFsCtrl.files | orderBy: 'name'"
                        ng-class="{ 'highlight': localFsCtrl.selected === {{ $index}}, 'expanded' : expanded }"
                        ng-dblclick="selectFileCtrl.dblClick(localFsCtrl, file)"
                        ng-click="selectFileCtrl.select(file.path, file.dir); localFsCtrl.select($index, file);
                        charonCtrl.onCharonPathSelected(file.path);">

                      <td>
                        <i ng-show="file.dir" class="glyphicon glyphicon-folder-close" style="padding-right: 10px; color: #757575;"></i>
                        <i ng-show="!file.dir" class="glyphicon glyphicon-file" style="padding-right: 10px; color: #757575;"></i>
                        {{file.name}}
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                </div>
              </div>
            </div>
            <div class="panel-footer" ng-show="!charonCtrl.toHDFS && charonCtrl.selectedCharonPath != '' || charonCtrl.toHDFS && charonCtrl.selectedCharonPath != ''" >
                    <span> {{charonCtrl.selectedCharonPath}}</span>
            </div>
          </div>
          <div class="col-lg-2 row-centered">
            <div class="row center-block" style="margin-top: -20px;">
              <span class="fa fa-long-arrow-right fa-5x" ng-show="charonCtrl.toHDFS"></span>
              <span class="fa fa-long-arrow-left fa-5x" ng-show="!charonCtrl.toHDFS"></span>
            </div>
            <div class="row center-block">
              <button class="btn btn-default" type="button"  
                      style="margin-bottom: 10px; margin-top: -10px;" ng-click="switchDirection(projectCtrl.currentProject.projectName)">
                Switch Direction <span class="fa fa-exchange "></span>
              </button>          
            </div>
            <div class="row">
              <button class="btn btn-success" ng-click="charonCtrl.copyFile()" style="width: available">
                <span>Copy File</span>
              </button> 
            </div>
          </div>
          <div class="panel modal-title col-lg-5">
            <div class="panel-heading">
              <h3 class="panel-title">HDFS <div ng-show="!charonCtrl.toHDFS">(Source)</div><div ng-show="charonCtrl.toHDFS">(Destination)</div></h3>              
            </div>
            <h3 class="panel-title"></h3>
            <div class="panel-body">
              <div class="row center-block" ng-show="!charonCtrl.toHDFS">
                <div class="table-responsive" style="overflow: hidden;" ng-controller="DatasetsCtrl as datasetsCtrl">
                  <div  ng-controller="SelectFileCtrl as selectFileCtrl">
                  <div ng-controller="ProjectCtrl as projectCtrl" class="row">
                    >> {{charonCtrl.selectedHdfsPath}}
      <span data-ng-repeat="path in datasetsCtrl.pathArray track by $index"></span>
                  </div>
                  <table class="table table-hover" >
                    <tbody ng-model="datasetsCtrl.files">
                    <tr ng-click="selectFileCtrl.back(datasetsCtrl)">
                      <td style="padding: 0px">&nbsp &nbsp
                        <a style="font-size:25px">..</a>
                      </td>
                    </tr>
                    <a href="selectFile.html"></a>
                    <tr ng-repeat="file in datasetsCtrl.files| filter:{status: true} | orderBy: 'name'"
                        ng-class="{ 'highlight': datasetsCtrl.selected === {{ $index}}, 'expanded' : expanded }"
                        ng-dblclick="selectFileCtrl.dblClick(datasetsCtrl, file)"
                        ng-click="selectFileCtrl.select(file.path, file.dir); datasetsCtrl.select($index, file);
                        charonCtrl.onHdfsPathSelected(file.path);">
                      <td>
                        <i ng-show="file.dir" class="glyphicon glyphicon-folder-close" style="padding-right: 10px; color: #757575;"></i>
                        <i ng-show="!file.dir" class="glyphicon glyphicon-file" style="padding-right: 10px; color: #757575;"></i>
                        {{file.name}}
                      </td>
                    </tr>
                    </tbody>
                  </table>
                  </div>
                </div>
              </div>
              <div class="row" ng-show="charonCtrl.toHDFS">
                <div class="table-responsive" style="overflow: hidden;" ng-controller="DatasetsCtrl as datasetsCtrl">
                  <div  ng-controller="SelectFileCtrl as selectFileCtrl">
                  <div ng-controller="ProjectCtrl as projectCtrl" class="row">
                    >> {{charonCtrl.selectedHdfsPath}}
      <span data-ng-repeat="path in datasetsCtrl.pathArray track by $index"></span>
                  </div>
                  <table class="table table-hover" >
                    <tbody ng-model="datasetsCtrl.files">
                    <tr ng-click="selectFileCtrl.back(datasetsCtrl)">
                      <td style="padding: 0px">&nbsp &nbsp
                        <a style="font-size:25px">..</a>
                      </td>
                    </tr>
                    <tr ng-repeat="file in datasetsCtrl.files| filter:{status: true} | orderBy: 'name'"
                        ng-class="{ 'highlight': datasetsCtrl.selected === {{ $index}}, 'expanded' : expanded }"
                        ng-dblclick="selectFileCtrl.dblClick(datasetsCtrl, file)"
                        ng-click="selectFileCtrl.select(file.path, file.dir); datasetsCtrl.select($index, file);
                        charonCtrl.onHdfsPathSelected(file.path);">
                      <td>
                        <i ng-show="file.dir" class="glyphicon glyphicon-folder-close" style="padding-right: 10px; color: #757575;"></i>
                        <i ng-show="!file.dir" class="glyphicon glyphicon-file" style="padding-right: 10px; color: #757575;"></i>
                        {{file.name}}
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                </div>
              </div>
            </div>
            <div class="panel-footer" ng-show="(charonCtrl.toHDFS && charonCtrl.selectedHdfsPath != '') || (!charonCtrl.toHDFS && charonCtrl.selectedHdfsPath != '')" >
                    <span> {{charonCtrl.selectedHdfsPath}}</span>
            </div>
          </div>

        </div>
        <div class="col-lg-5"></div>
        <div class="col-lg-5"></div>
      </div>
    </section>
   </div>
</div>