<!-- HTML file for the Cuneiform job running interface -->
<link rel="stylesheet" href="styles/timeline.css">
<link rel="stylesheet" href="styles/cuneiform.css">
<div ng-controller="MainCtrl as mainCtrl">
  <div ng-include="'nav.html'"></div>


  <div id="wrapper" class="toggled" ng-controller="CuneiformCtrl as cuneiformCtrl">
    <div class="overlay"></div>

    <div ng-include="'navProject.html'"></div>

    <section>
      <div class="content-wrapper">
        <h3 id="projectBread" style="display: none;"> {{ projectCtrl.currentProject.projectName}} / Cuneiform</h3>


        <!-- Page Content -->

        <div class="widget-body col-md-4">
          <h3> History </h3>
          <div class="timeline clearfix">
            <div class="mid-line"></div>

            <div ng-repeat="job in cuneiformCtrl.jobs">

              <div class="right" ng-click="cuneiformCtrl.selectJob(job)">
                <div class="r-arrow"></div>
                <div class="about-task">
                  <div class="header"> {{job.name}}
                    <small class="muted" ng-show="job.user">Run by {{job.user.fname + ' ' + job.user.lname}} on {{job.submissionTime}}
                    </small>
                  </div>
                  <p class="no-margin">
                    <span ng-show="job.state"> State: {{job.state}} </span>
                    <span ng-show="job.executionDuration">Took {{job.executionDuration}}ms.</span>
                    Logs:
                  <ul>
                    <li><a ng-click="cuneiformCtrl.getFile(job.stdoutPath)" ng-show="job.stdoutPath">{{job.stdoutPath}}</a></li>
                    <li><a ng-click="cuneiformCtrl.getFile(job.stderrPath)" ng-show="job.stderrPath">{{job.stderrPath}}</a></li>
                  </ul>
                  Results:
                  <ul>
                    <li ng-repeat="result in job.jobOutputFileCollection" ng-show="job.jobOutputFileCollection"><a ng-click="cuneiformCtrl.getFile(result.path)">{{result.jobOutputFilePK.name}} </a></li>
                  </ul>
                  </p>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="widget-body col-md-4">
          <div class="timeline clearfix">

            <h3> Workflow </h3>
            <table>
              <tr>
                <td class="firstColumn">Select workflow </td>
                <td class="secondColumn">
                  <button ng-click="cuneiformCtrl.selectFile()">
                    <span>Select...</span>
                  </button>
                </td>
              </tr>
              <tr>
                <td class="firstColumn">Selected file </td>
                <td class="secondColumn">{{cuneiformCtrl.workflow.name}}</td>
              </tr>
            </table>

            <h3 ng-show="cuneiformCtrl.workflow.inputParams.length > 0"> Input Parameters </h3>
            <table>
              <tr ng-repeat="param in cuneiformCtrl.workflow.inputParams">
                <td class="firstColumn">{{param.name}}</td>
                <td class="secondColumn"> <input type="text" ng-model="param.value"></td>
              </tr>
            </table>

            <button ng-click="cuneiformCtrl.execute()">
              <span>Execute</span>
            </button>
            
            <div ng-show="cuneiformCtrl.yarnConfig">
            <h3>Job configuration</h3>
            <table>
              <tr>
                <td class="firstColumn">Job name</td>
                <td class="secondColumn"><input type="text" ng-model="cuneiformCtrl.yarnConfig.appName"></td>
              </tr>
              <tr>
                <td class="firstColumn">Application master memory</td>
                <td class="secondColumn"><input type="number" ng-model="cuneiformCtrl.yarnConfig.amMemory" min="0"></td>
              </tr>
              <tr>
                <td class="firstColumn">Application master vcores</td>
                <td class="secondColumn"><input type="number" ng-model="cuneiformCtrl.yarnConfig.amVCores" min="1"></td>
              </tr>
              <tr>
                <td class="firstColumn">ResourceManager queue</td>
                <td class="secondColumn"><input type="text" ng-model="cuneiformCtrl.yarnConfig.amQueue"></td>
              </tr>
            </table>
            </div>
          </div>
        </div>

        <div class="widget-body col-md-4">
          <div class="timeline clearfix">

            <h3>Selected job</h3>
            <div ng-show="cuneiformCtrl.job">
                <div class="about-task">
                  <div class="header"> {{cuneiformCtrl.job.name}}
                    <small class="muted" ng-show="cuneiformCtrl.job.user">Run by {{cuneiformCtrl.job.user.fname + ' ' + cuneiformCtrl.job.user.lname}} on {{cuneiformCtrl.job.submissionTime}}
                    </small>
                  </div>
                  <p class="no-margin">
                    <span ng-show="cuneiformCtrl.job.state">State: {{cuneiformCtrl.job.state}}</span>
                    <span ng-show="cuneiformCtrl.job.executionDuration">Took {{cuneiformCtrl.job.executionDuration}}ms.</span>
                    Logs:
                  <ul>
                    <li><a ng-click="cuneiformCtrl.getFile(cuneiformCtrl.job.stdoutPath)" ng-show="cuneiformCtrl.job.stdoutPath">{{cuneiformCtrl.job.stdoutPath}}</a></li>
                    <li><a ng-click="cuneiformCtrl.getFile(cuneiformCtrl.job.stderrPath)" ng-show="cuneiformCtrl.job.stderrPath">{{cuneiformCtrl.job.stderrPath}}</a></li>
                  </ul>
                  Results:
                  <ul>
                    <li ng-repeat="result in cuneiformCtrl.job.jobOutputFileCollection" ng-show="cuneiformCtrl.job.jobOutputFileCollection"><a ng-click="cuneiformCtrl.getFile(result.path)">{{result.jobOutputFilePK.name}} </a></li>
                  </ul>
                  </p>
                </div>
            </div>
          </div>
        </div>
        <!-- /#page-content-wrapper -->
      </div>
    </section>
  </div>
  <!-- /#wrapper -->
</div>