<!-- HTML file for the Cuneiform job running interface -->
<link rel="stylesheet" href="styles/timeline.css">
<link rel="stylesheet" href="styles/cuneiform.css">
<div ng-controller="MainCtrl as mainCtrl">
  <div ng-include="'nav.html'"></div>


  <div id="wrapper" class="toggled" ng-controller="CuneiformCtrl as cuneiformCtrl">
    <div class="overlay"></div>

    <div ng-include="'navProject.html'"></div>

    <section>
      <div class="content-wrapper">
        <h3 id="projectBread" style="display: none;"> {{ projectCtrl.currentProject.projectName}} / Cuneiform</h3>


        <!-- Page Content -->

        <div class="widget-body col-md-4">
          <h3> History </h3>
          <div class="timeline clearfix">
            <div class="mid-line"></div>

            <div ng-repeat="job in cuneiformCtrl.jobs">

              <div class="right">
                <div class="r-arrow"></div>
                <div class="about-task">
                  <div class="header"> {{job.name}}
                    <small class="muted">Run by {{job.user.fname + ' ' + job.user.lname}} on {{job.submissionTime}}
                    </small>
                  </div>
                  <p class="no-margin">
                    State: {{job.state}}, took {{job.executionDuration}}ms. <br/>
                    Logs:
                  <ul>
                    <li><a ng-click="cuneiformCtrl.getFile(job.stdoutPath)">{{job.stdoutPath}}</a></li>
                    <li><a ng-click="cuneiformCtrl.getFile(job.stderrPath)">{{job.stderrPath}}</a></li>
                  </ul>
                  Results:
                  <ul>
                    <li ng-repeat="result in job.jobOutputFileCollection"><a ng-click="cuneiformCtrl.getFile(result.path)">{{result.jobOutputFilePK.name}} </a></li>
                  </ul>
                  </p>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="widget-body col-md-4">
          <div class="timeline clearfix">

            <h3> Run configuration </h3>
            <table>
              <tr>
                <td class="firstColumn">Job name </td>
                <td class="secondColumn"> <input type="text"></td>
              </tr>
              <tr>
                <td class="firstColumn">Select workflow </td>
                <td class="secondColumn">
                  <button ng-click="cuneiformCtrl.selectFile()">
                    <span>Select...</span>
                  </button>
                </td>
              </tr>
              <tr>
                <td class="firstColumn">Selected file </td>
                <td class="secondColumn">{{cuneiformCtrl.workflow.name}}</td>
              </tr>
            </table>

            <h3 ng-show="cuneiformCtrl.workflow.inputParams.length > 0"> Input Parameters </h3>
            <table>
              <tr ng-repeat="param in cuneiformCtrl.workflow.inputParams">
                <td class="firstColumn">{{param.name}}</td>
                <td class="secondColumn"> <input type="text" ng-model="param.value"></td>
              </tr>
            </table>

            <button ng-click="cuneiformCtrl.execute()">
              <span>Execute</span>
            </button>
          </div>
        </div>

        <div class="widget-body col-md-4">
          <div class="timeline clearfix">

            <h3>Results</h3>

          </div>
        </div>
        <!-- /#page-content-wrapper -->
      </div>
    </section>
  </div>
  <!-- /#wrapper -->
</div>