<div class="modal-header">
  <button class="close" ng-click="filePreviewCtrl.close()" data-dismiss="modal" aria-hidden="true" type="button">&times;</button>
  <h2 class="modal-title">File Preview - {{filePreviewCtrl.fileName}}</h2>
</div>
<div growl reference="23" class="pull-right"></div>
<div ng-show="filePreviewCtrl.type === 'text'">
  <button style="border-color: #20AD28; min-width: 64px;"
          ng-click="filePreviewCtrl.fetchFile(filePreviewCtrl.modes[0])">
    <span style="color: #20AD28" class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span> Head</button>
    
    <button style="border-color:red; min-width: 64px;"
          ng-click="filePreviewCtrl.fetchFile(filePreviewCtrl.modes[1])">
      <span style="color: red" class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span> Tail</button>
</div>
<div class="modal-body content" ng-show="filePreviewCtrl.type === 'image'">
  <img class="img-responsive" src="data:image/{{filePreviewCtrl.extension}};base64,{{filePreviewCtrl.content}}" alt="Waiting for image download...">
</div>
<div class="modal-body " ng-show="filePreviewCtrl.type === 'text'">
  <p class="filepreview">{{filePreviewCtrl.content}}</p>
</div>