<!-- A dialog which presents job details and suggesting configuration for a job. -->

<div class="modal-header">
  <button class="close" ng-click="heuristicResultsCtrl.close()" data-dismiss="modal" aria-hidden="true"
          type="button">&times;</button>
  <h2 class="modal-title">Heuristic Results for Job - {{heuristicResultsCtrl.job.name}}</h2>
</div>
<div class="modal-body">

  <accordion close-others="false">
    <accordion-group heading="Job Details" ng-click="heuristicResultsCtrl.getDetails();">
      <!-- Cuneiform configuration -->
        <div>
          <div class="row">
            <div class="text-right col-md-4">Application Id</div>
            <div  class="col-md-8">
              App
            </div>
          </div>
          <div class="row">
            <div class="text-right col-md-4">Application name</div>
            <div class="col-md-8">
              name
            </div>
          </div>
          <div class="row">
            <div class="text-right col-md-4">Queue name</div>
            <div class="col-md-8">
              Queue
            </div>
          </div>
          <div class="row">
            <div class="text-right col-md-4">Application Severity</div>
            <div class="col-md-8">
            Severity    
            </div>
          </div>
        </div>
    </accordion-group>
  </accordion>
</div>


