<!-- Displays the defined jobs in the current project -->
<div ng-controller="MainCtrl as mainCtrl">
  <div ng-include="'nav.html'"></div>


  <div id="wrapper" class="toggled" ng-controller="HistoryCtrl as historyCtrl">
    <div class="overlay"></div>

    <div ng-controller="ProjectCtrl as projectCtrl">
    <div ng-include="'navProject.html'"></div>
    </div>
    <section>
      <div class="content-wrapper">

        <!-- Page Content -->
        <div style="min-width: 1420px">
          <div style="height: 60%">
            <div style="max-height: 95%;overflow-y: auto;">
              <div style="float: left;width: 90%;">
              </div>
                <div style="float: left;width: 90%;">
                <div>
                <input style="float: left;width: 60%;margin: 0px 10px;"
                       type="text"
                       ng-model="historyCtrl.searchFilter"
                       placeholder="Search Field" class="form-control" autofocus/>
                </div>
                <div class="input-group-btn search-panel pull-left" style="width: 150px;">
                    <button type="button" style="width: 100%;"
                            class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown" id="filterByButton">
                            <span id="search_concept">{{name}}</span>
                            <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="choice in searchChoices">                            
                            <a ng-click="historyCtrl.selectFirstForm(choice.name, choice.searchName);">{{choice.name}}</a>        
                        </li>               
                    </ul>
                </div>
                    <div class="input-group-btn search-panel pull-left" style="width: 150px; margin-left: 10px" ng-show="fisrtFormSelected">
                    <li ng-repeat="choice in searchChoices" ng-if="choice.searchName == searchName">                                     
                    <button type="button" style="width: 100%;"
                            class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown" id="filterByType">
                            <span id="search_concept">{{valueType}}</span>
                            <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="(key, value) in choice.values">                            
                            <a ng-click="historyCtrl.selectSecondForm(value.type, value.id);">{{value.type}}</a>        
                        </li> 
                    </ul>
                    </li>
                </div>   
                <div>
                    <div class="btn-group" style="float: left;width: 10%; margin-bottom: 0px;margin-left: 10px" id="buttonSearch" ng-show="secondFormSelected">
                        <button style="width: 100%;" ng-click="historyCtrl.search()" class="btn btn-success glyphicon glyphicon-search">  Search  </button>
                    </div>
                </div>
                </div>
                <div style="height: 12%"></div>
              <table class="table table-hover">
                <thead>
                <th ng-click="sort('id')" style="width: 15%">
                  Job ID
                  <span class="glyphicon sort-icon" ng-show="sortType == 'id'" ng-class="{'glyphicon-chevron-up':sortReverse,'glyphicon-chevron-down':!sortReverse}"></span>
                </th>
                <th ng-click="sort('name')" style="width: 10%">
                  Name
                  <span class="glyphicon sort-icon" ng-show="sortType == 'name'" ng-class="{'glyphicon-chevron-up':sortReverse,'glyphicon-chevron-down':!sortReverse}"></span>
                </th>
                <th ng-click="sort('username')" style="width: 10%">
                  Username
                  <span class="glyphicon sort-icon" ng-show="sortType == 'username'" ng-class="{'glyphicon-chevron-up':sortReverse,'glyphicon-chevron-down':!sortReverse}"></span>
                </th>
                <th ng-click="sort('jobRunningTime')" style="width: 10%">
                  Running Time (ms)
                <span class="glyphicon sort-icon" ng-show="sortType == 'jobRunningTime'" ng-class="{'glyphicon-chevron-up':sortReverse,'glyphicon-chevron-down':!sortReverse}"></span>
                </th>
                <th ng-click="sort('jobType')" style="width: 10%">
                  Job Type
                <span class="glyphicon sort-icon" ng-show="sortType == 'jobType'" ng-class="{'glyphicon-chevron-up':sortReverse,'glyphicon-chevron-down':!sortReverse}"></span>
                </th>
                <th ng-click="sort('severity')" style="width: 10%">
                  Job Severity
                <span class="glyphicon sort-icon" ng-show="sortType == 'severity'" ng-class="{'glyphicon-chevron-up':sortReverse,'glyphicon-chevron-down':!sortReverse}"></span>
                </th>
                <th ng-click="sort('score')" style="width: 10%">
                  Heuristic scores
                <span class="glyphicon sort-icon" ng-show="sortType == 'score'" ng-class="{'glyphicon-chevron-up':sortReverse,'glyphicon-chevron-down':!sortReverse}"></span>
                </th>
                <th style="width: 10%">
                  Actions
                </th>
                </thead>
                <tbody>
                  <tr ng-repeat="job in historyCtrl.jobs | orderBy:sortType:sortReverse | filter:historyCtrl.searchFilter">
                    <td>
                        {{job.id}}
                    </td>
                    <td>
                        {{job.name}}
                    </td>
                    <td>
                        {{job.username}}
                    </td>
                     <td>
                        {{job.finishTime - job.startTime }}
                    </td>
                    <td>
                        {{job.jobType}}
                    </td>
                    <td>
                        <div class="text-right col-md-4" style="margin-top: 8px">
                        <span ng-if="job.severity == '0'" class="label label-primary">NONE</span>
                        <span ng-if="job.severity == '1'" class="label label-success">LOW</span>
                        <span ng-if="job.severity == '2'" class="label label-info">MODERATE</span>
                        <span ng-if="job.severity == '3'" class="label label-warning">CRITICAL</span>
                        <span ng-if="job.severity == '4'" class="label label-danger">SEVERE</span>
                        </div>
                    </td>
                    <td>
                        {{job.score}}
                    </td>
                    <td>
                        <span class="field-info" tooltip="Job Details" style="padding-top: 5px;padding-left:3px">
                        <button style=""
                                ng-click="historyCtrl.showDetails(job);"
                                class="btn btn-info glyphicon glyphicon-list-alt">
                        </button>
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>
        </div>

    </section>
  </div>
  <!-- /#wrapper -->
</div>


