<div class="container" ng-controller="MainCtrl as mainCtrl" style="padding-top:25px; width: 1500px;" style="margin-left: -100px;">
  <div ng-include="'nav.html'"></div>
  <div ng-show="mainCtrl.searchReturned !== ''" class="row">
    <div id="projectSearchResults">
      <div ng-include="'views/searchResult.html'"></div>
    </div>
  </div>


  <div ng-show="mainCtrl.searchReturned === ''" class="row" style="min-width: 1500px">

    <div class="col-sm-2 col-md-2">
      <div class="col-md-10 sidebar pull-left" style="min-width: 290px; max-width: 290px">


        <div class="list-group">
          <a href="" class="list-group-item active">Help</a>
          <a href="" ng-click="homeCtrl.showTours = !homeCtrl.showTours; homeCtrl.getTours();" class="list-group-item">
            <span class="glyphicon" ng-class="{'glyphicon-triangle-right':!homeCtrl.showTours, 'glyphicon-triangle-bottom':homeCtrl.showTours}"></span>
            Tours
            <span class="glyphicon glyphicon-expand pull-right"></span>
            <div ng-show="homeCtrl.showTours" ng-repeat="tour in homeCtrl.tours">              
              <button style="margin: 0px; padding-bottom: 5px; padding-top: 5px; padding-left: 0px; padding-right: 0px;" uib-popover="tour.tip"
                      type="button" class="btn btn-default btn-block" ng-click="homeCtrl.createExampleProject()">
                <span ng-hide="homeCtrl.creating === true"><b>Get Started with Hopsworks!</b></span>
                <span class="glyphicon glyphicon-play-circle" ng-hide="homeCtrl.creating === true"></span>
                <span ng-hide="homeCtrl.creating === false"><b>Load Example project..</b></span>
                <span class="fa fa-spinner fa-spin" ng-hide="homeCtrl.creating === false"></span>
              </button>
            </div>
          </a>
          <a href="" ng-click="homeCtrl.showTutorials = !homeCtrl.showTutorials; homeCtrl.getTutorials();" class="list-group-item">
            <span class="glyphicon" ng-class="{'glyphicon-triangle-right':!homeCtrl.showTutorials, 'glyphicon-triangle-bottom':homeCtrl.showTutorials}"></span>
            Tutorials
            <span class="fa fa-graduation-cap pull-right" style="margin-right: -1px;"></span>
            <div ng-show="homeCtrl.showTutorials" ng-repeat="tutorial in homeCtrl.tutorials">              
              {{tutorial}}
            </div>
          </a>
          <a href="" ng-click="homeCtrl.showPublicDatasets = !homeCtrl.showPublicDatasets; homeCtrl.getPublicDatasets();" class="list-group-item">
            <span class="glyphicon" ng-class="{'glyphicon-triangle-right':!homeCtrl.showPublicDatasets, 'glyphicon-triangle-bottom':homeCtrl.showPublicDatasets}"></span>
            Public Data Sets
            <span class="glyphicon glyphicon-globe pull-right" style="margin-right: 1px;"></span>
            <div ng-show="homeCtrl.showPublicDatasets" ng-repeat="dataset in homeCtrl.publicDatasets">
              <div>
                <button style="padding-bottom: 5px; padding-top: 5px; papdding-left: 0px; padding-right: 0px;" 
                        uib-popover="Add this public dataset to one of your projects."
                        type="button" class="btn btn-default btn-block" ng-click="homeCtrl.addPublicDatasetModal(dataset.inodeId, dataset.name, dataset.description);">
                  <span style="margin-left: 10px;" >{{dataset.name}}</span>
                </button>
              </div>
            </div>
          </a>
        </div>
      </div>


    </div>


    <div class="col-sm-6 col-md-6 col-lg-6" style="padding-left:56px; min-width: 500px">
      <div class="widget-body">
        <div class="timeline clearfix">

          <!--                        <div
                                      ng-repeat="historyObject in homeCtrl.histories| startFrom:(homeCtrl.currentPage - 1) * homeCtrl.pageSize | limitTo:homeCtrl.pageSize">
          
                                      <div class="time-header info" ng-if="historyObject.flag === 'older'">Older</div>
                                      <div class="time-header error" ng-if="historyObject.flag === 'lastweek'">Last week</div>
                                      <div class="time-header error" ng-if="historyObject.flag === 'thisweek'">This week</div>
                                      <div class="time-header completed" ng-if="historyObject.flag === 'yesterday'">Yesterday</div>
                                      <div class="time-header info" ng-if="historyObject.flag === 'today'">Today</div>
          
                                      <div class="right">
                                          <div class="r-arrow"></div>
                                          <div class="about-task">
                                              <div class="header">{{historyObject.project.name}}
                                                  <small class="muted">{{historyObject.timestamp|
                                date:'medium'}}
                                                  </small>
                                              </div>
                                              <p class="no-margin">
                                                  {{historyObject.user.fname}} {{historyObject.activity}}
                                              </p>
                                          </div>
                                      </div>
                                  </div>
          
                                  <pagination ng-show="homeCtrl.totalPages > 1"
                                              total-items="homeCtrl.totalItems"
                                              ng-model="homeCtrl.currentPage"
                                              max-size="homeCtrl.pageSize"
                                              class="pagination-sm"
                                              boundary-links="true"
                                              rotate="false"
                                              style="margin-left: 170px"
                                              num-pages="homeCtrl.totalPages">
                                  </pagination>-->


        </div>

      </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 sidebar" style="min-width: 390px; max-width: 390px">

      <span class="list-group-item active">
        <span class="badge pull-left" style="margin-right: 10px;">{{homeCtrl.projects.length}}</span> Projects

        <button class="btn btn-success pull-right" id="buttonCreateProject"
                style="height: 43px;margin-right: -16px;margin-top: -11px;width: 70px; border-radius: 0px;"
                ng-click="homeCtrl.newProject()">
          <i class="fa fa-plus-circle fa-lg"></i>
          <span style="margin-left:3px;">New</span>
        </button>

      </span>

      <div class="list-group-item"
           style="background-color: #f5f5f5;">
        <div class="input-group-btn search-panel pull-left"
             style="width: 83px;">
          <button type="button"
                  class="btn btn-default dropdown-toggle"
                  data-toggle="dropdown" id="filterByButton">
            <span id="search_concept">Filter by</span>
            <span class="caret"></span>
          </button>

          <ul class="dropdown-menu" role="menu">
            <li><a href="#its_equal"> My own</a></li>
            <li><a href="#greather_than"> Private</a></li>
            <li><a href="#less_than"> Public </a></li>
            <li class="divider"></li>
            <li><a href="#all">All</a></li>
          </ul>
        </div>
        <input type="hidden" name="search_param" value="all" id="search_param">
        <input type="text" class="form-control pull-left" ng-model="searchProject"
               style="width: 205px; border-radius: 0;"
               name="x" placeholder="Find project...">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" style="height:34px;">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div>
      <div ng-repeat="project in homeCtrl.projects| filter: searchProject:false | startFrom:(homeCtrl.currentPageProjects - 1) * homeCtrl.pageSizeProjects | limitTo:homeCtrl.pageSizeProjects">
        <a
          ng-class="{disabled: project.project.archived}"
          href="#/project/{{project.project.id}}"
          class="list-group-item"
          context-menu
          data-target="menu-{{$index}}"
          id="{{project.project.name.substr(0, 5) === 'demo_'}}">
          <div ng-if="project.teamRole === 'Data scientist'">
            <i style="width: 20px; margin-right: 10px; font-size: 20px;" class="fa fa-lock fa-2 pull-left"></i>
          </div>
          <div ng-if="project.teamRole === 'Data owner'">
            <i style="width: 20px; margin-right: 10px; font-size: 20px;" class="fa fa-unlock fa-2 pull-left"></i>
          </div>
          <div ng-if="project.project.archived">
            <i style="width: 20px; margin-right: 10px; font-size: 20px; color: #9d261d"
               class="fa fa-ban fa-2 pull-left"></i>
          </div>
          {{project.project.name}}
          <span ng-if="project.project.name.substr(0, 5) === 'demo_'" class="glyphicon glyphicon-play-circle pull-right" style="margin-top: 5px;"></span>
        </a>
        <div class="dropdown position-fixed" id="menu-{{$index}}">
          <ul class="dropdown-menu dropdown-amore">
            <li>
              <a class="pointer"
                 role="menuitem"
                 tabindex="1"
                 ng-click="">
                <span><i class="fa fa-share-alt"></i>
                  Share...</span>
              </a>
            </li>

            <li>
              <a class="pointer"
                 role="menuitem"
                 tabindex="2"
                 ng-click="homeCtrl.deleteOnlyProject(project.project.id)">
                <span><i class="fa fa-trash"></i>
                  Remove and keep DataSets</span>
              </a>
            </li>
            <li>
              <a class="pointer"
                 role="menuitem"
                 tabindex="3"
                 ng-click="homeCtrl.deleteProjectAndDatasets(project.project.id)">
                <span><i class="fa fa-trash"></i>
                  Remove and delete DataSets </span>
              </a>
            </li>

          </ul>
        </div>
      </div>
      <pager total-items="homeCtrl.totalItemsProjects" ng-model="homeCtrl.currentPageProjects"></pager>
    </div>
  </div>
  <tour class="ng-scope" step="homeCtrl.tourService.currentStep_TourOne" post-tour="closeTour()" ng-if="homeCtrl.loadedView">
    <virtual-step
      class="ng-scope"
      tourtip="Begin the tour by clicking Next, OR when {{homeCtrl.tourService.alive_TourOne}} seconds passed, click on the project"
      tourtip-step="0"
      tourtip-element="#true.list-group-item"
      tourtip-placement="left"
      tourtip-next-label="Next"
      on-proceed="homeCtrl.EnterExampleProject(homeCtrl.exampleProjectID)"
      tourtip-offset-vertical="-17"
      tourtip-offset-horizontal="13"
      ></virtual-step>
  </tour>
</div>