<div class="modal-header">
    <button class="close" ng-click="metadataCtrl.close()" data-dismiss="modal" aria-hidden="true"
            type="button">&times;</button>
    <h2 class="modal-title">Import/Export Template</h2>
</div>
<div class="modal-body">
    <form role="form" name="ieForm" ng-submit="" novalidate
          class="form-validate">
        <div class="row">
            <fieldset>
                <div class="control-group col-md-offset-1" style="margin-right: 8.33333%;">
                    <div class="form-group has-feedback">
                        <label class="text-muted control-label">Templates</label><br>
                        <div class="btn-group btn-group" role="group" aria-label="..." style="min-width: 100%">
                            
                            <div class="btn-group" role="group" style="width: 15%">


                            </div>
                        </div>
                    <p></p>
                </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="col-md-1">

                </div>
            </fieldset>
        </div>

        <div class="modal-footer" style="padding-bottom: 1px; padding-right: 1px">

            <button class="btn btn-default" type="button" ng-click="metadataCtrl.close()">Cancel</button>
            <button class="btn btn-primary" type="submit" ng-disabled="">
                Export
            </button>

        </div>
    </form>
</div>