<!-- Displays the defined jobs in the current project -->
<div ng-controller="MainCtrl as mainCtrl">
  <div ng-include="'nav.html'"></div>


  <div id="wrapper" class="toggled" ng-controller="JobsCtrl as jobsCtrl">
    <div class="overlay"></div>

    <div ng-include="'navProject.html'"></div>
      <div class="job-content-wrapper">
        <h3 id="projectBread" style="display: none;"> {{ projectCtrl.currentProject.projectName}} / Jobs</h3>
      </div>
    <div class="">
        <!-- Page Content -->
        <div class="content" style="height:100%; overflow: hidden;" >	
          <div class="row rg-row-top" resizable 
                 r-directions="['bottom']">
              <h2 style="text-align: center;">
                Top
                </h2>
          </div>

            <!-- right side -->
          <div class="row rg-row-bottom" ng-show="false">
            <h2 style="text-align: center;">
              Bottom
            </h2>
          </div>
        </div>
	  </div>
    <!-- /#wrapper -->
  </div>
<tour class="ng-scope" step="projectCtrl.tourService.currentStep_TourThree" post-tour="closeTour()" ng-if="projectCtrl.loadedView">
  <virtual-step
    class="ng-scope"
    tourtip="Click Next OR click on the 'New job' button to continue"
    tourtip-step="0"
    tourtip-element="#buttonCreateJob"
    tourtip-placement="bottom"
    tourtip-next-label="Next"
    on-proceed="jobsCtrl.newJob()"
    tourtip-offset-vertical="-13"
    ></virtual-step>
  <virtual-step
    class="ng-scope"
    tourtip="invisible"
    tourtip-step="1"
    ng-hide="true"
    ></virtual-step>
  <virtual-step
    class="ng-scope"
    tourtip="Click Run to run your job !"
    tourtip-step="2"
    tourtip-element="#true"
    tourtip-placement="bottom"
    tourtip-next-label="Done"
    on-proceed="closeTour(); projectCtrl.tourService.resetTours();"
    tourtip-offset-vertical="-37"
    ></virtual-step>
</tour>

