<!-- Displays the defined jobs in the current project -->
<link rel="stylesheet" href="styles/timeline.css">
<link rel="stylesheet" href="styles/cuneiform.css">
<div ng-controller="MainCtrl as mainCtrl">
  <div ng-include="'nav.html'"></div>


  <div id="wrapper" class="toggled" ng-controller="JobsCtrl as jobsCtrl">
    <div class="overlay"></div>

    <div ng-include="'navProject.html'"></div>

    <section>
      <div class="content-wrapper">
        <h3 id="projectBread" style="display: none;"> {{ projectCtrl.currentProject.projectName}} / Jobs</h3>


        <!-- Page Content -->
        <div style="min-width: 1210px">
          <div>
              <div style="max-height: 50%;overflow-y: auto;padding-bottom:
              200px;">
                <div class="btn-group"
                     style="float: left;width: 10%; margin-bottom: 20px;">
                  <button style="width: 100%;"
                          ng-click="jobsCtrl.newJob()"
                          class="btn btn-warning">
                    New job
                  </button>
                </div>
                <div style="float: right;width: 89%;">
                  <input type="text" ng-model="jobsCtrl.jobFilter.name"
                         placeholder="Filter Jobs" class="form-control" autofocus/>
                </div>
              <table class="table table-hover">
                <thead>
                <th style="width: 6%">
                </th>
                <th style="width: 12%">
                  Name
                </th>
                <th style="width: 15%">
                  Created on
                </th>
                <th style="width: 10%">
                  Type
                </th>
                <th style="width: 10%">
                  State
                </th>
                <th style="width: 10%">
                  Final Status
                </th>
                <th style="width: 10%">
                  Progress
                </th>
                <th style="width: 15%">
                  Actions
                </th>
                </thead>
                <tbody>
                    <tr ng-repeat="job in jobsCtrl.jobs| filter:jobsCtrl.jobFilter:false | orderBy : '-creationTime'" ng-class="{'active':$index == selectedIndex}" ng-click="jobsCtrl.untoggle(job,$index);">
                    <td>
                      <button style="border-color: #20AD28; min-width: 64px;"
                              ng-click="jobsCtrl.runJob(job.id);$event.stopPropagation();" class="btn btn-default btn-sm" ng-hide="jobsCtrl.runningInfo['' + job.id].running"><span style="color: #20AD28" class="glyphicon glyphicon-play" aria-hidden="true"/> Run</button>
                      <button ng-click="$event.stopPropagation();"
                              class="btn btn-success btn-sm"
                              ng-show="jobsCtrl.runningInfo['' + job.id].running">
                        Running</button>
                    </td>
                    <td>
                      {{job.name}}
                    </td>
                    <td>
                      {{job.creationTime| date:'medium'}}
                    </td>
                    <td>
                      {{job.jobType}}
                    </td>
                    <td>
                      {{jobsCtrl.runningInfo['' + job.id].state}}
                    </td>
                    <td>
                      {{jobsCtrl.runningInfo['' + job.id].finalStatus}}
                    </td>
                    <td>
                      {{jobsCtrl.runningInfo['' + job.id].progress}}
                    </td>
                    <td>
                      <span class="field-info" tooltip="Schedule"
                            style="padding-top: 5px;padding-left:3px">
                        <button style=""
                                ng-click="jobsCtrl.showDetails(job);$event.stopPropagation();"
                                class="btn btn-primary glyphicon glyphicon-time">
                        </button>
                      </span>
                      <span class="field-info" tooltip="Edit"
                            style="padding-top: 5px;padding-left:3px">
                      <button style=""
                              ng-click="jobsCtrl.editAsNew(job);$event.stopPropagation();"
                              class="btn btn-warning glyphicon glyphicon-edit">
                      </button>
                      </span>
                      <span class="field-info" tooltip="Details"
                            style="padding-top: 5px;padding-left:3px">
                      <button style=""
                              ng-click="jobsCtrl.showDetails(job);$event.stopPropagation();"
                              class="btn btn-info glyphicon glyphicon-list-alt">
                      </button>
                      </span>
                      <span class="field-info" tooltip="Delete"
                            style="padding-top: 5px;padding-left:3px">
                      <button style="margin-left: 5px"
                              ng-click="jobsCtrl.deleteJob(job.id,job.name);$event.stopPropagation();"
                              class="btn btn-danger glyphicon glyphicon-trash">
                      </button>
                     </span>
                       <!--<div class="dropdown" style="display:inline-block;">-->
                            <!--<button class="btn btn-default btn-sm dropdown-toggle"  type="button" data-toggle="dropdown">More Actions-->
                            <!--<span class="fa fa-caret-right"></span></button>-->
                          <!--<ul class="dropdown-menu" style="left: 100px;top:0%">-->
                              <!--<li><a ng-click="jobsCtrl.showDetails(job);$event.stopPropagation();"><span class="glyphicon glyphicon-time" style="padding-right: 10px"></span>Schedule</a></li>-->
                                <!--<li><a ng-click="jobsCtrl.editAsNew(job);$event.stopPropagation();"><span class="glyphicon glyphicon-edit" style="padding-right: 10px"></span>Edit as New</a></li>-->
                                <!--<li><a ng-click="jobsCtrl.showDetails(job);$event.stopPropagation();"><span class="glyphicon glyphicon-list-alt" style="padding-right: 10px"></span>Job Details</a></li>-->
                                <!--<li><a ng-click="jobsCtrl.toggle(job,$index);jobsCtrl.showLogs(job.id);$event.stopPropagation();"><span class="glyphicon glyphicon-hdd" style="padding-right: 10px"></span>Log Files</a></li>-->
                                <!--<li role="presentation" class="divider"></li>-->
                                <!--<li><a ng-click="jobsCtrl.deleteJob(job.id,job.name);$event.stopPropagation();"><span class="glyphicon glyphicon-trash" style="padding-right: 10px"></span>Delete</a></li>-->
                            <!--</ul>-->
                      <!--</div>-->
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <!-- /#page-content-wrapper -->
          <div class="row">
              <div class="col-lg-2"  style="max-width: 250px"></div>
              <div class="col-lg-10" style="max-height: 50%;padding-top: 10px" ng-show="jobsCtrl.hasSelectJob">

                <ul class="nav nav-tabs">
                  <li class="active"><button class="btn btn-default"
                        data-toggle="tab"
                        data-target="#logs">
                        Execution Logs</button></li>
                  <li><button class="btn btn-default"
                        data-toggle="tab"
                        data-target="#errs"
                        >Error Logs</button></li>

                </ul>

                <div class="tab-content">
                  <div id="logs" class="tab-pane fade in active">
                        <accordion close-others="true">
                            <accordion-group data-ng-repeat="item in jobsCtrl.logset" heading="{{item.time}}">
                              <div style="overflow-y: auto">
                                  <textarea class="form-control" rows="15" placeholer="No log information available" readonly>
                                      {{item.log}}
                                  </textarea>
                              </div>
                            </accordion-group>
                        </accordion>
                  </div>
                  <div id="errs" class="tab-pane fade">
                      <accordion close-others="true">
                          <accordion-group data-ng-repeat="item in jobsCtrl.logset" heading="{{item.time}}">
                              <div style="overflow-y: auto">
                                  <textarea class="form-control" rows="15" placeholer="No error information available" readonly>
                                      {{item.err}}
                                  </textarea>
                              </div>
                            </accordion-group>
                        </accordion>
                  </div>
                </div>

              </div>
          </div>

        </div>

    </section>
  </div>
  <!-- /#wrapper -->
</div>
