<div ng-controller="KafkaCtrl as kafkaCtrl">
  <div ng-include="'nav.html'"></div>
  <div id="wrapper" class="toggled">
    <div class="overlay"></div>

    <div ng-include="'navProject.html'"></div>

    <section>
      <div class="content-wrapper">
        <!--<h3 id="projectBread" style="display: none;"> {{ projectCtrl.currentProject.projectName}} / Kafka</h3>-->
        <div growl reference="10" class="pull-right" ></div>

        <!--            <div class="panel-heading">
                      <h3 class="panel-title">Kafka Topics</h3>
                    </div>-->



        <div>
          <form class="form-horizontal">
            <div class="form-group">
              <div class="col-sm-1">
                <button type="button" ng-click="kafkaCtrl.createTopic()" class="btn btn-sm btn-success btn-block control-label">
                  New Topic<i style="margin-left: 10px" class="glyphicon glyphicon-plus">
                  </i> 
                </button>
              </div>
              <div class="col-sm-3">
                <input type="text" class="form-control" id="topicName" ng-model="kafkaCtrl.topicName" placeholder="New Topic Name">
              </div>
              <div class="col-sm-4 pull-right">
                <span class="text-muted" ng-show="kafkaCtrl.numTopicsLeft > 0">Number of topics remaining: {{kafkaCtrl.numTopicsLeft}}</span>
                <span style="color: red;" class="text" ng-show="kafkaCtrl.numTopicsLeft <= 0">No free topics remaining.</span>
              </div>
            </div>
          </form>

          <table st-table="rowCollection" class="table table-striped" ng-show="">
            <thead>
              <tr>
                <th st-sort="topicName">Topic Name</th>
                <th >Select Topic</th>
                <th >New ACL</th>
                <th >Remove Topic</th>
              </tr>
            </thead>
            <tbody>
              <tr st-select-row="row" st-select-mode="single" ng-repeat="row in kafkaCtrl.topics" ng-show="row.isSelected">
                <td>{{row.name}} <br>
                  <table ng-show="row.isSelected">
                    <thead>
                      <tr>
                        <th >Username</th>
                        <th >Permission Type</th>
                        <th >Operation Type</th>
                        <th >Host</th>
                        <th >Role</th>
                        <th >Shared</th>
                        <th >Edit</th>
                      </tr>
                    </thead>
                    <tr ng-repeat="acl in row">
                      <td ng-if="kafkaCtrl.activeId !== acl.id">{{acl.username}}</td>
                      <td ng-if="kafkaCtrl.activeId === acl.id"><input type="text" class="form-control" id="aclUsername" ng-model="kafkaCtrl.username" placeholder="Username"></td>
                      <td ng-if="kafkaCtrl.activeId !== acl.id">{{acl.permission_type}}</td>
                      <td ng-if="kafkaCtrl.activeId === acl.id">
                        <select name="permission_type" ng-model="kafkaCtrl.permission_type">
                          <option value="read">read</option>
                          <option value="write">write</option>
                          <option value="details">details</option>
                          <option value="*">*</option>
                        </select>
                      </td>
                      <td ng-if="kafkaCtrl.activeId !== acl.id">{{acl.operation_type}}</td>
                      <td ng-if="kafkaCtrl.activeId === acl.id">
                        <select name="operation_type" ng-model="kafkaCtrl.operation_type">
                          <option value="read">read</option>
                          <option value="write">write</option>
                          <option value="details">details</option>
                          <option value="*">*</option>
                        </select>
                      </td>
                      <td ng-if="kafkaCtrl.activeId !== acl.id">{{acl.host}}</td>
                      <input type="text" class="form-control" id="aclHost" ng-model="kafkaCtrl.host" placeholder="Hostname (or * or subnet)">
                      <td ng-if="kafkaCtrl.activeId !== acl.id">{{acl.role}}</td>
                      <td ng-if="kafkaCtrl.activeId === acl.id">
                        <select name="role_type" ng-model="kafkaCtrl.role">
                          <option value="Data Scientist">Data scientist</option>
                          <option value="Data Owner">Data owner</option>
                          <option value="*">*</option>
                        </select>
                      </td>
                      <td ng-if="kafkaCtrl.activeId !== acl.id">{{acl.shared}}</td>
                      <td ng-if="kafkaCtrl.activeId === acl.id">
                        <select name="role_type" ng-model="kafkaCtrl.role">
                          <option value="Data Scientist">Data scientist</option>
                          <option value="Data Owner">Data owner</option>
                          <option value="*">*</option>
                        </select>
                      </td>                      <td>
                        <button type="button" ng-click="acl.selectedAcl = true; kafkaCtrl.selectAcl(acl)" class="btn btn-sm btn-primary">
                          Edit ACL
                        </button>
                      </td>
                    </tr>
                  </table>

                </td>
                <td>
                  <button type="button" ng-click="row.isSelected = !row.isSelected;" class="btn btn-sm btn-primary">
                    Select
                  </button>
                </td>
                <td>
                  <button ng-show="row.isSelected" type="button" ng-click="kafkaCtrl.addAcl(row.id)" class="btn btn-sm btn-success">
                    <i class="glyphicon glyphicon-plus">
                    </i>
                  </button>
                </td>
                <td>
                  <button  type="button" ng-click="kafkaCtrl.removeTopic(row.name)" class="btn btn-sm btn-danger">
                    <i class="glyphicon glyphicon-remove-circle">
                    </i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>

        </div>              
    </section>
  </div>
</div>