<div class="container">
  <div class="row">
    <div class="center-block" style="width: 320px;">
      <div class="panel">
        <div class="panel-heading text-center">
          <a style="text-decoration:none; font-family: Lobster; font-size: 30px; margin-left: 5px; color: #fff;">HopsWorks
            <img alt="" class="block-center img-rounded" style="margin-left:10px" width="30" src="images/hops.png">
          </a>
        </div>
        <div class="panel-body">
          <p class="text-center">SIGN IN TO CONTINUE.</p>
          <form name="loginForm" ng-submit="loginCtrl.login()" role="form">
            <div class="form-group">
              <input id="login_inputEmail" class="form-control" required autofocus
                     ng-model="loginCtrl.user.email"
                     autocomplete="on"
                     placeholder="Email"
                     name="user_email">
            </div>
            <div class="form-group">
              <input id="login_inputPassword" class="form-control" type="password" required
                     ng-model="loginCtrl.user.password"
                     placeholder="Password"
                     name="user_password">
            </div>
            <div ng-if="loginCtrl.otp === 'true'" class="form-group">
              <input id="login_inputOTP" class="form-control" type="password" required
                     ng-model="loginCtrl.user.otp"
                     placeholder="Mobile PIN or Yubikey PIN"
                     name="otp_password">
            </div>
            
            <div class="clearfix">
            
              <div class="pull-right">
                <a tabindex="-1" class="text-muted" href="#/recover">Forgot
                  your
                  password?</a>
                </div>
            </div>
            <button class="btn btn-block btn-primary mt-lg" type="submit" data-ng-disabled="loginCtrl.working">Login</button>
          </form>
          <div style="text-align: center" class="text-muted" ng-show="loginCtrl.working">
            <i class="fa fa-spinner fa-spin"></i> 
            Logging you in
          </div>
          <div class="alert alert-danger text-center ng-binding ng-hide" ng-show="loginCtrl.errorMessage">{{loginCtrl.errorMessage}}</div>
          <p></p>
          <a class="btn btn-block btn-default" href="#/register">Register</a>
        </div>
      </div>

    </div>
  </div>
</div>
