<div class="container">
  <div class="row">
    <div class="center-block" style="width: 320px;">
      <div class="panel">
        <div class="panel-heading text-center">
          <a style="text-decoration:none; font-family: Lobster; font-size: 30px; margin-left: 5px; color: #fff;">HopsWorks
            <img alt="" class="block-center img-rounded" style="margin-left:10px" width="30" src="images/hops.png">
          </a>
        </div>
        <div class="panel-body">
          <p class="text-center">SIGN IN TO CONTINUE.</p>
          <form name="loginForm" ng-submit="loginCtrl.login()" role="form" class="form-validate">
            <div class="form-group has-feedback">
              <input id="login_inputEmail" class="form-control" type="email" required
                     ng-model="loginCtrl.user.email"
                     autocomplete="on"
                     placeholder="Email"
                     name="user_email">
            </div>
            <div class="form-group has-feedback">
              <input id="login_inputPassword" class="form-control" type="password" required
                     ng-model="loginCtrl.user.password"
                     placeholder="Password"
                     name="user_password">
            </div>
            <div class="clearfix">
              <div class="checkbox c-checkbox pull-left mt0">
                <label>
                  <input class="" type="checkbox" ng-model="user.remember" name="user_remember" value="">
                  <span class="fa fa-check"></span>
                  Remember Me
                </label>
              </div>
              <div class="pull-right">
                <a class="text-muted" href="#/recover">Forgot your password?</a>
              </div>
            </div>
            <button class="btn btn-block btn-primary mt-lg" type="submit" ng-disabled="loginForm.$invalid">Login</button>
          </form>
          <div class="alert alert-danger text-center ng-binding ng-hide" ng-show="loginCtrl.errorMessage">{{loginCtrl.errorMessage}}</div>
          <p class="pt-lg text-center">Need to Sign up?</p>
          <a class="btn btn-block btn-default" href="#/register">Register Now</a>
        </div>
      </div>

    </div>
  </div>
</div>
