<div class="modal-header">
    <button class="close" ng-click="messageCtrl.close()" data-dismiss="modal" aria-hidden="true"
            type="button">&times;</button>
    <h2 class="modal-title">Messages</h2>
</div>
<div class="modal-body">

<div class="row" style="margin: 0px">
    <div class="panel message-panel col-md-4 " style="width: 29%;">
        <a tooltip="Refresh Panel" class="pull-right" style="padding-top: 10px; padding-right: 15px; color: #c1c2c3">
            <i class="fa fa-refresh" ng-class="{'fa-spin':messageCtrl.refreshing}"></i>
        </a><br>
        <p></p>
        <tabset justified="true">
            <tab>
                <tab-heading>
                    <em class="fa fa-fw fa-lg fa-envelope-o"></em>Messages
                </tab-heading>
                <p></p>
                <input type="text" placeholder="Filter messages" ng-model="messageCtrl.filterText" class="form-control" style="margin-left: 10px; width:200px"/>
                <p></p>
                <div class="panel-body" ng-if="messageCtrl.messages === undefined || messageCtrl.messages.length < 1">
                    <h4 class="text-muted">Message folder empty.</h4>
                </div>
                <div class="panel-body" ng-if="messageCtrl.loading">
                    <h4 class="text-muted"><i class="fa fa-spinner fa-spin"></i>Loading...</h4>
                </div>
                <div class="panel-body message-list scroll">
                    <ul class="messages" >
                        <li ng-class="{'unread': msg.unread, 'highlight': messageCtrl.selectedMsg === msg}" ng-repeat="msg in messageCtrl.messages | filter:messageCtrl.filterText | orderBy: 'date'">
                            <div class="message-preview-div" ng-click="messageCtrl.select(msg)">
                                <img class="message-avatar pull-left" src="http://gravatar.com/avatar/{{messageCtrl.emailMd5Hash(msg.fromEmail)}}?d=mm">
                                <button tooltip="Move to trash" class="close" ng-click="messageCtrl.delete()" aria-hidden="true" type="button">
                                    &times;
                                </button>
                                <div class="message-meta">
                                    <div class="pull-left">
                                        <div class="message-subject">{{msg.subject | limitTo:25}}</div>
                                        <div class="message-from">{{msg.from | limitTo:25}}</div>
                                        <div class="text-muted">{{msg.date | date:'medium'}}</div>
                                    </div>
                                </div>
                                <div class="message-preview">{{msg.content | limitTo:50}} {{msg.content.length > 50 ? ' ...' : ''}}</div>
                            </div>
                        </li>
                    </ul>
                </div>

            </tab>
            <tab>
                <tab-heading>
                    <em class="fa fa-fw fa-lg fa-trash"></em>Trash
                </tab-heading>
                <p></p>
                <input type="text" placeholder="Filter messages" ng-model="messageCtrl.filterText" class="form-control" style="margin-left: 10px; width:200px"/>
                <p></p>
                <div class="panel-body" ng-if="messageCtrl.trash === undefined || messageCtrl.trash.length < 1">
                    <h4 class="text-muted">Trash empty.</h4>
                </div>
                <div class="panel-body" ng-if="messageCtrl.loading">
                    <h4 class="text-muted"><i class="fa fa-spinner fa-spin"></i>Loading...</h4>
                </div>
                <div class="panel-body message-list scroll" ng-if="messageCtrl.trash !== undefined && messageCtrl.trash.length > 0">
                    <a style="text-decoration:none;">Empty trash</a>
                    <p></p>
                    <ul class="messages" >
                        <li ng-class="{'unread': msg.unread, 'highlight': messageCtrl.selectedMsg === msg}" ng-repeat="msg in messageCtrl.trash | filter:messageCtrl.filterText | orderBy: 'date'">
                            <div class="message-preview-div" ng-click="messageCtrl.select(msg)">
                                <img class="message-avatar pull-left" src="http://gravatar.com/avatar/{{messageCtrl.emailMd5Hash(msg.fromEmail)}}?d=mm">
                                <button tooltip="Delete message" class="close" ng-click="messageCtrl.delete()" aria-hidden="true" type="button">
                                    &times;
                                </button>
                                <div class="message-meta">
                                    <div class="pull-left">
                                        <div class="message-subject">{{msg.subject | limitTo:25}}</div>
                                        <div class="message-from">{{msg.from | limitTo:25}}</div>
                                        <div class="text-muted">{{msg.date | date:'medium'}}</div>
                                    </div>
                                </div>
                                <div class="message-preview">{{msg.content | limitTo:50}} {{msg.content.length > 50 ? ' ...' : ''}}</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </tab>
        </tabset>

    </div>
    <div class="panel message-panel col-md-8 pull-right" style="width: 70%;">
        <div class="panel-body" ng-if="messageCtrl.selectedMsg === undefined">
            <h4 class="text-muted">No message selected.</h4>
        </div>
        <div class="panel-body" ng-if="messageCtrl.loadingMsg">
            <h4 class="text-muted"><i class="fa fa-spinner fa-spin"></i>Loading...</h4>
        </div>
        <div class="messages panel-body" ng-if="messageCtrl.selectedMsg">
            <div class="pull-right text-muted">{{messageCtrl.selectedMsg.date | date:'medium'}}</div>
            <img class="message-avatar pull-left" src="http://gravatar.com/avatar/{{messageCtrl.emailMd5Hash(messageCtrl.selectedMsg.fromEmail)}}?d=mm">
            <div class="pull-left">
                <span>From:</span>
                <span>{{messageCtrl.selectedMsg.from}} &lt;{{messageCtrl.selectedMsg.fromEmail}}&gt;</span>
                <p class="message-list">To: <a title="e-mail: {{to.email}}" ng-repeat="to in messageCtrl.selectedMsg.to">{{ to.name }}; </a>
                </p>
            </div>

            <div class="message-preview scroll">
                <h3>Project join request</h3>
                <div ng-bind-html="messageCtrl.selectedMsg.content"></div>
            </div>

            <div class="message-box">
                <p></p>
                <div >
                    <a class="pull-left">
                        <img class="my-avatar img-rounded" src="http://gravatar.com/avatar/{{messageCtrl.emailMd5Hash(messageCtrl.email)}}?d=mm">
                    </a>
                    <div class="message-box-body">
                        <textarea placeholder="Reply here... " class="form-control"></textarea>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</div>