<!-- Create a new job -->
<div ng-controller="MainCtrl as mainCtrl">
  <div ng-include="'nav.html'"></div>


  <div id="wrapper" class="toggled" ng-controller="NewJobCtrl as newJobCtrl">
    <div class="overlay"></div>

    <div ng-include="'navProject.html'"></div>

    <section>
      <div class="content-wrapper">
        <h3 id="projectBread" style="display: none;"> {{ projectCtrl.currentProject.projectName}} / New job</h3>

        <div class="panel-header">
          <h2>New job definition 
            <i class="fa fa-times-circle" tooltip="Clear the current state." style="margin-left: 10px" ng-click="newJobCtrl.clear()" ng-hide="newJobCtrl.undoable"></i>
            <i class="fa fa-undo" tooltip="Restore the previous state." style="margin-left: 10px" ng-click="newJobCtrl.undoClear()" ng-show="newJobCtrl.undoable"></i>
          </h2>
        </div>
        <accordion close-others="false">
          <accordion-group heading="{{newJobCtrl.accordion1.title}} {{newJobCtrl.accordion1.value}}" is-open="newJobCtrl.accordion1.isOpen">
            <md-input-container style="height: 50px">
              <label id="inputJobName" for="jobname" style="color: black;">Job name</label>
              <input name="jobname" type="text" id="jobname"
                     ng-model="newJobCtrl.jobname" ng-change="newJobCtrl.nameFilledIn()"  autofocus>
            </md-input-container>
          </accordion-group>

          <!-- Select the type of job -->
          <accordion-group heading="{{newJobCtrl.accordion2.title}} {{newJobCtrl.accordion2.value}}" 
                           is-open="newJobCtrl.accordion2.isOpen" 
                           ng-show="newJobCtrl.accordion2.visible">
            <div class="btn-group">
              <!--<label class="btn btn-default" ng-model="newJobCtrl.jobtype" btn-radio="0" ng-change="newJobCtrl.jobTypeChosen()">Cuneiform</label>-->
              <label id="sparkJobType" class="btn btn-default" ng-model="newJobCtrl.jobtype" btn-radio="1" ng-change="newJobCtrl.jobTypeChosen()">Spark</label>
              <label class="btn btn-default" ng-model="newJobCtrl.jobtype" btn-radio="2" ng-change="newJobCtrl.jobTypeChosen()">Adam</label>
              <label class="btn btn-default" ng-model="newJobCtrl.jobtype" btn-radio="3" ng-change="newJobCtrl.jobTypeChosen()">Flink</label>
            </div>
          </accordion-group>


          <!-- Select the main execution file -->
          <accordion-group heading="{{newJobCtrl.accordion3.title}} {{newJobCtrl.accordion3.value}}" 
                           is-open="newJobCtrl.accordion3.isOpen" 
                           ng-show="newJobCtrl.accordion3.visible">
            <!-- Cuneiform, Spark and Flink  -->
            <button id="selectFileButton" class="btn btn-default" ng-click="newJobCtrl.selectFile(newJobCtrl.getJobType())" ng-show="newJobCtrl.jobtype == 0 || newJobCtrl.jobtype == 1 || newJobCtrl.jobtype == 3">
              <span>Select...</span>
            </button>
            <!-- ADAM -->
            <table ng-show="newJobCtrl.jobtype === 2">
              <tr ng-repeat="command in newJobCtrl.adamState.commandList">
                <td>
                  <button class="btn btn-default" ng-click="newJobCtrl.selectCommand(command.name)" style="width:100%">{{command.name}}</button> 
                </td>
                <td>
                  {{command.description}}
                </td>
              </tr>
            </table>
          </accordion-group>


          <!-- Set up the job details -->
          <accordion-group heading="{{newJobCtrl.accordion4.title}} {{newJobCtrl.accordion4.value}}" 
                           is-open="newJobCtrl.accordion4.isOpen" 
                           ng-show="newJobCtrl.accordion4.visible"
                           id="chooseParametersAndArguments">
            <!-- Cuneiform -->
            <div ng-show="newJobCtrl.jobtype === 0">
              <div class="row">
                <div class="text-right col-md-4">
                  <strong>Parameter</strong> 
                  <i class="fa fa-info-circle" tooltip="The unbound input parameters to the selected workflow are given here. Enter a value to bind them." style="margin-left: 10px"></i>
                </div>
                <div class="col-md-8">
                  <strong>Value</strong>
                </div>
              </div>
              <div class="row" ng-repeat="param in newJobCtrl.runConfig.wf.inputParams">
                <div class="text-right col-md-4">{{param.name}}</div>
                <div class="col-md-8"> <input type="text" ng-model="param.value" class="form-control"></div>
              </div>
            </div>
            <!-- Spark, Flink-->
            <div ng-show="newJobCtrl.jobtype == 1 || newJobCtrl.jobtype == 3">
              <div class="row">
                <div class="text-right col-md-4">Main class name <i class="fa fa-info-circle" tooltip="The name of the main class to run in the selected JAR file." style="margin-left: 10px"></i></div>
                <div class="col-md-8"><input type="text" ng-model="newJobCtrl.runConfig.mainClass" class="form-control" ng-change="newJobCtrl.chooseParameters()"></div>
              </div>
              <div class="row">
                <div class="text-right col-md-4">Job arguments <i class="fa fa-info-circle" tooltip="The arguments to be passed to the main method of the class entered above." style="margin-left: 10px"></i></div>
                <div class="col-md-8"><input type="text" ng-model="newJobCtrl.runConfig.args" class="form-control" ng-change="newJobCtrl.chooseParameters()"></div>
              </div>
            </div>
            <!-- Adam -->
            <div ng-show="newJobCtrl.jobtype === 2">
              {{newJobCtrl.runConfig.selectedCommand.description}}
              <div>
                <strong>Arguments</strong>
              </div>
              <div class="row" ng-repeat="arg in newJobCtrl.runConfig.selectedCommand.arguments">
                <div class="text-right col-md-4">
                  {{arg.name}} <span ng-show="arg.required">*</span> <i class="fa fa-info-circle" tooltip="{{arg.description}}" style="margin-left: 10px"></i>
                </div>
                <div class="col-md-8">
                  <input type="text" ng-model="arg.value" ng-hide="arg.path && !arg.value" ng-required="arg.required" class="form-control">
                  <button ng-show="arg.path && !arg.value" ng-click="newJobCtrl.selectFile('ADAM', arg)" class="btn btn-default">Select</button>
                </div>
              </div>

              <div>
                <strong>Options</strong>
              </div>
              <div class="row" ng-repeat="opt in newJobCtrl.runConfig.selectedCommand.options">
                <div class="text-right col-md-4">
                  {{opt.name}} <i class="fa fa-info-circle" tooltip="{{opt.description}}"></i>
                </div>
                <div class="col-md-8">
                  <input type="text" ng-model="opt.value" ng-hide="(opt.valueIsPath && !opt.value) || opt.flag" class="form-control">
                  <button ng-show="opt.valueIsPath && !opt.value" ng-click="newJobCtrl.selectFile('ADAM', opt)" class="btn btn-default">Select</button>
                  <label ng-show="opt.flag">
                    <input type="checkbox" ng-model="opt.value" class="form-control">
                  </label>
                </div>
              </div>
            </div>
            
          </accordion-group>
          <!--Pre-configuration accordion visible only for Spark jobs-->
          <accordion-group heading="{{newJobCtrl.accordion6.title}} {{newJobCtrl.accordion6.value}}" 
                           is-open="newJobCtrl.accordion6.isOpen" 
                           ng-show="newJobCtrl.accordion6.visible && newJobCtrl.jobtype === 1"
                           id="preConfig">
        <div>      
        <div style="float: left;width: 100%;" ng-show="newJobCtrl.jobtype === 1">
                <div style="float: left;width: 150px;">
                  <div class="btn-group" style="float: left;width: 100px; margin-bottom: 0px;margin-left: 10px;margin-top: 10px" id="buttonRefresh">
                        <button style="width: 100%;" ng-click="newJobCtrl.autoConfig(false)" title="Search for the analysis results when you set new input attributes." class="btn btn-default glyphicon glyphicon-refresh">  Search  </button>
                  </div>
                  <div class="btn-group" style="float: left;width: 100px; margin-bottom: 0px;margin-left: 10px;margin-top: 10px" id="buttonRefresh">
                        <button style="width: 100%;" ng-click="newJobCtrl.autoConfig(true)" title="Filter by your own suffessfully executed jobs" class="btn btn-default glyphicon glyphicon-filter">  Filter  </button>
                  </div>
                </div>
            <div>
                <div style="margin-left: 15px; margin-top: 5px; width: 100%" ng-show="newJobCtrl.configAlert">
                        <p style="margin-top: 15px;margin-left: 20px; color:red; ">* Please set all the required job parameters in order to get a pre-configuration proposal.</p>
                </div>
            </div>    
            <div ng-show="newJobCtrl.autoConfigResult.numberOfResults!=null && newJobCtrl.autoConfigResult.numberOfResults!='0'">
                <div style="margin-left: 15px; margin-top: 5px; width: 100%" ng-show="!newJobCtrl.configAlert">
                        <p style="margin-top: 15px;margin-left: 20px">
                        After the analysis, {{newJobCtrl.autoConfigResult.numberOfResults}} result(s) was/were found with {{newJobCtrl.autoConfigResult.degreeOfSimilarity}} similarity.
                        <i class="glyphicon glyphicon-info-sign"                  
                         tooltip="Similarity refers to the attributes (Main Class Name, Job Arguments etc) likeness of the current job with previous analized jobs."
                         tooltip-placement="bottom"
                         style="margin-left: 10px"></i>
                        </p>
                        <p ng-show="newJobCtrl.autoConfigResult.jobProposedConfig.length==1"> Due to limited results we can't propose and a Premium Configuration.</p>
                        <p ng-show="newJobCtrl.autoConfigResult.jobProposedConfig.length>1"> Please select one of the following configuration options:</p>
                </div>
                <div style="float: left" ng-show="!newJobCtrl.configAlert">
                    <div class="panel panel-info pull-left" ng-repeat="e in newJobCtrl.autoConfigResult.jobProposedConfig" style="width: 32%; margin-left: 10px; margin-top: 10px">
                            <div class="panel-heading">
                                <label class="panel-title"><input type="radio" name="optradio" value="{{e.configType}}" ng-click="selectConfig(e.configType)" ng-checked="checkRadio(e.configType)" ng-init="selectConfig('Minimal')"> &nbsp &nbsp {{e.configType}} Configuration &nbsp {{e.message}}</label>
                            </div>
                            <div class="panel-body">
                            <div class="row" style="margin-top: 10px">
                                <div class="text-right col-md-9">Application master memory (MB) <i class="fa fa-info-circle" tooltip="The amount of memory, in MB, that should be requested for the Yarn Application Master container." style="margin-left: 5px"></i></div>
                                        <div class="text-left col-md-3" ng-model="newJobCtrl.runConfig.amMemory">{{e.amMemory}}</div>
                                <div class="text-right col-md-9">Application master Vcores <i class="fa fa-info-circle" tooltip="The number of cores that should be requested for the Yarn Application Master container." style="margin-left: 5px"></i></div>
                                        <div class="text-left col-md-3" ng-model="newJobCtrl.runConfig.amVCores">{{e.amVcores}}</div>
                                <div class="text-right col-md-9">Resource Manager queue <i class="fa fa-info-circle" tooltip="The queue in the ResourceManager in which this application should be submitted." style="margin-left: 5px"></i></div>
                                        <div class="text-left col-md-3" ng-model="newJobCtrl.runConfig.amQueue">default</div>
                                <div class="text-right col-md-9">Number of executors <i class="fa fa-info-circle" tooltip="The number of Spark executors that should be requested for this job." style="margin-left: 5px"></i></div>
                                        <div class="text-left col-md-3" ng-model="newJobCtrl.runConfig.numberOfExecutors">{{e.numOfExecutors}}</div>
                                <div class="text-right col-md-9">Number of executor cores <i class="fa fa-info-circle" tooltip="The number of cores that should be requested for each Spark executor in this job." style="margin-left: 5px"></i></div>
                                        <div class="text-left col-md-3" ng-model="newJobCtrl.runConfig.executorCores">{{e.executorCores}}</div>
                                <div class="text-right col-md-9">Executor memory (MB) <i class="fa fa-info-circle" tooltip="The amount of memory, in MB, that should be requested for each Spark executor in this job." style="margin-left: 5px"></i></div>
                                        <div class="text-left col-md-3" ng-model="newJobCtrl.runConfig.executorMemory">{{e.executorMemory}}</div>        
                                <div class="text-right col-md-9" ng-show="newJobCtrl.autoConfigResult.degreeOfSimilarity=='VERY HIGH'">Estimated execution duration <i class="fa fa-info-circle" tooltip="The execution duration is also related to the system load." style="margin-left: 5px"></i></div>
                                        <div class="text-left col-md-3" ng-show="newJobCtrl.autoConfigResult.degreeOfSimilarity=='VERY HIGH'">{{e.estimatedExecutionTime}}</div>        
                            </div>   
                            </div>
                    </div>
                </div>    
              </div>
            <div style="margin-top: 10px;margin-left: 10px; width: 64%; height: 250px" ng-show="newJobCtrl.autoConfigResult.numberOfResults==null && newJobCtrl.isSpin">
                <p style="text-align: center">
                <i class="fa fa-spinner fa-pulse fa-3x fa-fw" style="font-size:24px; text-align: center"></i> &nbsp &nbsp Please wait.. </p>
            </div>
            <div style="margin-top: 10px;margin-left: 10px; width: 64%; height: 250px" ng-show="newJobCtrl.autoConfigResult.numberOfResults!=null && newJobCtrl.autoConfigResult.numberOfResults=='0' && !newJobCtrl.configAlert">
                <p style="text-align: center">There are no similar applications. Please use the next panel and configure your job manually.</p>
            </div>
        </div> 
        </div>      
        <!-- Creation button -->
        <div style="float: left;width: 150px;">
            <button style="float: left; margin-bottom: 0px;margin-left: 10px;margin-top: 10px"
                    ng-click="newJobCtrl.createJob()" ng-show="newJobCtrl.autoConfigResult.numberOfResults>=1" class="btn btn-warning">
                Create job
            </button>
        </div>
        
        </accordion-group>
          <!-- Set some run configuration -->
          <accordion-group heading="{{newJobCtrl.accordion5.title}} {{newJobCtrl.accordion5.value}}" 
                           is-open="newJobCtrl.accordion5.isOpen" 
                           ng-show="newJobCtrl.accordion5.visible"
                           id="moreConfigs">
              <div class="row" style="margin-top: 10px">
                <div class="text-right col-md-4">Application master memory (MB) <i class="fa fa-info-circle" tooltip="The amount of memory, in MB, that should be requested for the Yarn Application Master container." style="margin-left: 10px"></i></div>
                <div class="col-md-8">
                  <input type="number" ng-model="newJobCtrl.runConfig.amMemory" min="0" class="form-control">
                </div>
              </div>
              <div class="row">
                <div class="text-right col-md-4">Application master vcores <i class="fa fa-info-circle" tooltip="The number of cores that should be requested for the Yarn Application Master container." style="margin-left: 10px"></i></div>
                <div class="col-md-8">
                  <input type="number" ng-model="newJobCtrl.runConfig.amVCores" min="1" class="form-control">
                </div>
              </div>
              <div class="row">
                <div class="text-right col-md-4">ResourceManager queue <i class="fa fa-info-circle" tooltip="The queue in the ResourceManager in which this application should be submitted." style="margin-left: 10px"></i></div>
                <div class="col-md-8">
                  <input type="text" ng-model="newJobCtrl.runConfig.amQueue" class="form-control">
                </div>
              </div>
              
              <!-- Spark -->               
              <div class="row" ng-show="newJobCtrl.jobtype === 1 || newJobCtrl.jobtype === 2">
                <div class="text-right col-md-4">Dynamic Executors <i class="fa fa-info-circle" tooltip="Enable Spark Dynamic Executors." style="margin-left: 10px"></i></div>
                <div class="col-md-8"><input type="checkbox" ng-model="newJobCtrl.runConfig.dynamicExecutors"></div>
              </div>
               <div class="row" ng-show="(newJobCtrl.jobtype === 1 || newJobCtrl.jobtype === 2) && newJobCtrl.runConfig.dynamicExecutors" style="margin-top: 10px">
                <div class="text-right col-md-4">Min/Max Number of Executors <i class="fa fa-info-circle" tooltip="The minimum number of Spark executors that should be requested for this job." style="margin-left: 10px"></i></div>
                <div class="col-md-8 col-lg-8 cust"> 
                  <input ng-model="newJobCtrl.sliderValue" ng-change="newJobCtrl.setInitExecs()" type="text" id="executorsSlider" slider options="newJobCtrl.sliderOptions" ng-disabled="disabled" />
               </div>
              </div>
            <div class="row" ng-show="(newJobCtrl.jobtype === 1 || newJobCtrl.jobtype === 2) && newJobCtrl.runConfig.dynamicExecutors">
                <div class="text-right col-md-4">Initial number of executors <i class="fa fa-info-circle" tooltip="The initial number of Spark executors that should be requested for this job. Must be greate that the minimum and smaller than the maximum number of executors." style="margin-left: 10px"></i></div>
                <div class="col-md-8"><input type="number"  ng-change="newJobCtrl.setInitExecs()" value="{{newJobCtrl.runConfig.selectedMinExecutors}}" ng-model="newJobCtrl.runConfig.numberOfExecutorsInit" class="form-control"></div>
              </div>              
              <div class="row" ng-show="(newJobCtrl.jobtype === 1  || newJobCtrl.jobtype === 2) && !newJobCtrl.runConfig.dynamicExecutors">
                <div class="text-right col-md-4">Number of executors <i class="fa fa-info-circle" tooltip="The number of Spark executors that should be requested for this job." style="margin-left: 10px"></i></div>
                <div class="col-md-8"><input type="number" ng-model="newJobCtrl.runConfig.numberOfExecutors" class="form-control"></div>
              </div>
              <div class="row" ng-show="newJobCtrl.jobtype === 1  || newJobCtrl.jobtype === 2">
                <div class="text-right col-md-4">Number of executor cores <i class="fa fa-info-circle" tooltip="The number of cores that should be requested for each Spark executor in this job." style="margin-left: 10px"></i></div>
                <div class="col-md-8"><input type="number" ng-model="newJobCtrl.runConfig.executorCores" class="form-control"></div>
              </div>
              <div class="row" ng-show="newJobCtrl.jobtype === 1  || newJobCtrl.jobtype === 2">
                <div class="text-right col-md-4">Executor memory (MB) <i class="fa fa-info-circle" tooltip="The amount of memory, in MB, that should be requested for each Spark executor in this job." style="margin-left: 10px"></i></div>
                <div class="col-md-8"><input type="number" min="0" ng-model="newJobCtrl.runConfig.executorMemory" class="form-control"></div>
              </div>
              <!-- Flink -->
              <div class="row" ng-show="newJobCtrl.jobtype === 3">
                <div class="text-right col-md-4">Number of TaskManagers <i class="fa fa-info-circle" tooltip="The number of Flink TaskManagers that should be requested for this job." style="margin-left: 10px"></i></div>
                <div class="col-md-8"><input type="number" min="1" ng-model="newJobCtrl.runConfig.numberOfTaskManagers" class="form-control"></div>
              </div>
              <div class="row" ng-show="newJobCtrl.jobtype === 3">
                <div class="text-right col-md-4">Number of slots <i class="fa fa-info-circle" tooltip="The number of slots per TaskManager that should be requested for this job." style="margin-left: 10px"></i></div>
                <div class="col-md-8"><input type="number" min="1" ng-model="newJobCtrl.runConfig.slots" class="form-control"></div>
              </div>
              <div class="row" ng-show="newJobCtrl.jobtype === 3">
                <div class="text-right col-md-4">TaskManager memory (MB) <i class="fa fa-info-circle" tooltip="The amount of memory, in MB, that should be requested for each TaskManager." style="margin-left: 10px"></i></div>
                <div class="col-md-8"><input type="number" min="768" ng-model="newJobCtrl.runConfig.taskManagerMemory" class="form-control"></div>
              </div>
              <div class="row" ng-show="newJobCtrl.jobtype === 3">
                <div class="text-right col-md-4">Job Parallelism <i class="fa fa-info-circle" tooltip="In Flink programs, the parallelism determines how operations are split into individual tasks which are assigned to task slots. " style="margin-left: 10px"></i></div>
                <div class="col-md-8"><input type="number" min="1" ng-model="newJobCtrl.runConfig.parallelism" class="form-control"></div>
              </div>
              <div class="row" ng-show="newJobCtrl.jobtype === 3">
                <div class="text-right col-md-4">Job Type <i class="fa fa-info-circle" tooltip="Choose between Streaming or Batch job." style="margin-left: 10px"></i></div>
                <div class="col-md-1">
                    <select name="flinkjobtype" 
                            ng-options="flinkjobtype for flinkjobtype in newJobCtrl.flinkjobtype"
                            ng-model="newJobCtrl.runConfig.flinkjobtype" class="form-control">
                    </select>
                </div>
              </div>
            <!-- Add libraries -->
            <div>
              <h3>Libraries
                <button ng-click="newJobCtrl.selectFile('LIBRARY')" class="btn btn-info btn-link">
                  Add...
                </button>
                <i class="fa fa-info-circle" tooltip="Select jar files that should be added to the classpath for this job." style="margin-left: 10px"></i>
              </h3>
                <table class="table table-hover" ng-show="newJobCtrl.localResources.length > 0">
                    <thead>
                        <tr>
                    <th style="width: 20%">
                     <strong>Name</strong><i class="fa fa-info-circle" tooltip="The name of the jar as it will appear in the Yarn distributed cache. By default, the filename of the resource." style="margin-left: 10px"></i>  
                    </th>
                    <th style="width: 30%">
                      <strong>Path</strong> <i class="fa fa-info-circle" tooltip="The HDFS path to the selected jar file." style="margin-left: 10px"></i>
                    </th>
                    <th style="width: 10%">
                      <label class="control-label">Visibility</label>
                        <i class="fa fa-info-circle" tooltip="The Visibility of your Local Resource. Default is 'Public'." style="margin-left: 10px"></i>
                    </th> 
                    <th style="width: 10%">
                      <label class="control-label">Resource Type</label>    
                      <i class="fa fa-info-circle" tooltip="The Type of your Local Resource. Default is 'File'." style="margin-left: 10px"></i>
                    </th>
                    <th style="width: 30%">
                       <label class="control-label">Pattern</label>
                       <i class="fa fa-info-circle" tooltip="The Pattern of your Local Resource, provide it when 'Type' is 'Pattern'." style="margin-left: 10px"></i>

                    </th>
                    <th style="width: 10%">
                        <label class="control-label">Remove</label>
                    </th>
                    </tr>
                    </thead>
                  <!--Define localresource table columns -->
                <tbody ng-repeat="resource in newJobCtrl.localResources">
                    <tr>
                    <td>
                     {{resource.name}}
                    </td>
                    <td>
                      {{resource.path}}
                    </td>
                    <td>
                               <select name="visibility" ng-model="resource.visibility" ng-init="resource.visibility = 'public'">
                                 <option value="public">Public</option>
                                 <option value="private">Private</option>
                                 <option value="application">Application</option>
                               </select>
                    </td> 
                    <td>
                               <select name="type" ng-model="resource.type" ng-init="resource.type = 'file'">
                                 <option value="archive">Archive</option>
                                 <option value="file">File</option>
                                 <option value="pattern">Pattern</option>
                               </select>
                    </td>
                    <td >
                        <input type="text" ng-model="resource.pattern" ng-show="resource.type=='pattern'">
                    </td>
                      <td>
                       <i class="fa fa-times-circle" tooltip="Remove this library." ng-click="newJobCtrl.removeLibrary(resource.name)"></i>
                      </td>
                </tr>
                </tbody>               
            </table>
            <div>
              <!-- Creation button -->
              <button ng-click="newJobCtrl.createJob()" class="btn btn-warning">
                Create job
              </button>
            </div>
          </accordion-group>
        </accordion>
        <!-- /#page-content-wrapper -->
      </div>
    </section>
    <tour class="ng-scope" step="projectCtrl.tourService.currentStep_TourFour" post-tour="closeTour()" ng-if="projectCtrl.loadedView">
            <virtual-step
            class="ng-scope"
            tourtip="Click Next OR name the job yourself by typing in the field below"
            tourtip-step="0"
            tourtip-element="#inputJobName"
            tourtip-placement="top"
            tourtip-next-label="Next"
            on-proceed="newJobCtrl.nameFilledIn()"
            tourtip-offset-vertical="16"
            ></virtual-step>
            <virtual-step
            ng-hide="true"    
            class="ng-scope"
            tourtip="invisible"
            tourtip-step="1"
            ></virtual-step>
            <virtual-step
            class="ng-scope"
            tourtip="Click Next OR SPARK"
            tourtip-step="2"
            tourtip-element="#sparkJobType"
            tourtip-placement="bottom"
            tourtip-next-label="Next"
            on-proceed="newJobCtrl.jobTypeSpark()"
            tourtip-offset-vertical="-13"
            tourtip-offset-horizontal="-6"
            ng-if="newJobCtrl.accordion2.visible"
            ></virtual-step>
            <virtual-step
            ng-hide="true"    
            class="ng-scope"
            tourtip="invisible"
            tourtip-step="3"
            ></virtual-step>
            <virtual-step
            class="ng-scope"
            tourtip="Browse(select your own .jar) or let us choose one for you (Next)"
            tourtip-step="4"
            tourtip-element="#selectFileButton"
            tourtip-placement="bottom"
            tourtip-next-label="Next"
            on-proceed="newJobCtrl.onFileSelected('SPARK','hdfs://' + projectCtrl.endpoint + '/Projects/' + projectCtrl.currentProject.projectName + '/TestJob/spark-examples-1.6.1-hadoop2.4.0.jar')"
            tourtip-offset-vertical="-13"
            tourtip-offset-horizontal="-5"
            ng-if="newJobCtrl.accordion3.visible"
            ></virtual-step>
            <virtual-step
            ng-hide="true"    
            class="ng-scope"
            tourtip="invisible"
            tourtip-step="5"
            ></virtual-step>
            <virtual-step
            class="ng-scope"
            tourtip="Choose parameters on you own or click Next and let us choose for you"
            tourtip-step="6"
            tourtip-element="#chooseParametersAndArguments"
            tourtip-placement="top"
            tourtip-next-label="Next"
            on-proceed="newJobCtrl.chooseParameters()"
            tourtip-offset-vertical="10"
            ng-if="newJobCtrl.accordion4.visible"
            ></virtual-step>
            <virtual-step
            class="ng-scope"
            tourtip="Click the 'Configure and create' link for further configuration, otherwise click Create Job"
            tourtip-step="7"
            tourtip-element="#moreConfigs"
            tourtip-placement="top"
            tourtip-next-label="Create Job"
            on-proceed="newJobCtrl.createJob()"
            tourtip-offset-vertical="10"
            tourtip-offset-horizontal="-10"
            ng-if="newJobCtrl.accordion5.visible"
            ></virtual-step>
    </tour>
  </div>
  <!-- /#wrapper -->
</div>
