<!-- Create a new job -->
<link rel="stylesheet" href="styles/timeline.css">
<link rel="stylesheet" href="styles/cuneiform.css">
<div ng-controller="MainCtrl as mainCtrl">
  <div ng-include="'nav.html'"></div>


  <div id="wrapper" class="toggled" ng-controller="NewJobCtrl as newJobCtrl">
    <div class="overlay"></div>

    <div ng-include="'navProject.html'"></div>

    <section>
      <div class="content-wrapper">
        <h3 id="projectBread" style="display: none;"> {{ projectCtrl.currentProject.projectName}} / New job</h3>

        <div class="panel-header">
          <h2>New job definition 
            <i class="fa fa-times-circle" tooltip="Clear the current state." style="margin-left: 10px" ng-click="newJobCtrl.clear()" ng-hide="newJobCtrl.undoable"></i>
            <i class="fa fa-undo" tooltip="Restore the previous state." style="margin-left: 10px" ng-click="newJobCtrl.undoClear()" ng-show="newJobCtrl.undoable"></i>
          </h2>
        </div>
        <accordion close-others="false">
          <accordion-group heading="{{newJobCtrl.accordion1.title}} {{newJobCtrl.accordion1.value}}" is-open="newJobCtrl.accordion1.isOpen">
            <md-input-container style="height: 50px">
              <label for="jobname" style="color: black;">Job name</label>
              <input name="jobname" type="text" id="jobname"
                     ng-model="newJobCtrl.jobname" ng-change="newJobCtrl.nameFilledIn()"  autofocus>
            </md-input-container>
          </accordion-group>

          <!-- Select the type of job -->
          <accordion-group heading="{{newJobCtrl.accordion2.title}} {{newJobCtrl.accordion2.value}}" 
                           is-open="newJobCtrl.accordion2.isOpen" 
                           ng-show="newJobCtrl.accordion2.visible">
            <div class="btn-group">
              <!--<label class="btn btn-default" ng-model="newJobCtrl.jobtype" btn-radio="0" ng-change="newJobCtrl.jobTypeChosen()">Cuneiform</label>-->
              <label class="btn btn-default" ng-model="newJobCtrl.jobtype" btn-radio="1" ng-change="newJobCtrl.jobTypeChosen()">Spark</label>
              <label class="btn btn-default" ng-model="newJobCtrl.jobtype" btn-radio="2" ng-change="newJobCtrl.jobTypeChosen()">Adam</label>
            </div>
          </accordion-group>


          <!-- Select the main execution file -->
          <accordion-group heading="{{newJobCtrl.accordion3.title}} {{newJobCtrl.accordion3.value}}" 
                           is-open="newJobCtrl.accordion3.isOpen" 
                           ng-show="newJobCtrl.accordion3.visible">
            <!-- Cuneiform and Spark -->
            <button class="btn btn-default" ng-click="newJobCtrl.selectFile(newJobCtrl.getJobType())" ng-show="newJobCtrl.jobtype == 0 || newJobCtrl.jobtype == 1">
              <span>Select...</span>
            </button>
            <!-- ADAM -->
            <table ng-show="newJobCtrl.jobtype == 2">
              <tr ng-repeat="command in newJobCtrl.adamState.commandList">
                <td>
                  <button class="btn btn-default" ng-click="newJobCtrl.selectCommand(command.name)" style="width:100%">{{command.name}}</button> 
                </td>
                <td>
                  {{command.description}}
                </td>
              </tr>
            </table>
          </accordion-group>


          <!-- Set up the job details -->
          <accordion-group heading="{{newJobCtrl.accordion4.title}} {{newJobCtrl.accordion4.value}}" 
                           is-open="newJobCtrl.accordion4.isOpen" 
                           ng-show="newJobCtrl.accordion4.visible">
            <!-- Cuneiform -->
            <div ng-show="newJobCtrl.jobtype == 0">
              <div class="row">
                <div class="text-right col-md-4">
                  <strong>Parameter</strong> 
                  <i class="fa fa-info-circle" tooltip="The unbound input parameters to the selected workflow are given here. Enter a value to bind them." style="margin-left: 10px"></i>
                </div>
                <div class="col-md-8">
                  <strong>Value</strong>
                </div>
              </div>
              <div class="row" ng-repeat="param in newJobCtrl.runConfig.wf.inputParams">
                <div class="text-right col-md-4">{{param.name}}</div>
                <div class="col-md-8"> <input type="text" ng-model="param.value" class="form-control"></div>
              </div>
            </div>
            <!-- Spark -->
            <div ng-show="newJobCtrl.jobtype == 1">
              <div class="row">
                <div class="text-right col-md-4">Main class name <i class="fa fa-info-circle" tooltip="The name of the main class to run in the selected JAR file." style="margin-left: 10px"></i></div>
                <div class="col-md-8"><input type="text" ng-model="newJobCtrl.runConfig.mainClass" class="form-control"></div>
              </div>
              <div class="row">
                <div class="text-right col-md-4">Job arguments <i class="fa fa-info-circle" tooltip="The arguments to be passed to the main method of the class entered above." style="margin-left: 10px"></i></div>
                <div class="col-md-8"><input type="text" ng-model="newJobCtrl.runConfig.args" class="form-control"></div>
              </div>
            </div>
            <!-- Adam -->
            <div ng-show="newJobCtrl.jobtype == 2">
              {{newJobCtrl.runConfig.selectedCommand.description}}
              <div>
                <strong>Arguments</strong>
              </div>
              <div class="row" ng-repeat="arg in newJobCtrl.runConfig.selectedCommand.arguments">
                <div class="text-right col-md-4">
                  {{arg.name}} <span ng-show="arg.required">*</span> <i class="fa fa-info-circle" tooltip="{{arg.description}}" style="margin-left: 10px"></i>
                </div>
                <div class="col-md-8">
                  <input type="text" ng-model="arg.value" ng-hide="arg.path && !arg.value" ng-required="arg.required" class="form-control">
                  <button ng-show="arg.path && !arg.value" ng-click="newJobCtrl.selectFile('ADAM', arg)" class="btn btn-default">Select</button>
                </div>
              </div>

              <div>
                <strong>Options</strong>
              </div>
              <div class="row" ng-repeat="opt in newJobCtrl.runConfig.selectedCommand.options">
                <div class="text-right col-md-4">
                  {{opt.name}} <i class="fa fa-info-circle" tooltip="{{opt.description}}"></i>
                </div>
                <div class="col-md-8">
                  <input type="text" ng-model="opt.value" ng-hide="(opt.valueIsPath && !opt.value) || opt.flag" class="form-control">
                  <button ng-show="opt.valueIsPath && !opt.value" ng-click="newJobCtrl.selectFile('ADAM', opt)" class="btn btn-default">Select</button>
                  <label ng-show="opt.flag">
                    <input type="checkbox" ng-model="opt.value" class="form-control">
                  </label>
                </div>
              </div>
            </div>
          </accordion-group>
          <!-- Set some run configuration -->
          <accordion-group heading="{{newJobCtrl.accordion5.title}} {{newJobCtrl.accordion5.value}}" 
                           is-open="newJobCtrl.accordion5.isOpen" 
                           ng-show="newJobCtrl.accordion5.visible">
            <!-- Common -->
            <div>
              <div class="row">
                <div class="text-right col-md-4">Application master memory (MB) <i class="fa fa-info-circle" tooltip="The amount of memory, in MB, that should be requested for the Yarn Application Master container." style="margin-left: 10px"></i></div>
                <div class="col-md-8">
                  <input type="number" ng-model="newJobCtrl.runConfig.amMemory" min="0" class="form-control">
                </div>
              </div>
              <div class="row">
                <div class="text-right col-md-4">Application master vcores <i class="fa fa-info-circle" tooltip="The number of cores that should be requested for the Yarn Application Master container." style="margin-left: 10px"></i></div>
                <div class="col-md-8">
                  <input type="number" ng-model="newJobCtrl.runConfig.amVCores" min="1" class="form-control">
                </div>
              </div>
              <div class="row">
                <div class="text-right col-md-4">ResourceManager queue <i class="fa fa-info-circle" tooltip="The queue in the ResourceManager in which this application should be submitted." style="margin-left: 10px"></i></div>
                <div class="col-md-8">
                  <input type="text" ng-model="newJobCtrl.runConfig.amQueue" class="form-control">
                </div>
              </div>
              <!-- Spark -->
              <div class="row" ng-show="newJobCtrl.jobtype == 1">
                <div class="text-right col-md-4">Number of executors <i class="fa fa-info-circle" tooltip="The number of Spark executors that should be requested for this job." style="margin-left: 10px"></i></div>
                <div class="col-md-8"><input type="number" ng-model="newJobCtrl.runConfig.numberOfExecutors" class="form-control"></div>
              </div>
              <div class="row" ng-show="newJobCtrl.jobtype == 1">
                <div class="text-right col-md-4">Number of executor cores <i class="fa fa-info-circle" tooltip="The number of cores that should be requested for each Spark executor in this job." style="margin-left: 10px"></i></div>
                <div class="col-md-8"><input type="number" ng-model="newJobCtrl.runConfig.executorCores" class="form-control"></div>
              </div>
              <div class="row" ng-show="newJobCtrl.jobtype == 1">
                <div class="text-right col-md-4">Executor memory (MB) <i class="fa fa-info-circle" tooltip="The amount of memory, in MB, that should be requested for each Spark executor in this job." style="margin-left: 10px"></i></div>
                <div class="col-md-8"><input type="number" min="0" ng-model="newJobCtrl.runConfig.executorMemory" class="form-control"></div>
              </div>
            </div>
            <!-- Add libraries -->
            <div>
              <h3>Libraries
                <button ng-click="newJobCtrl.selectFile('LIBRARY')" class="btn btn-info btn-link">
                  Add...
                </button>
                <i class="fa fa-info-circle" tooltip="Select jar files that should be added to the classpath for this job." style="margin-left: 10px"></i>
              </h3>
              <div ng-show="newJobCtrl.localResources.entry.length > 0">
                <div class="row">
                  <div class="col-md-4">
                    <strong>Name</strong> <i class="fa fa-info-circle" tooltip="The name of the jar as it will appear in the Yarn distributed cache. By default, the filename of the resource." style="margin-left: 10px"></i>
                  </div>
                  <div class="col-md-8">
                    <strong>Path</strong> <i class="fa fa-info-circle" tooltip="The HDFS path to the selected jar file." style="margin-left: 10px"></i>
                  </div>
                  <div></div>
                </div>
                <div class="row" ng-repeat="jar in newJobCtrl.localResources.entry">
                  <div class="col-md-4">
                    <input type="text" ng-model="jar.key" class="form-control">
                  </div>
                  <div class="col-md-8">
                    {{jar.value}} <i class="fa fa-times-circle pull-right" tooltip="Remove this library." style="margin-left: 10px" ng-click="newJobCtrl.removeLibrary(jar)"></i>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <!-- Creation button -->
              <button ng-click="newJobCtrl.createJob()" class="btn btn-warning">
                Create job
              </button>
            </div>
          </accordion-group>
        </accordion>
        <!-- /#page-content-wrapper -->
      </div>
    </section>
  </div>
  <!-- /#wrapper -->
</div>