<div class="modal-header">
  <button class="close" ng-click="projectCreatorCtrl.close()" data-dismiss="modal" aria-hidden="true"
          type="button">&times;</button>
  <h2 class="modal-title">New project</h2>
</div>
<div class="modal-body">
  <div growl reference="1" class="pull-right" ></div>

  <form role="form" name="projectForm" ng-submit="projectCreatorCtrl.createProject()" novalidate class="form-validate">
    <div class="row">
      <div class="col-md-8">
        <fieldset>

          <div class="control-group col-md-offset-1">

            <md-input-container>
              <label for="projectname" style="color: black;">Name</label>
              <input name="project_name" type="text" id="projectname"
                     ng-model="projectCreatorCtrl.projectName"
                     required
                     >
            </md-input-container>

            <span
              ng-show="(projectForm.$submitted || projectForm.project_name.$dirty) &amp;&amp; projectForm.project_name.$error.required"
              class="text-danger ng-hide">This field is required</span>

            <p></p>

            <label for="projectname" class="control-label">Description</label>

            <div class="controls">
                        <textarea class="form-control" style="resize:none;" ng-model="projectCreatorCtrl.projectDesc"
                                  rows="3"></textarea>
            </div>


            <label style="margin-top:20px;" for="projectname" class="control-label">Members</label>

            <div class="controls">

              <ui-select ng-model="projectCreatorCtrl.card.selected" theme="select2"
                         style="min-width: 300px;">

                <ui-select-match placeholder="Add members...">{{$select.selected.email}}</ui-select-match>
                <ui-select-choices
                  repeat="card in projectCreatorCtrl.cards | cardFilter: {email: $select.search, firstname: $select.search, lastname: $select.search}">

                  <div ng-bind-html="projectCreatorCtrl.card.email | highlight: $select.search"></div>
                  <small>
                    <i class="fa fa-user-plus"></i>
                                    <span style="font-size: 14px;;"
                                          ng-bind-html="''+card.email | highlight: $select.search"></span>
                    <br/>
                    <span ng-bind-html="''+card.firstname | highlight: $select.search"></span>
                    <span ng-bind-html="''+card.lastname | highlight: $select.search"></span>
                  </small>
                </ui-select-choices>
              </ui-select>

              <div style="margin-top:10px; min-height:50px;" class="thumbnail ui-droppable">

                <button class="animate-repeat btn btn-info" style="margin: 3px;"
                        ng-repeat="member in projectCreatorCtrl.projectMembers"
                        ng-click="projectCreatorCtrl.removeMember(member)">
                  <span style="margin-right:10px;"> {{member}}</span>
                  <span class="close" style="float: none;">× </span>
                </button>

              </div>

            </div>


          </div>


        </fieldset>
      </div>


      <div class="col-md-4">
        <h3 style="margin-top: 40px; margin-left:40px; margin-bottom:0px">Services</h3>

        <fieldset>
          <div class="control-group col-md-offset-2">
            <md-checkbox class="md-primary"
                         ng-repeat="projectType in projectCreatorCtrl.projectTypes"
                         ng-click="projectCreatorCtrl.exists(projectType)">
              {{ projectType }}
            </md-checkbox>
          </div>


        </fieldset>
      </div>
    </div>


    <div class="modal-footer">

      <button class="btn btn-default" type="button" ng-click="projectCreatorCtrl.close()">Cancel</button>
      <button class="btn btn-primary" type="submit" ng-disabled="projectForm.project_name.$error.required">Create
      </button>

    </div>
  </form>

</div>

