<div class="wrapper">
  <div class="row-fluid">
    <div class="col-md-offset-4 col-md-4">
      <!-- START panel-->
      <div class="panel">
        <div class="panel-heading text-center">
          <a style="text-decoration:none; font-family: Lobster; font-size: 30px; margin-left: 5px; color: #fff;">HopsWorks
            <img alt="" style="margin-left:10px"
                 width="30"
                 src="images/hops.png">
          </a>
        </div>
        <div class="panel-body" >
          <p class="text-center">Scan the following image with your Google Authenticator App bar-code reader.</p>
          <div style="text-align: center">
            <img alt="QR code" ng-src="data:image/JPEG;base64,{{regCtrl.QR}}" width="200" height="200">
          </div>
          <br>
          <img alt="QR example" src="images/qrExample.png" style="width: 100%">             
          
        </div>
      <!-- END panel-->
      <br>
        <a href="#/login" class="btn btn-block btn-default">Ok</a>
      <div class="p-lg text-center">
      </div>
    </div>
  </div>
</div>
</div>
