<div class="wrapper">
  <div class="center-block" style="width: 320px;">
    <div class="panel ">
      <div class="panel-heading text-center">
        <a style="text-decoration:none; font-family: Lobster; font-size: 30px; margin-left: 5px; color: #fff;">HopsWorks
          <img alt="" style="margin-left:10px" width="30" src="images/hops.png">
        </a>
      </div>
      <div class="panel-body">
        <p class="text-center">Account Recovery</p>
        <form role="form" name="recoveryForm" ng-submit="recoverCtrl.send()" novalidate class="form-validate">
          <p class="text-center">Fill in your Email and the Security question and answer
            you supplied when you registered, and your new password will be mailed to you.
          </p>
          <div class="form-group has-feedback">
            <input id="recover_inputEmail"
                   class="form-control"
                   type="email"
                   required
                   ng-model="recoverCtrl.user.email"
                   autocomplete="off"
                   placeholder="Email"
                   name="user_email">
            <span class="fa fa-envelope form-control-feedback text-muted"></span>
            <span class="text-danger ng-hide" ng-show="(recoveryForm.$submitted || recoveryForm.user_email.$dirty) && recoveryForm.user_email.$error.required">This field is required</span>
            <span class="text-danger ng-hide" ng-show="(recoveryForm.$submitted || recoveryForm.user_email.$dirty) && recoveryForm.user_email.$error.email">This field must be a valid email address</span>
          </div>
          <div class="form-group has-feedback">
            <label class="text-muted">Security question</label>
            <select name="sec_question"
                    ng-model="recoverCtrl.user.securityQuestion"
                    required
                    class="form-control">
              <option value="">Select security question</option>
              <option ng-repeat="question in recoverCtrl.securityQuestions" value="{{question}}">{{question}}</option>
            </select>
            <span ng-show="(recoveryForm.$submitted || recoveryForm.sec_question.$dirty) &amp;&amp; recoveryForm.sec_question.$error.required"
                  class="text-danger ng-hide">This field is required</span>
          </div>
          <div class="form-group has-feedback">
            <label class="text-muted">Security answer</label>
            <input name="sec_answer" placeholder="Security answer" autocomplete="off"
                   ng-model="recoverCtrl.user.securityAnswer" required
                   class="form-control"
                   type="text">
            <span ng-show="(recoveryForm.$submitted || recoveryForm.sec_answer.$dirty) &amp;&amp; recoveryForm.sec_answer.$error.required"
                  class="text-danger ng-hide">This field is required</span>
          </div>

          <button class="btn btn-block btn-primary mt-lg" type="submit">Send</button>
        </form>
        <div ng-show="recoverCtrl.successMessage" class="alert  alert-success text-center ng-binding ng-hide">{{recoverCtrl.successMessage}}</div>
        <div class="alert alert-danger text-center ng-binding ng-hide" ng-show="recoverCtrl.errorMessage">{{recoverCtrl.errorMessage}}</div>
        <p class="pt-lg text-center">Remembered your password?</p>
        <a href="#/login" class="btn btn-block btn-default">Sign in</a>
      </div>
    </div>

  </div>
</div>
