<div class="wrapper">
  <div class="row-fluid">
    <div class="col-md-offset-4 col-md-4">
      <!-- START panel-->
      <div class="panel">
        <div class="panel-heading text-center">
          <a style="text-decoration:none; font-family: Lobster; font-size: 30px; margin-left: 5px; color: #fff;">HopsWorks
            <img alt="" style="margin-left:10px"
                 width="30"
                 src="images/hops.png">
          </a>
        </div>
        <div class="panel-body">
          <p class="text-center">SIGN UP TO GET ACCESS.</p>

          <form role="form" name="registerForm" ng-submit="regCtrl.register()" novalidate class="form-validate">
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group has-feedback">
                  <label class="text-muted">First Name</label>
                  <input name="first_name" placeholder="First Name" autocomplete="off"
                         ng-model="regCtrl.newUser.firstName" required class="form-control "
                         type="text">
                  <span ng-show="(registerForm.$submitted || registerForm.first_name.$dirty) &amp;&amp; registerForm.first_name.$error.required"
                        class="text-danger ng-hide">This field is required</span>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group has-feedback">
                  <label class="text-muted">Last Name</label>
                  <input name="last_name" placeholder="Last Name" autocomplete="off"
                         ng-model="regCtrl.newUser.lastName" required class="form-control "
                         type="text">
                  <span ng-show="(registerForm.$submitted || registerForm.last_name.$dirty) &amp;&amp; registerForm.last_name.$error.required"
                        class="text-danger ng-hide">This field is required</span>
                </div>
              </div>
            </div>
            <div class="row"> 
              <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group has-feedback">
                  <label class="text-muted">Email address</label>
                  <input name="user_email" placeholder="Email" autocomplete="off"
                         ng-model="regCtrl.newUser.email" required
                         class="form-control"
                         type="email">
                  <span class="fa fa-envelope form-control-feedback text-muted"></span>
                  <span ng-show="(registerForm.$submitted || registerForm.user_email.$dirty) &amp;&amp; registerForm.user_email.$error.required"
                        class="text-danger ng-hide">This field is required</span>
                  <span ng-show="registerForm.user_email.$dirty &amp;&amp; registerForm.user_email.$error.email"
                        class="text-danger ng-hide">This field must be a valid email address</span>
                </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group has-feedback">
                  <label class="text-muted">Phone Number</label>
                  <input name="phone_number" placeholder="Phone" autocomplete="on"
                         ng-model="regCtrl.newUser.telephoneNum"
                         ng-pattern="/^[+ 0]?\d{2}[- ]?\d{3}[- ]?\d{6}$/"
                         class="form-control "
                         type="text">
                  <span ng-show="registerForm.phone_number.$dirty &amp;&amp; registerForm.phone_number.$error.pattern"
                        class="text-danger ng-hide">Phone number should be in (000-000-000000) format.</span>
                </div>
                  </div>
            </div>
            
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group has-feedback">
                  <label class="text-muted">Password</label>
                  <input id="id-password" name="user_password"
                         ng-model="regCtrl.newUser.chosenPassword"
                         ng-minlength="6"
                         ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[\d\W]).*$/"
                         required
                         class="form-control"
                         type="password">
                  <span class="fa fa-lock form-control-feedback text-muted"></span>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group has-feedback">
                  <label class="text-muted">Confirm Password</label>
                  <input name="user_password_confirm" ng-model="regCtrl.newUser.repeatedPassword"
                         match="regCtrl.newUser.chosenPassword"
                         class="form-control" type="password">
                  <span class="fa fa-lock form-control-feedback text-muted"></span>               
                </div>
              </div>
            </div>
            <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12">
                    <span ng-show="(registerForm.$submitted || registerForm.user_password.$dirty) &amp;&amp; registerForm.user_password.$error.required"
                          class="text-danger ng-hide">This field is required</span>
                    <span ng-show="registerForm.user_password.$dirty &amp;&amp; registerForm.user_password.$error.minlength"
                          class="text-danger ng-hide">Password should be at least 6 characters long and should including one uppercase letter,
                        one special character and/or alphanumeric characters. </span>                 
                    <span ng-show="registerForm.user_password.$dirty &amp;&amp; registerForm.user_password.$error.pattern"
                          class="text-danger ng-hide">Password should be at least 6 characters long and should including one uppercase letter,
                        one special character and/or alphanumeric characters. </span>
                    <span ng-show="(registerForm.$submitted || registerForm.user_password_confirm.$dirty) &amp;&amp; registerForm.user_password_confirm.$invalid"
                          class="text-danger ng-hide">The two passwords you entered do not match</span>
                  </div>
            </div>
             <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group has-feedback">
                    <label class="text-muted">Security question</label>
                    <select name="sec_question" placeholder="Security question"
                          ng-model="regCtrl.newUser.securityQuestion" required
                          class="form-control ">
                    <option value="">Select security question</option>
                    <option ng-repeat="question in regCtrl.securityQuestions" value="{{question}}">{{question}}</option>
                    </select>
                    <span ng-show="(registerForm.$submitted || registerForm.sec_question.$dirty) &amp;&amp; registerForm.sec_question.$error.required"
                        class="text-danger ng-hide">This field is required</span>
                </div>
              </div>
               <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group has-feedback">
                  <label class="text-muted">Security answer</label>
                  <input name="sec_answer" placeholder="Security answer"
                         autocomplete="off"
                         ng-model="regCtrl.newUser.securityAnswer" required
                         class="form-control"
                         type="text">
                  <span ng-show="(registerForm.$submitted || registerForm.sec_answer.$dirty) &amp;&amp; registerForm.sec_answer.$error.required"
                        class="text-danger ng-hide">This field is required</span>
                </div>
              </div>
            </div>
            <div ng-if="regCtrl.otp === 'true'">
            <label class="text-muted">Authentication Choice</label>
            <hr style="margin-top: 0px">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12">
                <div class=" col-xs-6 col-sm-6 col-md-6 text-center">

                    <div class="form-group has-feedback">
                      <label class="col-xs-6 col-sm-6 col-md-6 text-muted" tooltip="This will allow you to use your mobile QR scanner for two-factor authentication.">
                        <input name="sec_type" type="radio" ng-model="regCtrl.newUser.authType"  value="Mobile" >
                        Mobile 
                      </label>
                      <label class="col-xs-6 col-sm-6 col-md-6 text-muted"
                             tooltip="A YubiKey is a small device that you can use for two-factor authentication.
                             This means the service will request proof that you have your YubiKey
                             in addition to your regular username and password.">
                        <input name="sec_type" type="radio" ng-model="regCtrl.newUser.authType" value="Yubikey">
                        Yubikey 
                      </label>                  
                      <span ng-show="(registerForm.$submitted) &amp;&amp; registerForm.sec_type.$error.required"
                            class="text-danger ng-hide">This field is required</span>
                    </div>
                  </div>
              </div>           
            </div>
          <!--Yubikey fields -->
          <div ng-if="regCtrl.newUser.authType === 'Yubikey'">
              <hr>
              <div class="row">
                  <div class="col-xs-12 col-sm-6 col-md-6">
                      <div class="form-group has-feedback">
                          <label class="text-muted">Organization*</label>
                          <input name="organization" placeholder="Organization" autocomplete="off"
                                 ng-model="regCtrl.newUser.organization" required class="form-control "
                                 type="text">
                  <span ng-show="(registerForm.$submitted || registerForm.organization.$dirty) &amp;&amp; registerForm.organization.$error.required"
                        class="text-danger ng-hide">This field is required</span>
                      </div>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-6">
                      <div class="form-group has-feedback">
                          <label class="text-muted">Department*</label>
                          <input name="department" placeholder="Department" autocomplete="off"
                                 ng-model="regCtrl.newUser.department" required class="form-control "
                                 type="text">
                  <span ng-show="(registerForm.$submitted || registerForm.department.$dirty) &amp;&amp; registerForm.department.$error.required"
                        class="text-danger ng-hide">This field is required</span>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-xs-12 col-sm-6 col-md-6">
                      <div class="form-group has-feedback">
                          <label class="text-muted">Street and number*</label>
                          <input name="street_number" placeholder="Street and number" autocomplete="off"
                                 ng-model="regCtrl.newUser.street_number" required class="form-control "
                                 type="text">
                  <span ng-show="(registerForm.$submitted || registerForm.street_number.$dirty) &amp;&amp; registerForm.street_number.$error.required"
                        class="text-danger ng-hide">This field is required</span>
                      </div>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-6">
                      <div class="form-group has-feedback">
                          <label class="text-muted">City*</label>
                          <input name="city" placeholder="City" autocomplete="off"
                                 ng-model="regCtrl.newUser.city" required class="form-control "
                                 type="text">
                  <span ng-show="(registerForm.$submitted || registerForm.city.$dirty) &amp;&amp; registerForm.city.$error.required"
                        class="text-danger ng-hide">This field is required</span>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-xs-12 col-sm-6 col-md-6">
                      <div class="form-group has-feedback">
                          <label class="text-muted">Postal Code*</label>
                          <input name="postal_code" placeholder="Postal Code" autocomplete="off"
                                 ng-model="regCtrl.newUser.postal_code" required class="form-control "
                                 type="text">
                  <span ng-show="(registerForm.$submitted || registerForm.postal_code.$dirty) &amp;&amp; registerForm.postal_code.$error.required"
                        class="text-danger ng-hide">This field is required</span>
                      </div>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-6">
                      <div class="form-group has-feedback">
                          <label class="text-muted">Country*</label>
                          <select id="country"
                                  name="country"
                                  placeholder="Select your country"
                                  class="form-control"
                                  ng-model="regCtrl.newUser.country"
                                  required>
                            <option value="">Select your country</option>
                            <option ng-repeat="country in regCtrl.countries" value="{{country.name}}">{{country.name}}</option>
                          </select>
                  <span ng-show="(registerForm.$submitted || registerForm.country.$dirty) &amp;&amp; registerForm.country.$error.required"
                        class="text-danger ng-hide">This field is required</span>
                      </div>
                  </div>
              </div>
          </div>
            <hr>
            </div>
            <div class="row">
              <div class="checkbox c-checkbox pull-left col-md-6">
                <label>
                  <input required="" name="user_agreed" ng-model="regCtrl.newUser.ToS"
                         type="checkbox">
                  <span class="fa fa-check"></span>I agree with the <a href=""
                                                                       data-target="#tosModal"
                                                                       data-toggle="modal">terms</a>
                </label>

                <div ng-show="(registerForm.$submitted || registerForm.user_agreed.$dirty) &amp;&amp; registerForm.user_agreed.$error.required"
                     class="text-danger ng-hide">You must agree to the terms
                </div>

              </div>
            </div>
            <div class="row">

              <div class="col-md-12">

                <button type="submit" class="btn btn-block btn-primary mt-lg" data-ng-disabled="regCtrl.working">Create account
                </button>
              </div>

            </div>
          </form>
          <div style="text-align: center" class="text-muted" ng-show="regCtrl.working">
            <i class="fa fa-spinner fa-spin"></i> 
            Registering your new account.
          </div>
          <div ng-show="regCtrl.successMessage" class="alert  alert-success text-center ng-binding ng-hide">{{regCtrl.successMessage}}</div>
          <div ng-show="regCtrl.errorMessage" class="alert alert-danger text-center ng-binding ng-hide">{{regCtrl.errorMessage}}</div>
          <p class="pt-lg text-center">Have an account?</p>
          <a href="#/login" class="btn btn-block btn-default">Sign in</a>
        </div>
      </div>
      <!-- END panel-->
      <div class="p-lg text-center">
      </div>
    </div>
  </div>
</div>
<modal id="tosModal" title="Terms & Conditions">
  <p><strong>Agreement</strong></p>

  <p> The BiobankCloud is a platform-as-a-service (PaaS) for the storage and analysis of digitized 
      genomic data. The platform provides secure storage and efficient analysis of large amounts of biomedical
      data as well as the inter-connection of Biobanks.
  </p>
  <b> Definitions</b>

    <ul>  
      <li>
        <i>User</i> – the data owner acting as the controller, the legally responsible party who uploads the data on the platform.
      </li>
      <li>
        <i>BiobankCloud platform</i> – the processor who processes the data on behalf of the controller
      </li>
      <li>
        <i>Ethics board or auditor</i> – party who is entrusted to monitor the processing conducted on
        the platform on behalf of the platform or on the user. 
      </li>
    </ul>


    <ol> 
      <li>
        <b>Legal basis for processing:</b>
        The law applicable to the processing of data is the law that applies in the country where the
        user is established, no matter where the data is processed.
        The user undertakes to strictly follow a research protocol and only act 
        within the limits of any given consent, alternatively any other legal ground within the applicable law, 
        for example a permission from an ethical review board to allow re-use of previously consented data.  
        In order to secure the abovementioned, the user is to provide evidence of research approval for each study 
        processed within the platform, according to the forms set out in the platform.

        <ul>
          <li>SRPA: Standard Research Project Approval</li>
          <li>SIAC: Standard Information About Consent</li>
          <li>SINC: Standard Information on Non-Consented data</li>
        </ul>
      </li>
      <br></br>

      <li>
        <b>Secrecy clause:</b>
        All personal data acquired by the Platform from the user shall only be used for the purposes of 
        this agreement and shall not be further processed or disclosed without the consent of the user.
        This does not preclude the platform from allowing access to auditing services under this agreement,
        or any legally binding requests for disclosure of personal data. 

      </li>
      <br></br>
      <li>
        <b>Transparency:</b>
        All processing of the data within the BioBankCloud platform is conducted by the 
        platform itself. If any subcontractors will be involved in the future, the BiobankCloud Platform 
        undertakes to inform the user in writing. If the user does not want to continue using the BiobankCloud 
        Platform services under these conditions, the platform will take care to end its services under controlled forms, 
        as set out in point 13. Termination of the contract. 
      </li>
      <br></br>

      <li>
        <b>Changes in the Services:</b>
        If in the future changes will be made in the service that requires the installation of new software, libraries or 
        hardware devices on the users systems, the BiobankCloud will inform the user about this, and in particular about its
        implications from a data protection and data security point of view.

        The user agrees to provide the data subjects with information on where the data is being processed, in the event the
        data subject would want his/her data erased or changed. 
      </li>
      <br></br>

      <li>
        <b>Purpose binding:</b> 
        The platform will process the data in accordance with the instructions of the user. The user instructs the platform to:
        a) provide the services, including detection, prevention and resolution of security and technical issues, and 
        b) respond to customers support requests. 
        The platform will only process the data of the user in accordance with this agreement and will not
        process the data for any other purposes.

      </li>
      <br></br>

      <li>
        <b>Data minimization:</b>
        The access to data within the platform is restricted in accordance to different roles
        established within the platform. The user may allocate different degrees of access the data depending on
        which role a person acting within the platform is being attributed.  

        Other than the user, roles are attributed to the platform as an administrator and to ethics board or auditor 
        who may monitor the processing conducted on the platform on behalf of the user or the platform. 
      </li>
      <br></br>

      <li>
        <b>Retention periods:</b>
        When uploading data to the platform, the user shall define a period of time under which the data is to be stored (retention period).
        The retention period should not be longer than necessary to conduct the storing and analyzing needed. 
        If the user has not taken action to remove the data when the retention period has elapsed, the platform will contact 
        the user and request that this is done. The user may prolong the retention period, but only if this is in accordance with 
        applicable law. If the user does not either remove the data or prolong the retention period, the platform shall take action to 
        remove the data from the platform. The user will be given due notice before any data is removed.
      </li>
      <br></br>

      <li>
        <b>Geographical limitations of processing the data:</b>
        All processing of data within the platform will take place within the geographical area of EEA, namely the 28 Member
        States of the EU (Austria, Belgium, Bulgaria, Croatia, Cyprus, Czech Republic, Denmark, Estonia, Finland, France, Germany, 
        Greece, Hungary, Ireland, Italy, Latvia, Lithuania, Luxembourg, Malta, Netherlands, Poland, Portugal, Romania, Slovakia, Slovenia, 
        Spain, Sweden, United Kingdom) and Iceland, Liechtenstein and Norway.

      </li>
      <br></br>

      <li>
        <b>Data security:</b> 
        The platform ensures that the technical security measures and organizational measures governing the processing of the data within
        the platform is to be carried out in accordance to high safety standards. 
        The platform ensures to keep the data of the user separated from all other users, within a secured space with limited access. 
        The user is obligated to handle all security credentials with care and must not under any circumstances share them with others. 
        The user and the platform are mutually obligated to immediately report any deviations from the proper functioning of the platform.
      </li>
      <br></br>

      <li>
        <b>Accountability:</b>
        The user is to provide full contact information, including name of responsible person and his/her affiliation. The user agrees
        to keep the information updated. 

        All processing of data within the cloud is to be recorded. The user and the platform are obligated to cooperate fully in order to ensure
        the fulfillment of this task. 
        An audit organ, either internal or external, may access the recordings of the processing. Both the user and the platform may require a report
        from the audit organ to ensure that all processing of the data has been carried out in accordance with this agreement. 

      </li>
      <br></br>

      <li>
        <b> Portability:</b> 
        The data model representing metadata about biobank, samples and studies is based on MIABIS 2.0, which ensures interoperability with data 
        collected within the BBMRI-ERIC. 
      </li>
      <br></br>

      <li>
        <b>Modification of the agreement:</b>
        The platform may not unilaterally change or amend any of the terms of this agreement. All proposed changes to the agreement must be presented 
        before the user in due time and cannot enter into force until accepted by the user. 
        The platform is to inform the user of all changes in form of amendments, improvements and updates of the technical functioning of the platform.
        Any changes that may involve a change in the terms of this agreement must be accepted by the user before being implemented, as set out above. 
      </li>
      <br></br>

      <li>
        <b> Termination of the services or agreement:</b>
        The user may at any time remove his/her data from the platform.
        The user may terminate the agreement unilaterally at any time. The platform is to ensure that all data has been removed from the platform, 
        including safety copies. 
        If the user does not abide by his/her obligations under this agreement, the platform may unilaterally terminate the agreement. The user will 
        be given notice of the platforms intention in due time. If the breach is not of a serious nature, the user may be given the opportunity to rectify the breach. 
        Information on processing of data collected for auditing purposes will be stored within the platform for a reasonable time after the agreement
        has been terminated. 
      </li>
    </ol>

</modal>
