
<div class="modal-header">
    <button class="close" ng-click="schemaCreateCtrl.close()" data-dismiss="modal" aria-hidden="true"
            type="button">&times;</button>
    <h2 class="modal-title">Enter Schema Details</h2>
</div>
<div growl reference="21" class="pull-right"></div>
<div class="modal-body">
    

    <form role="form" name="pickProjectForm" 
          ng-submit="schemaCreateCtrl.createSchema()" novalidate
          class="form-validate">                                                                                                                              
        <div class="view-info">
            <div class="col-md-12">
                <label class="control-label">Schema Name</label><br>
                <div class="col-sm-12">
                    <input type="text" class="form-control" id="schemaName" ng-model="schemaCreateCtrl.schemaName" placeholder="New Schema Name">
                </div>
            </div>
            <div ng-if="schemaCreateCtrl.schemaName_empty === -1" style="color: red">{{"Schema Name shouldn't be empty"}}</div>
            <div class="col-md-12">
                <label class="control-label">Version</label><br>
                <div class="col-sm-12">
                    <input type="text" class="form-control" id="schemaName" ng-model="schemaCreateCtrl.version" placeholder="version">
                </div>
            </div>
            <div class="col-md-12">
                <label class="control-label">Content</label><br>
                <div class="col-sm-12">
                    <textarea style="width: 807px; height: 303px;" type="text" class="form-control" id="schemaName" ng-model="schemaCreateCtrl.content" placeholder="schema content"></textarea>
                </div>
                
            </div>
            <div ng-if="schemaCreateCtrl.content_empty=== -1" style="color: red">{{"Content should not be empty"}}</div>
        </div>
        <div class="row"></div>
        <hr />
        <div class="modal-footer" style="padding-bottom: 1px; padding-right: 1px">

            <button class="btn btn-default" type="button" ng-click="schemaCreateCtrl.close()">Cancel</button>
            <button class="btn btn-primary" type="submit">
                Create
            </button>
        </div>
    </form>
</div>
