<div layout="colulmn">
  <div flex="70" style="padding:10%;">
    <div>
      <div class="widget-body">
        <div class="timeline clearfix">
          <div class="mid-line"></div>
          <div  class="time-header search">
            <p ng-bind-html="mainCtrl.searchReturned"></p>
            <div ng-show="mainCtrl.resultItems > 1" class="text-muted result">
              {{mainCtrl.resultItems}} results found.
            </div>
            <div ng-show="mainCtrl.resultItems === 1" class="text-muted result">
              {{mainCtrl.resultItems}} result found.
            </div>
          </div>
          <div ng-repeat="result in mainCtrl.searchResult| startFrom:(mainCtrl.currentPage - 1) * mainCtrl.pageSize | limitTo:mainCtrl.pageSize">

            <div class="right">
              <div class="r-arrow"></div>
              <div class="about-task">
                <div class="header">{{result.name}}
                  <small class="muted" ng-show="result.type === 'project' || result.type === 'ds'">
                    <div ng-click="mainCtrl.view(result.name, result.id, result.type)" class="pull-right btn btn-default btn-sm" >View</div>
                  </small>
                </div>
                <p ng-show="result.type === 'ds'" class="no-margin text-muted">
                  Dataset
                </p>
                <p ng-show="result.type === 'project'" class="no-margin text-muted">
                  Project
                </p>
              </div>
            </div>
          </div>
          <uib-pagination ng-show="mainCtrl.resultPages > 1"
                          total-items="mainCtrl.resultItems"
                          ng-model="mainCtrl.currentPage"
                          max-size="mainCtrl.pageSize"
                          items-per-page="5"
                          class="pagination-sm"
                          boundary-links="true">
          </uib-pagination>
        </div>
      </div>
    </div>
  </div>
  <div flex="5"></div>
  <div flex="25">
    

    <div class="panel panel-filter">
      <div class="panel-heading">
        <p>Filters</p>
        <button class="btn btn-lightgrey pull-right"
                style="height: 43px;margin-right: -16px;margin-top: -41px;width: 70px; border-radius: 0px;"
                ng-click="">
          <span style="margin-left:3px;">Apply</span>
        </button>
      </div>
      <div>
        <div class="form-group" style="padding-left: 2%; padding-right: 2%"><br>
          <div>
            <label class="muted">By Date</label>
            <br>
            <div class='input-group date' id='datetimepicker1'>
              <input type='text' class="form-control"/>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
          <br>
          <div>
            <label class="muted">By Size</label>
            <br>
            
            <div layout="row">
              <div flex="45">
                <label class="text-muted">from</label>
                <br>
                <input class="form-control" type="number" name="points" min="0" step="0.1" value="30">
              </div>
              <div flex="10"></div>
              <div flex="45">
                <label class="text-muted">to</label><br>
                <input type="number" name="points" min="0" step="0.1" value="30" class="form-control"/>
              </div>
            <br>
            </div>
          </div>
        </div>
      </div>
      <br>
      <!--<br>-->
      <div class="panel-footer">

      </div>
    </div>
  </div>
  <div flex="10"></div>
</div>