<!-- A file selection dialog. -->

<div class="modal-header">
  <button class="close" ng-click="selectFileCtrl.close()" data-dismiss="modal" aria-hidden="true"
          type="button">&times;</button>
  <h2 class="modal-title">Select file</h2>
</div>
<div class="modal-body">


  Select a file in the current project:

  <div class="table-responsive" style="overflow: hidden;" ng-controller="DatasetsCtrl as datasetsCtrl">
    
    <table class="table table-bordred table-hover" >
      <tbody ui-sortable ng-model="datasetsCtrl.files">
        <tr ng-repeat="file in datasetsCtrl.files"
            context-menu
            data-target="menu-{{ $index}}"
            ng-class="{ 'highlight': datasetsCtrl.selected === {{ $index}}, 'expanded' : expanded }"
            ng-dblclick="selectFileCtrl.dblClick(datasetsCtrl, file)"
            ng-click="selectFileCtrl.select(file.path); datasetsCtrl.select($index, file);"
            id="table-{{ $index}}">
          
          <td>
            <i ng-show="file.dir" class="glyphicon glyphicon-folder-close" style="padding-right: 10px; color: #757575;"></i>
            <i ng-show="!file.dir" class="glyphicon glyphicon-file" style="padding-right: 10px; color: #757575;"></i>
            {{file.name}}
          </td>
        </tr>
      </tbody>
    </table>
    <button ng-click="selectFileCtrl.confirmSelection()">Select</button>
  </div>
</div>

