<!-- HTML file for the Spark job running interface -->
<link rel="stylesheet" href="styles/timeline.css">
<link rel="stylesheet" href="styles/cuneiform.css">
<div ng-controller="MainCtrl as mainCtrl">
  <div ng-include="'nav.html'"></div>


  <div id="wrapper" class="toggled" ng-controller="SparkCtrl as sparkCtrl">
    <div class="overlay"></div>

    <div ng-include="'navProject.html'"></div>

    <section>
      <div class="content-wrapper">
        <h3 id="projectBread" style="display: none;"> 
          {{ projectCtrl.currentProject.projectName}} / Spark
        </h3>


        <!-- Page Content -->

        <div class="widget-body col-md-4">
          <h3> History </h3>
          <div class="timeline clearfix">
            <div class="mid-line"></div>

            <div ng-repeat="job in sparkCtrl.jobs">

              <div class="right" ng-click="sparkCtrl.selectJob(job)">
                <div class="r-arrow"></div>
                <div class="about-task">
                  <div class="header"> {{job.name}}
                    <small class="muted" ng-show="job.user">Run by {{job.user.fname + ' ' + job.user.lname}} on {{job.submissionTime}}
                    </small>
                  </div>
                  <p class="no-margin">
                    <span ng-show="job.state"> State: {{job.state}} </span>
                    <span ng-show="job.executionDuration">Took {{job.executionDuration}}ms.</span>
                    Logs:
                  <ul>
                    <li><a ng-click="" ng-show="job.stdoutPath">{{job.stdoutPath}}</a></li>
                    <li><a ng-click="" ng-show="job.stderrPath">{{job.stderrPath}}</a></li>
                  </ul>
                  Results:
                  <ul>
                    <li ng-repeat="result in job.jobOutputFileCollection" ng-show="job.jobOutputFileCollection"><a ng-click="">{{result.jobOutputFilePK.name}} </a></li>
                  </ul>
                  </p>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="widget-body col-md-4">
          <div class="timeline clearfix">

            <h3> Job </h3>
            <table>
              <tr>
                <td class="firstColumn">Select jar file </td>
                <td class="secondColumn">
                  <button ng-click="sparkCtrl.selectFile()">
                    <span>Select...</span>
                  </button>
                </td>
              </tr>
              <tr>
                <td class="firstColumn">Selected file </td>
                <td class="secondColumn">{{sparkCtrl.selectedJar}}</td>
              </tr>
            </table>

            <button ng-click="sparkCtrl.execute()">
              <span>Execute</span>
            </button>

            <div ng-show="sparkCtrl.sparkConfig">
              <h3>Job configuration</h3>
              <table>
                <tr>
                  <td class="firstColumn">Job name</td>
                  <td class="secondColumn"><input type="text" ng-model="sparkCtrl.sparkConfig.appName"></td>
                </tr>
                <tr>
                  <td class="firstColumn">Main class name</td>
                  <td class="secondColumn"><input type="text" ng-model="sparkCtrl.sparkConfig.mainClass"></td>
                </tr>
                <tr>
                  <td class="firstColumn">Job arguments</td>
                  <td class="secondColumn"><input type="text" ng-model="sparkCtrl.sparkConfig.args"></td>
                </tr>
                <tr>
                  <td class="firstColumn">Application master memory</td>
                  <td class="secondColumn"><input type="number" ng-model="sparkCtrl.sparkConfig.amMemory" min="0"></td>
                </tr>
                <tr>
                  <td class="firstColumn">Application master vcores</td>
                  <td class="secondColumn"><input type="number" ng-model="sparkCtrl.sparkConfig.amVCores" min="1"></td>
                </tr>
                <tr>
                  <td class="firstColumn">ResourceManager queue</td>
                  <td class="secondColumn"><input type="text" ng-model="sparkCtrl.sparkConfig.amQueue"></td>
                </tr>
              </table>
            </div>
          </div>
        </div>

        <div class="widget-body col-md-4">
          <div class="timeline clearfix">

            <h3>Selected job</h3>
            <div ng-show="sparkCtrl.job">
              <div class="about-task">
                <div class="header"> {{sparkCtrl.job.name}}
                  <small class="muted" ng-show="sparkCtrl.job.user">Run by {{sparkCtrl.job.user.fname + ' ' + sparkCtrl.job.user.lname}} on {{sparkCtrl.job.submissionTime}}
                  </small>
                </div>
                <p class="no-margin">
                  <span ng-show="sparkCtrl.job.state">State: {{sparkCtrl.job.state}}</span>
                  <span ng-show="sparkCtrl.job.executionDuration">Took {{sparkCtrl.job.executionDuration}}ms.</span>
                  Logs:
                <ul>
                  <li><a ng-click="" ng-show="sparkCtrl.job.stdoutPath">{{sparkCtrl.job.stdoutPath}}</a></li>
                  <li><a ng-click="" ng-show="sparkCtrl.job.stderrPath">{{sparkCtrl.job.stderrPath}}</a></li>
                </ul>
                Results:
                <ul>
                  <li ng-repeat="result in sparkCtrl.job.jobOutputFileCollection" ng-show="sparkCtrl.job.jobOutputFileCollection"><a ng-click="">{{result.jobOutputFilePK.name}} </a></li>
                </ul>
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- /#page-content-wrapper -->
      </div>
    </section>
  </div>
  <!-- /#wrapper -->
</div>