<div ng-controller="MainCtrl as mainCtrl">
    <div ng-include="'nav.html'"></div>
    <div id="wrapper" class="toggled">
        <div class="overlay"></div>

        <div ng-include="'navProject.html'"></div>

        <section>
            <div class="content-wrapper">
                <h3 id="projectBread" style="display: none;"> {{ projectCtrl.currentProject.projectName}} / Ssh Access</h3>
                <div growl reference="10" class="pull-right" ></div>
                <div class="row" style="margin: 10px">

                    ssh {{mainCtrl.email}}__{{projectCtrl.currentProject.projectName}}@{{mainCtrl.getHostname()}}
                </div>
            </div>
        </section>
    </div>
</div>