<div class="modal-header">
    <button class="close" ng-click="sshkeysCtrl.close()" data-dismiss="modal" aria-hidden="true"
            type="button">&times;</button>
    <h2 class="modal-title">Ssh Keys</h2>
</div>
<div class="modal-body" id="sshkeysModal">
    <div class="row">

        <div growl reference="1" class="pull-right"></div>

        <div class="col-xs-9 col-sm-9 col-md-9 pull-right">

            <accordion close-others="false">
                <accordion-group is-open="$scope.keys[$index].status"
                                 ng-repeat="key in $scope.keys track by $index">
                    <accordion-heading>
            <span class="col-xs-1 col-sm-1 col-md-1 col-lg-1 pull-left"
                  ng-click="$scope.keys[$index].status = !$scope.keys[$index].status">
              <i class="glyphicon"
                 ng-class="{'glyphicon-chevron-down': $scope.keys[$index].status, 'glyphicon-chevron-right': !$scope.keys[$index].status}"></i>

              <i class="fa fa-key"></i>

            </span>
                        <span class="col-md-8 col-lg-8">{{keys[$index].name}}</span>
            <span class="col-xs-1 col-sm-1 col-md-1 col-lg-1 text-center pull-right"
                  ng-click="removeSshKey(key.name)">
              <i class="glyphicon glyphicon-minus"></i>
            </span>
                        <br/>
                    </accordion-heading>
                    <span class="col-md-10 col-lg-12">{{keys[$index].publickey}}</span>

                </accordion-group>
            </accordion>


            <form method="post"
                  name="sshkeysForm"
                  ng-submit="sshkeysCtrl.addSshkey()"
                  class="form-validate"
                  novalidate>


                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="form-group has-feedback">
                            <label class="text-muted">Public Key</label>
                            <input name="sshkey" placeholder="Open SSH Public Key" autocomplete="off"
                                   ng-model="sshkeysCtrl.key.publicKey" required class="form-control "
                                   type="text">
              <span ng-show="(sshkeysForm.$submitted || sshkeysForm.key.publicKey.$dirty) &amp;&amp; sshkeysForm.key.publicKey.$error.required"
                    class="text-danger ng-hide">This field is required</span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-3 col-sm-3 col-md-3 pull-right">
                        <button type="submit" class="btn btn-block btn-primary mt-lg"
                                ng-disabled="sshkeysForm.$pristine || sshkeysCtrl.working">Add Key
                            <i ng-if="sshkeysCtrl.working" style="margin-top: 2px"
                               class="fa fa-spinner fa-spin pull-right"></i>
                        </button>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 pull-right">
                        <input type="button" class="btn btn-block btn-primary mt-lg" ng-click="sshkeysCtrl.reset()"
                               value="Reset" ng-disabled="sshkeysForm.$pristine"/>
                    </div>

                </div>
            </form>
        </div>
    </div>

</div>
