
<div class="modal-header">
    <button class="close" ng-click="viewSearchResultCtrl.close()" data-dismiss="modal" aria-hidden="true"
            type="button">&times;</button>
    <h2 class="modal-title">{{viewSearchResultCtrl.type}} Information</h2>
</div>
<div growl reference="21" class="pull-right"></div>
<div class="modal-body" ng-init="viewSearchResultCtrl.initProjectsList()">

    <form role="form" name="dataSetForm" ng-submit="viewSearchResultCtrl.sendRequest()" novalidate
          class="form-validate">
        <div class="view-info">
            <div ng-show="viewSearchResultCtrl.type === 'Project'" class="row">
                <div class="col-md-2" style="width: 20%">
                    <label class="control-label">Name :</label>
                    <label class="control-label">Created by :</label>
                    <label class="control-label">Description :</label>
                </div>
                <div class="col-md-10" style="width: 80%">
                    <label class="control-label text-muted">{{viewSearchResultCtrl.result.projectName}}</label><br>
                    <label class="control-label text-muted">{{viewSearchResultCtrl.result.owner}}</label><br>
                    <label class="control-label text-muted">{{viewSearchResultCtrl.result.description}}</label>
                </div>
            </div>
            <div ng-show="viewSearchResultCtrl.type === 'Dataset'" class="row">
                <div class="col-md-2" style="width: 20%">
                    <label class="control-label">Name :</label>
                    <label class="control-label">Project :</label>
                    <label class="control-label">Template :</label>
                    <label class="control-label">Description :</label>
                </div>
                <div class="col-md-10" style="width: 80%">
                    <label class="control-label text-muted">{{viewSearchResultCtrl.result.name}}</label><br>
                    <label class="control-label text-muted">{{viewSearchResultCtrl.result.projectName}}</label><br>
                    <label class="control-label text-muted">{{viewSearchResultCtrl.result.template}}</label><br>
                    <label class="control-label text-muted">{{viewSearchResultCtrl.result.description}}</label>
                </div>
            </div>
            <br>
            <div class="panel panel-default" id="panel1">
                <div class="panel-heading" style="background: #f5f5f5">
                    <h4 class="panel-title" style="color: black">
                        <a data-toggle="collapse" data-target="#moreInfo">
                            More Information
                        </a>
                    </h4>
                </div>
                <div id="moreInfo" class="panel-collapse"><br>
                <div class="row">
                  <div class="col-md-6">
                      <label class="control-label">Members:</label>
                      <div class="scroll">
                          <ul type="none">
                              <li style=" border-bottom: 1px solid #e6e6e6;" ng-repeat="member in viewSearchResultCtrl.result.projectTeam">
                                <div ng-show="viewSearchResultCtrl.type === 'Project'">
                                  <span>Name : </span><span class="text-muted"> {{member.user.fname}} {{member.user.lname}} </span><br>
                                  <span>Role :</span> <span class="text-muted"> {{member.teamRole}}</span><br>
                                  <span>email :</span><span class="text-muted"> {{member.user.email}}</span>
                                </div>
                                <div ng-show="viewSearchResultCtrl.type === 'Dataset'">
                                  <span>Name : </span><span class="text-muted"> {{member.firstname}} {{member.lastname}} </span><br>
                                  <span>email :</span><span class="text-muted"> {{member.email}}</span>
                                </div>
                              </li>
                          </ul>
                      </div>
                      <p><span class="glyphicon glyphicon-info-sign"></span> {{viewSearchResultCtrl.infoMembers}} </p>
                  </div>
                  <div class="col-md-6">
                      <div ng-show=" viewSearchResultCtrl.type === 'Project'">
                          <label class="control-label">Datasets:</label>
                          <div class="scroll">
                              <ul type="none">
                                  <li style=" border-bottom: 1px solid #e6e6e6;" ng-repeat="dataset in viewSearchResultCtrl.result.datasets">
                                      Name : <span class="text-muted"> {{dataset.name}}</span><br>
                                      Project : <span class="text-muted"> {{dataset.owningProjectName}}</span><br>
                                      Description : <span class="text-muted"> {{dataset.description}}</span>
                                  </li>
                              </ul>
                          </div>
                      </div>
                      <div ng-show="viewSearchResultCtrl.type === 'Dataset'">
                          <label class="control-label">Shared with:</label>
                          <div class="scroll">
                              <ul type="none">
                                  <li style=" border-bottom: 1px solid #e6e6e6;" ng-repeat="project in viewSearchResultCtrl.result.sharedWith">
                                      Project : <span class="text-muted"> {{project}}</span><br>
                                  </li>
                              </ul>
                          </div>
                      </div>
                      <p><span class="glyphicon glyphicon-info-sign"></span> {{viewSearchResultCtrl.infoDS}} </p>
                  </div>
            </div>
           </div>
            </div>
            <div ng-if="viewSearchResultCtrl.type === 'Dataset'" class="col-xs-9" style="padding-left: 0px">
              <label class="text-muted control-label">Projects</label>
              <ui-select name="project_name" theme="select2"
                           ng-model="viewSearchResultCtrl.request.projectId" style="min-width: 300px;" required>

                    <ui-select-match placeholder="Select a project this dataset will be shared with">{{$select.selected.project.name}}</ui-select-match>

                    <ui-select-choices repeat="item.project.id as item in viewSearchResultCtrl.projects | filter: $select.search">
                        <div ng-bind-html="item.project.name | highlight: $select.search"></div>
                        <small>
                            Owner: {{item.project.owner.fname}} {{item.project.owner.lname}}
                        </small>
                    </ui-select-choices>

                </ui-select><br>
              <span ng-show="(dataSetForm.$submitted || dataSetForm.project_name.$dirty) &amp;&amp;
                    dataSetForm.project_name.$error.required"
                    class="text-danger ng-hide">
                  Choose a project this dataset will be shared with.
              </span>
            </div>
        </div>
        <br ng-show="viewSearchResultCtrl.type === 'Dataset'" style="margin:15px">
        <div class="modal-footer" style="padding-bottom: 1px; padding-right: 1px">

            <button class="btn btn-default" type="button" ng-click="viewSearchResultCtrl.close()">Cancel</button>
            <button class="btn btn-primary" type="submit" ng-disabled="dataSetForm.project_name.$error.required">
                Send {{viewSearchResultCtrl.requestType}} request
            </button>

        </div>
    </form>

</div>
