<div ng-controller="ProjectCtrl as projectCtrl">
    <div ng-controller="MainCtrl as mainCtrl">
        <div ng-include="'nav.html'"></div>
        <div id="wrapper" class="toggled">
            <div class="overlay"></div>
            <div ng-controller="MetadataCtrl as metadataCtrl">
                <div ng-controller="DatasetsCtrl as datasetsCtrl">

                    <div ng-include="'navProject.html'"></div>
                    <div class="content-wrapper">
                        <!--<h3>-->
                            <div class="col-lg-3" style="margin-top: -17px; margin-left: 13px;">
                                <button class="btn btn-sm btn-info" ng-click="projectCtrl.goToWorklows()" uib-dropdown-toggle type="button" id="newWorkflow" aria-haspopup="true" aria-expanded="true">
                                    Back
                                </button>
                            </div>
                            <div class="col-lg-3 pull-right" style="margin-top: -17px; margin-left: 13px;">
                                <div ng-controller="WorkflowExecutionCtrl as workflowExecutionCtrl">
                                    <button class="btn btn-sm btn-success pull-right" ng-click="workflowExecutionCtrl.create()" uib-dropdown-toggle="" type="button" id="newExecution" aria-haspopup="true" aria-expanded="true">
                                        Run
                                    </button>
                                </div>
                            </div>
                        <!--</h3>-->
                    </div>

                    <div id="workflow">
                        <div id="options" style="overflow:scroll;">
                            <form class="form-horizontal">
                            </form>
                        </div>

                        <div id="cy" class="cy"></div>
                        <div id="navigator" class="cytoscape-navigator mouseover-view"></div>
                        <div class="modal fade" id="hdfsViewer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>