<div class="wrapper">
  <div class="row-fluid">
    <div class="col-md-offset-4 col-md-4">
      <!-- START panel-->
      <div class="panel">
        <div class="panel-heading text-center">
          <a style="text-decoration:none; font-family: Lobster; font-size: 30px; margin-left: 5px; color: #fff;">HopsWorks
            <img alt="" style="margin-left:10px"
                 width="30"
                 src="images/hops.png">
          </a>
        </div>
        <div class="panel-body" >
          <p class="text-center">A yubikey device will be sent to your address. Please validate your email address sent to your email.</p>
        </div>
      <!-- END panel-->
      <br>
        <a href="#/login" class="btn btn-block btn-default">Sign in</a>
      <div class="p-lg text-center">
      </div>
    </div>
  </div>
</div>
</div>
