<link rel="stylesheet" href="styles/nav.css">
<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>


<div ng-controller="MainCtrl as mainCtrl">

  <nav class="navbar navbar-default navbar-sics navbar-fixed-top">
    <div class="container-fluid">

      <div growl class="pull-right"></div>

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#/" style="font-family: Lobster; font-size: 30px; margin-left: 5px; color: #fff;">HopsWorks
          <img class="pull-right" style="margin-left:10px" width="30" src="http://www.mc-boden.se/hops.png"/>
        </a>
      </div>
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="nav navbar-nav navbar-right"
            style="font-family: Varela Round; font-weight: bold; margin-right:10px;">

          <!--
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Settings <span
              class="caret"></span></a>

            <ul class="dropdown-menu" role="menu">
              <li><a href="#/" data-target="#profileModal" data-toggle="modal">My profile</a></li>
              <li class="divider"></li>
              <li><a href="#" ng-click="mainCtrl.logout()">Logout</a></li>
            </ul>

          </li>
          -->


          <li class="dropdown">

            <a class="dropdown-toggle" style="padding:7px 0 8px 10px;" data-toggle="dropdown" role="button"
               aria-expanded="false">

              <img src="http://gravatar.com/avatar/f7b87f83afcba880c6300e1e4e4a8790"
                   style="height: 35px; margin-right: 10px;border: 2px solid white;" class="profile-image img-circle">
              {{mainCtrl.email}} <b class="caret"></b></a>

            <ul class="dropdown-menu">
              <li><a data-target="#profileModal" data-toggle="modal"><i class="fa fa-cog"></i> Account</a></li>
              <li class="divider"></li>
              <li><a href="#/" ng-click="mainCtrl.logout()"><i class="fa fa-sign-out"></i> Sign out</a></li>
            </ul>

          </li>


        </ul>



          <form class="navbar-form" role="search">

            <div class="col-md-offset-2 col-md-4 input-group">

              <input type="text" class="form-control" style="height: 28px;margin-top: 3px;" placeholder="Search"
                     name="srch-term" id="srch-term">

              <div class="input-group-btn" style="width: 54px;">
                <button class="btn btn-default" style="color: #028e9b;margin-top: 3px; padding: 6px 12px;"
                        type="submit">
                  <i class="glyphicon glyphicon-search"></i></button>
              </div>

            </div>


          </form>


      </div>
    </div>
  </nav>


  <modal id="profileModal" title="Profile">
    <div ng-include="'views/profile.html'"></div>
  </modal>


</div>







