<aside class="offsidebar">
  <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation" style="margin-top:50px;">

    <ul class="nav sidebar-nav">

      <li style="background: #1a1a1a;">
        <a href="#/project/{{projectCtrl.currentProject.projectId}}" class="text-center">
          {{ projectCtrl.currentProject.projectName | limitTo: 17 }}{{projectCtrl.currentProject.projectName.length > 17
          ? '...' : ''}}
        </a>
      </li>
      
      <li ng-click="projectCtrl.goToService('Zeppelin')" ng-show="projectCtrl.showZeppelin()">
        <a>
          Zeppelin <img class="pull-right" style="margin-left:10px" width="30" src="images/zeppelin_logo.png"/>
        </a>
      </li>
      
      <li ng-click="projectCtrl.goToJobs()" ng-show="projectCtrl.showJobs()">
        <a>
          Jobs <span class="sub_icon fa fa-cogs fa-lg pull-right"></span>
        </a>
      </li>

<!--      <li ng-click="projectCtrl.goToSsh()" ng-show="projectCtrl.showSsh()">
        <a>
          Ssh <span class="sub_icon fa fa-terminal fa-lg pull-right"></span>
        </a>
      </li>-->

      <li ng-click="projectCtrl.goToCharon()" ng-show="projectCtrl.showCharon()">
        <a>
          Charon<span class="sub_icon fa fa-cloud-upload fa-lg pull-right"></span>
        </a>
      </li>
      
      <li ng-click="projectCtrl.goToBiobanking()" ng-show="projectCtrl.showBiobanking()">
        <a>
          Consents<span class="sub_icon fa fa-medkit fa-lg pull-right"></span>
        </a>
      </li>

      <li ng-click="projectCtrl.goToDatasets()">
        <a>
          Data Sets<span class="sub_icon fa fa-folder-open fa-lg pull-right"></span>
        </a>
      </li>

      <li ng-click="projectCtrl.projectSettingModal()" style="margin-top:40px;">
        <a>
          Settings <span class="sub_icon fa fa-dashboard fa-lg pull-right"></span>
        </a>
      </li>

      <li ng-click="projectCtrl.membersModal()">
        <a>
          Members <span class="sub_icon fa fa-users fa-lg pull-right"></span>
        </a>
      </li>
    </ul>
  </nav>
</aside>
