<!-- Item template -->
<div as-sortable-item-handle>
  <div class="row" style="width: 60em;">

    <div class="col-md-12">

      <span editable-text="card.title"
            style="font-size: 16px;"
            onaftersave="datasetsCtrl.storeTemplate(false)"
            class="column-title ng-binding">
        {{card.title}}
        <span ng-show="card.required"
              class="asteriskRed glyphicon glyphicon-asterisk"
              title="required field"></span>
      </span>

      <input type="text"
             ng-show="card.editing"
             ng-model="card.title"
             ng-blur="doneEditing(card)"
             ng-enter="doneEditing(card)"
             ng-focus="card == editedItem"/>
    </div>
  </div>

  <div class="row" style="margin-top: 10px; margin-bottom: 0px; height: 20px;">

    <div class="col-md-2">

      <a data-no-drag
         class="removeButton pull-left btn btn-xs"
         tooltips
         title="delete card"
         ng-click="datasetsCtrl.checkDeleteField(column, card)">
        <span class="glyphicon glyphicon-remove"></span></a>
    </div>

    <div class="col-md-2" style="padding-left:0px; width: 19%">

      <!-- experiment starts here -->
      <!-- add a find button in each card. Means that the card/attribute is going to be searchable -->
      <a data-no-drag class="pull-left btn btn-xs">
        <span class="searchable-{{card.find}} glyphicon glyphicon-search"
              ng-click="datasetsCtrl.makeSearchable(card)"
              tooltips title="make a card available to search"> find</span></a>
    </div>

    <div class="col-md-2" style="padding-left:0px; width: 19%">

      <a data-no-drag class="pull-left btn btn-xs">
        <span class="required-{{card.required}} glyphicon glyphicon-asterisk"
              ng-click="datasetsCtrl.makeRequired(card)"
              tooltips title="required field"> req</span></a>
    </div>


    <div class="col-md-2" style="padding-left:0px; width: 23%">

      <div ng-if="card.fieldtypeid === 1">
        <a data-no-drag
           class="pull-left btn btn-xs"
           ng-click="datasetsCtrl.editSizeField(card)"
           ng-show="!card.sizefield.showing">
          <span class="glyphicon glyphicon-chevron-right"
                tooltips
                title="data field max length"> length</span></a>

        <a data-no-drag class="pull-left btn btn-xs"
           ng-click="datasetsCtrl.doneEditingSizeField(card)"
           ng-show="card.sizefield.showing">
          <span class="glyphicon glyphicon-chevron-down"
                tooltips
                title="data field max length"> length</span></a>

        <input size="10"
               id="sizeFieldInput"
               type="text"
               ng-show="card.sizefield.showing"
               ng-model="card.sizefield.value"
               ng-blur="datasetsCtrl.doneEditingSizeField(card)"
               ng-enter="doneEditingSizeField(card)"
               ng-focus="card == editedField"/>

      </div>
    </div>

    <!--class = "cardMaxSize-{{card.size}}"-->
    <div class="col-md-2" style="padding-left:0px; width: 20%">

      <a data-no-drag
         class="pull-left btn btn-xs"
         ng-click="datasetsCtrl.modifyField(column, card)">
        <span class="glyphicon glyphicon-edit"
              tooltips
              title="modify field"> edit</span></a>
    </div>
  </div>

</div>