
<form ng-submit="modifyFieldCtrl.modifyField()" class="noMargin" name="modifyFieldForm">
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title">Modify field '{{modifyFieldCtrl.fieldName}}'</h4>
  </div>

  <div class="modal-body">

    <div class="form-group">
      <label class="control-label" ng-show="modifyFieldCtrl.existingRawData">
        <font color="red">This field contains actual data. You cannot modify its definition</font>
      </label>
      <p></p>

      <label class="control-label" ng-disabled="modifyFieldCtrl.existingRawData === true" for="fieldName">Field name</label>
      <div>
        <input type="text" id="fieldName" ng-disabled="modifyFieldCtrl.existingRawData === true" placeholder="Name of the field" ng-model="modifyFieldCtrl.fieldName" required
               focus-me class="cardInputs form-control"/>
      </div>

      <label class="control-label" ng-disabled="modifyFieldCtrl.existingRawData === true" for="fieldDescription">Field description</label>
      <div>
        <input type="text" id="fieldDescription" ng-disabled="modifyFieldCtrl.existingRawData === true" placeholder="Description of the field" ng-model="modifyFieldCtrl.fieldDescription" required
               focus-me class="cardInputs form-control"/>
      </div>

      <p></p>
      <div>
        <label ng-disabled="modifyFieldCtrl.existingRawData === true" class="control-label">Field type: </label>
        <label ng-disabled="modifyFieldCtrl.existingRawData === true">This field is a {{modifyFieldCtrl.fieldType}}</label>
        <br>
        <label ng-disabled="modifyFieldCtrl.existingRawData === true">{{modifyFieldCtrl.fieldTypeValues}}</label>
      </div>

      <label class="control-label" ng-disabled="modifyFieldCtrl.existingRawData === true" for="newCardType">New field type</label>
      <div>
        <ui-select  ng-disabled="modifyFieldCtrl.existingRawData === true"
                    ng-model="modifyFieldCtrl.selectedItem" theme="select2"
                    on-select="modifyFieldCtrl.update()" style="min-width: 130px;">

          <ui-select-match placeholder="Select a field type...">{{$select.selected.name}}</ui-select-match>

          <ui-select-choices repeat="item in modifyFieldCtrl.items | filter: $select.search">
            <small>
              <span ng-bind-html="'' + item.name"></span>
            </small>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>

    <div class="">
      <fieldset ng-disabled="modifyFieldCtrl.existingRawData === true">
        <label class="control-label" ng-if="modifyFieldCtrl.selectedItem.id === 1" 
               for="maxCharSize">Number of characters</label>

        <span ng-if="modifyFieldCtrl.selectedItem.id === 1">
          <input size="10"
                 id="sizeFieldInput"
                 type="text"
                 tooltip="You can set the maximum number of characters this field will accept"
                 ng-model="modifyFieldCtrl.card.sizefield.value"
                 ng-blur="metadataCtrl.doneEditingSizeField(modifyFieldCtrl.card)"
                 ng-enter="metadataCtrl.doneEditingSizeField(card)"
                 ng-focus="modifyFieldCtrl.card == metadataCtrl.editedField"/>
        </span>
      </fieldset>
      <fieldset ng-disabled="modifyFieldCtrl.existingRawData === true" data-ng-repeat="choice in modifyFieldCtrl.fieldSelectItems">
        <input type="text" ng-model="choice.value" name="" placeholder="Enter a value">
        <button type="button" class="glyphicon glyphicon-plus" ng-show="$last" ng-click="modifyFieldCtrl.addNewSelectChoice(1)"></button>
        <button type="button" class="glyphicon glyphicon-minus" ng-show="$last" ng-click="modifyFieldCtrl.removeSelectChoice(1)"></button>   
      </fieldset>

      <fieldset ng-disabled="modifyFieldCtrl.existingRawData === true" data-ng-repeat="choice in modifyFieldCtrl.multiSelectItems">
        <input type="text" ng-model="choice.value" name="" placeholder="Enter a multi-select value">
        <button type="button" class="glyphicon glyphicon-plus" ng-show="$last" ng-click="modifyFieldCtrl.addNewSelectChoice(2)"></button>
        <button type="button" class="glyphicon glyphicon-minus" ng-show="$last" ng-click="modifyFieldCtrl.removeSelectChoice(2)"></button> 
      </fieldset>
    </div>
  </div>

  <div class="modal-footer" style="padding-top: 15px;">
    <button type="button" class="btn btn-default" ng-click="modifyFieldCtrl.cancel()">Close</button>
    <button type="button" class="btn btn-primary" ng-disabled="existingRawData === true" ng-click="modifyFieldCtrl.modifyField()">Save changes</button>
  </div>
</form>
