<!-- New Card template -->

<form ng-submit="saveCard()" class="noMargin" name="newCardForm">
  <div class="modal-header">


    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h2 class="modal-title" ng-model="columnName">Add New Field in '{{currentColumn.name}}'</h2>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label class="control-label" for="newFieldTitle">Field title</label>
      <div>
        <input type="text" id="newFieldTitle" placeholder="Title on a field" ng-model="title" required
               focus-me class="cardInputs form-control" ng-keyup="hitEnter($event)"/>
      </div>

      <label class="control-label" for="newFieldDescription" style="margin-top: 20px;">Field Description</label>
      <div>
        <input type="text" id="newFieldDescription" placeholder="Description of a field" ng-model="description" required
               focus-me class="cardInputs form-control"/>
      </div>

      <label class="control-label" for="newFieldType" style="margin-top: 20px;">Field Type</label>
      <div>
        <select id="newFieldType" ng-model="selectedItem" ng-change="update()" ng-options="item as item.name for item in items"></select>
      </div>
    </div>

    <div class="">
      <fieldset  data-ng-repeat="choice in fieldSelectItems">
        <input type="text" ng-model="choice.value" name="" placeholder="Enter a value">
        <button type="button" class="glyphicon glyphicon-plus" ng-show="$last" ng-click="addNewSelectChoice()"></button>
        <button type="button" class="glyphicon glyphicon-minus" ng-show="$last" ng-click="removeSelectChoice()"></button>
      </fieldset>

      <fieldset  data-ng-repeat="choice in yesNoItems">
        <input type="text" ng-model="choice.value" name="" placeholder="Enter a yes/no choice">
      </fieldset>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
    <button type="button" class="btn btn-primary" ng-click="saveCard()">Add</button>
  </div>
</form>
