<form ng-submit="createNewList()" class="noMargin" name="newListForm">
  <div class="modal-header">
    <button type="button" class="close" ng-click="close()">&times;</button>
    <h4 class="modal-title" ng-model="columnName">Add a new table</h4>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label class="control-label" for="newListName">Table name</label>

      <div>
        <input type="text" id="newListName" placeholder="Table name" ng-model="name" required
               focus-me class="cardInputs form-control"/>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="close()">Close</button>
    <button type="submit" class="btn btn-primary">Add</button>
  </div>
</form>
