.resizable {
  position: relative;
}
.resizable.no-transition {
  transition: none !important;
}

.rg-right, .rg-left, .rg-top, .rg-bottom, .rg-bottom-datasets {
  display: block;
  width: 14px;
  height: 14px;
  line-height: 14px;
  position: absolute;
  z-index: 1;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  background: transparent;
}
.rg-right span, .rg-left span, .rg-top span, .rg-bottom span, .rg-bottom-datasets span {
  position: absolute;
  box-sizing: border-box;
  display: block;
  border: 1px solid #ccc;
}

.rg-right span, .rg-left span {
  border-width: 0 1px;
  top: 50%;
  margin-top: -10px;
  margin: -10px 0 0 3.5px;
  height: 20px;
  width: 7px;
}

.rg-top span, .rg-bottom span, rg-bottom-datasets span {
  border-width: 1px 0;
  left: 50%;
  margin: 3.5px 0 0 -10px;
  width: 20px;
  height: 7px;
}

.rg-top {
  cursor: row-resize;
  width: 100%;
  top: 0;
  left: 0;
  margin-top: -14px;
}

.rg-right {
  cursor: col-resize;
  height: 100%;
  right: 0;
  top: 0;
  margin-right: -14px;
}

.rg-bottom {
  cursor: row-resize;
  width: 100%;
  bottom: 0;
  left: 0;
  margin-bottom: -14px;
  z-index: 3;
  background: #eee;
}

.rg-left {
  cursor: col-resize;
  height: 100%;
  left: 0;
  top: 0;
  margin-left: -14px;
}
.content {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-content: space-around;
    padding: 7px;
    background: none repeat scroll 0 0 #eee;
    color: #555;
}
.rg-row-top {
    background:#fff;
    border-radius: 3px;
    margin-left: 9px;
    margin-right: 9px;
    padding: 10px;
    border: 1px solid transparent; 
    height: 70%; 
    max-height: 90%; 
    min-height: 40%;
    z-index: 2;
}

.rg-row-top-min {
    background:#fff;
    border-radius: 3px;
    margin-left: 9px;
    margin-right: 9px;
    padding: 10px;
    border: 1px solid transparent; 
    height: 70%; 
    max-height: 90%; 
    min-height: 30%;
    z-index: 2;
}

.rg-row-bottom {
    flex: 1;
    margin-top: 14px;
    border-radius: 3px;
    margin-left: 9px;
    margin-right: 9px;
    padding: 10px;
    background:#fff;
    border: 1px solid transparent;
    z-index: 3;
}

.rg-row-bottom-no-margin {
    flex: 1;
    border-radius: 3px;
    margin-left: 9px;
    margin-right: 9px;
    background:#fff;
    border: 1px solid transparent;
    z-index: 3;
}

table .progress-bar {
    border-radius:10px !important;
}

table {
  color: #555;
}