.loadingwrap {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 11;
    left: 0;
    top: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.75);
    overflow-x: hidden;
    transition: 0.5s;
}

.loading-content {
    display: flex;
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #69717d;  
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: auto;
}

.loader-sm {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #69717d;  
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    margin: auto;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


