.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
  background-color: transparent;
  border-color: #337ab7;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
  background-color: transparent;
  color: #fff;
}
nav.navbar-sics { background: #2e353d; border-color: #ccc; box-shadow: 0 0 2px 0 #ccc; }
nav.navbar-sics a { color: #337ab7; }

nav.navbar-sics ul.navbar-nav a {
  border-color: #fff;
  color: #fff;
  padding-left: 25px;
}

nav.navbar-sics ul.navbar-nav a:hover,
nav.navbar-sics ul.navbar-nav a:visited,
nav.navbar-sics ul.navbar-nav a:focus,
nav.navbar-sics ul.navbar-nav a:active { /*background: #fff;*/ }
nav.navbar-sics ul.navbar-nav a:hover {   color: white; text-decoration: underline; /*border-color: #337ab7;*/ }
nav.navbar-sics li.divider { background: #ccc; }
nav.navbar-sics button.navbar-toggle { background: #337ab7; border-radius: 2px; }
nav.navbar-sics button.navbar-toggle:hover { background: #999; }
nav.navbar-sics button.navbar-toggle > span.icon-bar { background: #fff; }
nav.navbar-sics ul.dropdown-menu { border: 0; background: #fff; border-radius: 4px; margin: 4px 0; box-shadow: 0 0 4px 0 #ccc; }
nav.navbar-sics ul.dropdown-menu > li > a { color: #444; }
nav.navbar-sics ul.dropdown-menu > li > a:hover { background: #337ab7; color: #fff; }
nav.navbar-sics span.badge { background: #337ab7; font-weight: normal; font-size: 11px; margin: 0 4px; }
nav.navbar-sics span.badge.new { background: rgba(255, 0, 0, 0.8); color: #fff; }

.list-group-item:last-child {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.list-group-item:first-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
  background-color: #2e353d;
  border-color: #2e353d;
  color: #fff;
  z-index: 100;
  height: 43px;
}

.btn-lightgrey {
  background-color: #60b044;
  background-image: linear-gradient(#8add6d, #60b044);
  background-repeat: repeat-x;
  border-color: #5ca941;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
}

.navbar-default
.navbar-nav
.open
.dropdown-menu > li >
a:focus,
.navbar-default
.navbar-nav
.open
.dropdown-menu > li > a:hover {
  color: #ffffff;
}

.navbar-nav
.open
.dropdown-messages {
  right: 5%;
  min-width: 500px;
  box-shadow:1px 1px 1px 1px #ccc;
  padding: 20px;
}

.navbar-nav
.open
.dropdown-messages > li {
  border-bottom: 1px solid #ddd;
  margin-bottom: 5px;
}
.navbar-nav
.open
.dropdown-messages > li > div {
  padding-top: 10px;
  padding-bottom: 5px;
}
.navbar-nav
.open
.dropdown-messages > li > div:hover {
  background-color: #f5f7fa;
}
nav.navbar-sics ul.dropdown-messages a {
  color: #005fcc;
  padding-top: 10px;
  padding-left: 0px;
}

nav.navbar-sics
ul.dropdown-messages a {
  margin-top: 10px;
  color: #3485c3;
}

nav.navbar-sics
ul.dropdown-messages a:hover  {
  color: #006190;
}
