body {
  height: 95%;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  line-height: 1.52857;
  padding: 0;
  min-width: 600px;
}

h2 {
  font-size: 1.5em;
}

button, html, input, select, textarea {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  line-height: 1.52857;
  padding: 0;
}

a:focus {
  outline: none;
}

.form-validate .form-control.ng-dirty.ng-valid, .form-validate .form-control.ng-dirty.ng-valid:focus {
  border-color: #27c24c;
}

.form-validate .form-control.ng-dirty.ng-invalid {
  border-color: #f05050;
}

.form-validate.ng-submitted.form-validate .form-control.ng-invalid {
  border-color: #f05050;
}

.panel {
  background-color: #fafafa;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  margin-bottom: 21px;
}
.panel.panel-filter {
  box-shadow:none;
  border-radius:0;
}

.panel-filter > .panel-heading {
  background-color: #2e353d;
  color: #fff;
  height: 43px;
  border-radius: 0;
}
.panel-filter > .panel-footer {
  background-color: #2e353d;
  color: #fff;
  height: 43px;
  padding: 0 20px 0 5px;
  border-radius: 0;
}
.panel-filter > .row {
  margin-left: 0px;
  margin-right: 0px;
}
.panel-heading {
  border-color: #cfdbe2;
  background-color: #3a3f51;
  color: #fff;
  border-bottom: 0 none;
  font-size: 14px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding: 10px 15px;
}
.view-info .panel-heading a:after {
  font-family:'Glyphicons Halflings';
  content:"\e114";
  float: right;
  color: grey;
}
.view-info .panel-heading a.collapsed:after {
  content:"\e080";
}
.modal-header {
  background-color:  #2e353d;
  color: #ffffff;
}

.modal-header .close {
  margin-top: -2px;
  color: #fff;
  opacity: 0.5;
}

.modal-content {
  background-color: #fafafa;
}

.modal-dialog {
  min-width: 400px;
}

.modal-lg {
  min-width: 900px;
}

/* Project list in home */
.pager {
  background-color: #2e353d;
  margin:0px;
}

.pager .disabled > a, .pager .disabled > a:focus, .pager .disabled > a:hover, .pager .disabled > span {
  background-color: inherit;
  border: 0 none;
  border-radius: 0;
  color: grey;
  cursor: not-allowed;
  padding-top: 10px;
}

.pager li > a, .pager li > span {
  background-color: inherit;
  color: #fff;
  border: 0px;
  border-radius: 0;
  display: inline-block;
  padding: 10px 14px;
}

.pager li > a:focus, .pager li > a:hover {
  background-color: inherit;
  font-weight: bolder;
}

.datasetList {
  /* disabled to use btn-primary style color instead */
  background-color: #e6e6e6;
  list-style-type:none;
  /* color:white; */
  /* text-indent: 15px; */
  color: #333;
  margin-top: 1px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  white-space: nowrap;
}

.datasetList > li {
  color: #333;
  padding: 1em;
}

.datasetList > li:hover {
  /* background-color: #2e353d; */
}

#deleteTemplateIcon{
  border-left: 3px solid white;
  height: 34px;
  margin-right: -6px;
  margin-top: -6px;
  padding-top: 11px;
  width: 38px;
}

div.scroll {
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.25);
  height: 150px;
  overflow: auto;
  width: auto;
}
div.scroll > ul {
  padding: 10px;
}

div.scroll > ul > li > textarea {
  padding: 10px;
}

.chrome-table {
  /* Ensures that tables in a dialog box are presented correctly in Chrome*/
  table-layout: fixed;
  word-wrap: break-word;
}

/* editable link (edit in place) style */
.editable-controls .editable-input { 
  color: #2e353d;
}

.glyphicon-info-sign {
  color: royalblue;
}

.md-input {
  display: block !important;
  width: 100% !important;
  height: 34px !important;
  padding: 6px 12px !important;
  font-size: 14px !important;
  line-height: 1.42857143 !important;
  color: #555 !important;
  background-color: #fff !important;
  background-image: none  !important;
  border: 1px solid #ccc  !important;
  border-radius: 4px !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) !important;
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s !important;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s !important;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s !important;
}
.md-input:focus {
  border-color: #66afe9 !important;
  outline: 0 !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6) !important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6) !important;
}
.md-input.ng-invalid{
  border-color: #f05050 !important;
}
.md-input.ng-valid{
  border-color: #27c24c !important;
}

#announcement.show {
  margin-top: 0;
}
#announcement {
  background-color: #f0ad4e;
  margin-top: -51px;
  padding: 1em 0;
  transition: margin-top 0.25s ease 0s;
}
#announcement #announcement-text{
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  width: 100%;
}
#announcement p{
  margin: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 1.42857143;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.disabled {
  cursor: not-allowed;
  opacity: .5;
  pointer-events: none;
}