<aside class="offsidebar">
  <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation" style="margin-top:50px;"  ng-cloak>

    <ul class="nav sidebar-nav" ng-cloak>

      <li style="background: #1a1a1a;">
        <a href="#/project/{{projectCtrl.currentProject.projectId}}" class="text-center">
          {{ projectCtrl.currentProject.projectName | limitTo: 17 }}{{projectCtrl.currentProject.projectName.length > 17
          ? '...' : ''}}
        </a>
      </li>
      
      <li ng-click="projectCtrl.goToService('Zeppelin')" ng-show="projectCtrl.showZeppelin()">
        <a>
          Zeppelin <img class="pull-right" style="margin-left:10px" width="30" src="images/zeppelin_logo.png"/>
        </a>
      </li>
      
      <li ng-click="projectCtrl.goToJobs()" ng-show="projectCtrl.showJobs()" id="jobsTab">
        <a>
          Jobs <span class="sub_icon fa fa-cogs fa-lg pull-right"></span>
        </a>
      </li>
       
      <li ng-click="projectCtrl.goToHistory()" style="margin-top:40px;"  ng-show="projectCtrl.showJobs()">
        <a>
          Jobs History<span class="sub_icon fa fa-history fa-lg pull-right"></span>
        </a>
      </li>
<!--      <li ng-click="projectCtrl.goToSsh()" ng-show="projectCtrl.showSsh()">
        <a>
          Ssh <span class="sub_icon fa fa-terminal fa-lg pull-right"></span>
        </a>
      </li>-->

      <li ng-click="projectCtrl.goToBiobanking()" ng-show="projectCtrl.showBiobanking()">
        <a>
          Forms<span class="sub_icon fa fa-medkit fa-lg pull-right"></span>
        </a>
      </li>

      <li ng-click="projectCtrl.goToKafka()" ng-show="projectCtrl.showKafka()">
        <a>
          Kafka<img class="pull-right" style="margin-left:10px" height="25" src="images/kafka_logo.png"/> 
        </a>
      </li>
      

      <li ng-click="projectCtrl.goToTensorflow()" ng-show="projectCtrl.showTensorflow()">
        <a>
          Tensorflow
          <img ng-show="projectCtrl.activeService !== 'tensorflow'" class="pull-right" style="margin-left:10px" height="25" src="images/tf-175x200_bw.png"/> 
          <img ng-show="projectCtrl.activeService === 'tensorflow'" class="pull-right" style="margin-left:10px" height="25" src="images/tf-175x200.png"/> 
        </a>
      </li>
       

      <li ng-click="projectCtrl.goToWorklows()" style="margin-top:40px;"  ng-show="projectCtrl.showWorkflows()">
        <a>
          Oozie<span class="sub_icon fa fa-code-fork fa-lg pull-right"></span>
        </a>
      </li>

      <li ng-click="projectCtrl.goToDatasets()" style="margin-top:40px;" ng-show="projectCtrl.cloak">
        <a>
          Data Sets<span class="sub_icon fa fa-folder-open fa-lg pull-right"></span>
        </a>
      </li>
      
      <li ng-click="projectCtrl.goToSettings()" style="margin-top:40px;" ng-show="projectCtrl.cloak">
        <a>
          Settings<span class="sub_icon fa fa-dashboard fa-lg pull-right"></span>
        </a>
      </li>

      <li ng-click="projectCtrl.membersModal()" ng-show="projectCtrl.cloak">
        <a>
          Members<span class="sub_icon fa fa-users fa-lg pull-right"></span>
        </a>
      </li>

      <li ng-click="projectCtrl.goToMetadataDesigner()" ng-show="projectCtrl.role === 'Data owner'" ng-show="projectCtrl.cloak">
        <a>
          Metadata Designer<span
          class="sub_icon fa fa-edit fa-lg pull-right"></span>
        </a>
      </li>
      <br>
      <div class="sidebar-nav-static" ng-controller="ClusterUtilisationCtrl as clusterUtilCtrl">
        <small ng-show="clusterUtilCtrl.utilisation == 20" style="color: #ddd; font-size: 80%;"><em>Cluster Utilization is low</em></small>
        <small ng-show="clusterUtilCtrl.utilisation > 1 && clusterUtilCtrl.utilisation != 20" style="color: #ddd; font-size: 80%;"><em>Cluster Utilization: {{clusterUtilCtrl.utilisation}}%</em></small>
        <small ng-show="clusterUtilCtrl.utilisation < 1" style="color: #ddd;"><em>Cluster Utilization is unknown</em></small>
        <div class="progress" style="height: 10px;"               
             uib-tooltip="If this bar is orange (> 50%), consider allocating less resources for your application. 
                          If this bar is red (> 80%), consider running your jobs at a later time. "
             tooltip-placement="bottom">
          <div class="progress-bar" style="opacity: 0.7;" 
               ng-class="clusterUtilCtrl.progressBarClass" 
               role="progressbar" 
               ng-style="{width : clusterUtilCtrl.utilization+'%'}">
          </div>
        </div>
      </div>
    </ul>
  </nav>
</aside>

<tour class="ng-scope" step="projectCtrl.tourService.currentStep_TourTwo" post-tour="closeTour()" ng-if="projectCtrl.showJobs() && projectCtrl.loadedView">
    <virtual-step
        id="TourTwo"
        class="ng-scope"
        tourtip="Click Next, OR click on the Job tab to continue"
        tourtip-step="0"
        tourtip-element="#jobsTab"
        tourtip-placement="right"
        tourtip-next-label="Next"
        on-proceed="projectCtrl.goToJobs()"
        tourtip-offset-vertical="-18"
        tourtip-offset-horizontal="-13"
        ></virtual-step>
</tour> 
