# Copy this to .env and update values
WEB_HOST=localhost                                  # Web host local or remote
WEB_PORT=8181                                       # Web port local or remote
# If you are using karamel-chef 3 vm setup, this address should be 192.168[....]
DB_HOST=10.0.2.15                                   # Database host local or remote
DB_PORT=3306                                        # Database port local or remote
PROJECT_DIR=/home/myuser/hopsworks                  # where hopsworks project is.
RSPEC_REPORT=/hopsworks-ear/target/test-report.html # where to put the report name should be test-report.html.
HOPSWORKS_API=/hopsworks-api/api                    # The path to the rest api to be tested.
HOPSWORKS_BASE_API=/hopsworks-api/                  # The path to the hopsworks base api, used by proxyservlets.
HOPSWORKS_ADMIN=/hopsworks-admin/                   # The path to Hopsworks admin pages.
HOPSWORKS_CA=/hopsworks-ca/v2                       # The path to Hopsworks CA
HOPSWORKS_DELA_TRACKER=/hopsworks-cluster/api       # The path to Dela Tracker endpoint
HOPSWORKS_TESTING=/hopsworks-testing/api            # The path to the rest api auxiliary endpoints - used for testing.
ELASTIC_API=10.0.2.15:9200                          # The endpoint for the elastic rest api
ELASTIC_USER=admin                                  # The elastic user used for http requests
ELASTIC_PASS=adminpw                                # The elastic pass used for http requests
KIBANA_API=10.0.2.15:5601                           # The endpoint for the Kibana rest api
LAUNCH_BROWSER=false                                # If set to true will launch test report in a browser
SKIP_VM_TEST=false                                  # If true skips test that need to run inside a vm
OS=ubuntu
REMOTE_SSH_USER=vagrant			    # Username of password-less sudo user
REMOTE_SSH_PASSWORD=vagrant			    # Password of user to SSH into machines
REMOTE_SSH_PORT=22				    # Port sshd listens on VMs

# Only if local
RSPEC_USER_DIR=/home/user/hopsworks-chef  # The path to vagrant if local.

# Only if remote
RSPEC_SSH=true                                      # If vagrant is remote or not.
RSPEC_SSH_USER=vagrant                              # The user on the remote machine.
RSPEC_SSH_HOST=remote                               # The host where the remote vagrant is.
RSPEC_SSH_PORT=22                                   # The port where the remote vagrant is.
RSPEC_SSH_PASSWORD=vagrant                          # Password for remote user
RSPEC_SSH_USER_DIR=/home/username/hopsworks-chef    # The path to vagrant in the remote machine.
RSPEC_VAGRANT_HDFS_USER=hdfs                     # Vagrant if single user vm or hdfs otherwise
RSPEC_VAGRANT_MYSQL_USER=mysql                    # Vagrant if single user vm or mysql otherwise
EPIPE_HOST=10.0.2.15
