# Copy this to .env and update values
WEB_HOST=localhost
WEB_PORT=8080
DB_HOST=localhost
DB_PORT=3306
RSPEC_USER_DIR=/home/hopsworks/user/hopsworks-chef # where vagrant is.
PROJECT_DIR=/home/hopsworks # where hopsworks is.
RSPEC_REPORT=/target/orders-test-report.html # where to put the report in project dir.
OOZIE_HOST=localhost:19006
HOPSWORKS_API=/hopsworks-api/api # The path to the rest api to be tested.

# Only if remote 
RSPEC_SSH=false # If vagrant is remote or not.
RSPEC_SSH_HOST=bbc1.sics.se # The host where the remote vagrant is.
RSPEC_SSH_USER_DIR=/home/hopsworks/user/hopsworks-chef # The path to vagrant in the remote machine 
