# Copy this to .env and update values
WEB_HOST=localhost                                  # Web host local or remote
WEB_PORT=8080                                       # Web port local or remote
DB_HOST=localhost                                   # Database host local or remote
DB_PORT=3306                                        # Database port local or remote
PROJECT_DIR=/home/hopsworks                         # where hopsworks project is.
RSPEC_REPORT=/hopsworks-ear/target/test-report.html # where to put the report name should be test-report.html.
HOPSWORKS_API=/hopsworks-api/api                    # The path to the rest api to be tested.
HOPSWORKS_ADMIN=/hopsworks-admin/                   # The path to hopsworks admin pages.
LAUNCH_BROWSER=false                                # If set to true will launch test report in a browser

# Only if local
RSPEC_USER_DIR=/home/hopsworks/user/hopsworks-chef  # The path to vagrant if local.

# Only if remote 
RSPEC_SSH=false                                     # If vagrant is remote or not.
RSPEC_SSH_USER=username                             # The user on the remote machine.
RSPEC_SSH_HOST=bbc1.sics.se                         # The host where the remote vagrant is.
RSPEC_SSH_USER_DIR=/home/username/hopsworks-chef    # The path to vagrant in the remote machine.
RSPEC_VAGRANT_HDFS_USER=vagrant                     # Vagrant if single user vm or hdfs otherwise
RSPEC_VAGRANT_MYSQL_USER=vagrant                    # Vagrant if single user vm or mysql otherwise
