# Copy this to .env and update values
WEB_HOST=localhost                                  # Web host local or remote
WEB_PORT=8080                                       # Web port local or remote
DB_HOST=localhost                                   # Database host local or remote
DB_PORT=3306                                        # Database port local or remote
PROJECT_DIR=/home/myuser/hopsworks               # where hopsworks project is.
RSPEC_REPORT=/hopsworks-ear/target/test-report.html # where to put the report name should be test-report.html.
HOPSWORKS_API=/hopsworks-api/api                    # The path to the rest api to be tested.
HOPSWORKS_ADMIN=/hopsworks-admin/                   # The path to Hopsworks admin pages.
HOPSWORKS_CA=/hopsworks-ca/v2                       # The path to Hopsworks CA
ELASTIC_API=10.0.2.15:9200                          # The endpoint for the elastic rest api
LAUNCH_BROWSER=false                                # If set to true will launch test report in a browser
OS=ubuntu
MYSQL_SOCKET=/tmp/mysql.sock

# Only if local
RSPEC_USER_DIR=/home/user/hopsworks-chef  # The path to vagrant if local.

# Only if remote 
RSPEC_SSH=true                                      # If vagrant is remote or not.
RSPEC_SSH_USER=vagrant                              # The user on the remote machine.
RSPEC_SSH_HOST=remote                               # The host where the remote vagrant is.
RSPEC_SSH_PORT=22                                   # The port where the remote vagrant is.
RSPEC_SSH_USER_DIR=/home/username/hopsworks-chef    # The path to vagrant in the remote machine.
RSPEC_VAGRANT_HDFS_USER=vagrant                     # Vagrant if single user vm or hdfs otherwise
RSPEC_VAGRANT_MYSQL_USER=vagrant                    # Vagrant if single user vm or mysql otherwise
