<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee           http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <!--        <param-value>Development</param-value>-->
        <param-value>Production</param-value>
    </context-param>
    <context-param>
        <param-name>facelets.SKIP_COMMENTS</param-name>
        <param-value>true</param-value>
    </context-param>    
    <context-param>
        <param-name>com.sun.faces.verifyObjects</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>com.sun.faces.validateXml</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
        <param-value>client</param-value>
    </context-param>
    <context-param>
        <param-name>facelets.SKIP_COMMENTS</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>Webhdfs-http</param-name>
        <param-value>http://snurran.sics.se:50070/webhdfs/v1</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.PARTIAL_STATE_SAVING</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.FACELETS_BUFFER_SIZE</param-name>
        <param-value>65535</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>
    <!--  REST  -->
    <servlet>
        <servlet-name>Jersey REST Service</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>se.kth.kthfsdashboard.rest.resources</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Jersey REST Service</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Jersey REST Service</servlet-name>
        <url-pattern>/resources/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>se.kth.bbc.upload.UploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/bbc/uploader</url-pattern>
    </servlet-mapping>
    
    <!-- declare the roles relevant for our webapp -->
    <security-role>
        <role-name>ADMIN</role-name>
    </security-role>
    <security-role>
        <role-name>AGENT</role-name>
    </security-role>
    <security-role>
        <role-name>BBC_ADMIN</role-name>
    </security-role>
    <security-role>
        <role-name>BBC_RESEARCHER</role-name>
    </security-role>
    <security-role>
        <role-name>BBC_GUEST</role-name>
    </security-role>
    <security-role>
        <role-name>AUDITOR</role-name>
    </security-role>
    <security-role>
        <role-name>ETHICS_BOARD</role-name>
    </security-role>    
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Secured Content</web-resource-name>
            <url-pattern>/sauron/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>BBC_ADMIN</role-name>
        </auth-constraint>
        <!-- we always want https! -->
        <!--        <user-data-constraint>
            <description>highest supported transport security level</description>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>-->
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Secured Content for agents sending alerts data</web-resource-name>
            <url-pattern>/rest/collectd/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>BBC_ADMIN</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>BiobankCloud Guest pages</web-resource-name>
            <url-pattern>/bbc/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>BBC_ADMIN</role-name>
            <role-name>BBC_RESEARCHER</role-name>
            <role-name>BBC_GUEST</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>BiobankCloud Lab Info Mgmt System (LIMS)</web-resource-name>
            <url-pattern>/bbc/lims/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>BBC_ADMIN</role-name>
            <role-name>BBC_RESEARCHER</role-name>
            <role-name>BBC_GUEST</role-name>
        </auth-constraint>
    </security-constraint>
   
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>BiobankCloud Admin Researcher Private pages</web-resource-name>
            <url-pattern>/bbc/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>BBC_ADMIN</role-name>
            <role-name>BBC_GUEST</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>BiobankCloud Researcher Private pages</web-resource-name>
            <url-pattern>/wf/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>BBC_RESEARCHER</role-name>
            <role-name>BBC_ADMIN</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Secured Content for agents sending status data</web-resource-name>
            <url-pattern>/rest/agent/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>BBC_AGENT</role-name>
            <role-name>BBC_ADMIN</role-name>
        </auth-constraint>
    </security-constraint>
    <!-- Authentication for file upload -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Privileged file upload policy</web-resource-name>
            <url-pattern>/rest/bbcuploader/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>BBC_ADMIN</role-name>
            <role-name>BBC_RESEARCHER</role-name>
            <role-name>BBC_GUEST</role-name>
        </auth-constraint>
    </security-constraint>
  
      <security-constraint>
        <web-resource-collection>
            <web-resource-name>User authentication</web-resource-name>
            <url-pattern>/auth/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>BBC_ADMIN</role-name>
            <role-name>BBC_RESEARCHER</role-name>
            <role-name>BBC_GUEST</role-name>
         </auth-constraint>
    </security-constraint>
  
    <security-constraint>
      <web-resource-collection>
        <web-resource-name>Viewpoint Secure URLs</web-resource-name>
        <url-pattern>/*</url-pattern>
      </web-resource-collection>
      <user-data-constraint>
        <transport-guarantee>CONFIDENTIAL</transport-guarantee>
      </user-data-constraint>
    </security-constraint>
    
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>GauthRealm</realm-name>
        <form-login-config>
            <form-login-page>/index.xhtml</form-login-page>
            <form-error-page>/error.xhtml</form-error-page>
        </form-login-config>

    </login-config>
    <!--   <error-page>
       <error-code>404</error-code>
       <location>/error</location>
    </error-page>   
    <error-page>
       <error-code>500</error-code>
       <location>/error</location>
    </error-page> -->
    <session-config>
        <!-- on production systems you might have another value for the timeout -->
        <session-timeout>20</session-timeout>
        <!-- we don't want to use the default name JSESSIONID because this 
        tells everyone (especially hackers) that our application is based on java -->
        <cookie-config>
            <name>SESSIONID</name>
        </cookie-config>
    </session-config>
    <!-- PrimeFaces FileUpload Filter -->
    <filter>
        <filter-name>PrimeFaces FileUpload Filter</filter-name>
        <filter-class>org.primefaces.webapp.filter.FileUploadFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>PrimeFaces FileUpload Filter</filter-name>
        <servlet-name>Faces Servlet</servlet-name>
    </filter-mapping>
    
    <filter>
        <filter-name>Login Filter</filter-name>
        <filter-class>se.kth.bbc.security.auth.totp.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
          <filter-name>Login Filter</filter-name>
          <url-pattern>/index.xhtml</url-pattern>
          <url-pattern>/auth/login.xhtml</url-pattern>
          <url-pattern>/auth/yubikeylogin.xhtml</url-pattern>   
          <url-pattern>/auth/register_mobile.xhtml</url-pattern>
          <url-pattern>/auth/register_yubico.xhtml</url-pattern>
      </filter-mapping>
    
       
    <!-- To upload from pages with pretty URL!-->
    <!--    <filter-mapping>
        <filter-name>PrimeFaces FileUpload Filter</filter-name>
        <url-pattern>/*</url-pattern>     
    </filter-mapping>  -->
    <!--PrettyFaces: ONLY Development Mode: disable the default caching mechanism -->
    <!--   <context-param>
       <param-name>org.ocpsoft.rewrite.config.CONFIG_RELOADING</param-name>
       <param-value>true</param-value>
    </context-param>    -->
    <!--        <welcome-file-list>
		<welcome-file>upload.html</welcome-file>
	</welcome-file-list>-->
</web-app>
