<div class="container">
  <div class="row">
    <div class="col-md-12 text-center" style="padding:20px;">
      <img width="90" src="https://dc.sics.se/pics/hops.png"/>
      <h3 style="margin-top:0px; margin-left:30px;">HOPS</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 col-md-4 col-md-offset-4" ng-show="!isLoggedIn">
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong> Sign in to continue</strong>
        </div>
        <div class="panel-body" style="padding:30px;">
          <fieldset>
            <div class="row">
              <div class="col-sm-12 col-md-10  col-md-offset-1 ">
                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon">
                    <i class="glyphicon glyphicon-user"></i>
                    </span>
                    <input class="form-control"
                           placeholder="Email"
                           name="email"
                           id="email"
                           type="text"
                           ng-model="loginCtrl.user.email"
                           autofocus>
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon">
                    <i class="glyphicon glyphicon-lock"></i>
                    </span>
                    <input class="form-control"
                           placeholder="Password"
                           name="password"
                           id="password"
                           type="password"
                           ng-model="loginCtrl.user.password"
                           value="">
                  </div>
                </div>
                <div class="form-group">
                  <input type="submit" class="btn btn-lg btn-primary btn-block" value="Sign in"
                         ng-click="loginCtrl.login()">
                </div>
              </div>
            </div>
          </fieldset>
        </div>
        <div class="panel-footer ">
          Don't have an account? <a href="#register" onClick=""> Sign Up Here </a>
        </div>
      </div>
    </div>
  </div>
</div>
