<div ng-include="'nav.html'"></div>
<div class="well">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#home" data-toggle="tab">Profile</a></li>
        <li><a href="#profile" data-toggle="tab">Password</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane active in" id="home">
            <form id="profileForm" name="profileForm" ng-submit="profileCtrl.updateProfile()">
                <label>Email</label>
                <input type="text" name="email" ng-model="profileCtrl.user.email" class="input-xlarge" disabled="true">
                <label>First Name</label>
                <input type="text" name="firstName" ng-model="profileCtrl.user.firstName" class="input-xlarge" required>
                <label>Last Name</label>
                <input type="text" name="lastName" ng-model="profileCtrl.user.lastName" class="input-xlarge" required>
                <label>Tel</label>
                <input type="text" name="tel" ng-model="profileCtrl.user.telephoneNum" class="input-xlarge" required>
                <label>Registered on</label>
                <!--input type="text" name="registeredOn" ng-model="profileCtrl.user.registeredon" class="input-xlarge" disabled="true"-->
                <span>{{profileCtrl.user.registeredon | date:'medium'}}</span>
                <label>Address</label>
            <textarea rows="3" class="input-xlarge">{{profileCtrl.user.firstName}}

            </textarea>
                <div class="row">
                    <input type="button" ng-click="profileCtrl.reset()" value="Reset" ng-disabled="profileForm.$pristine"/>

                    <button type="submit" class="btn btn-primary" ng-disabled="profileForm.$pristine || profileForm.$invalid">Update</button>
                </div>
            </form>
        </div>
        <div class="tab-pane fade" id="profile">
            <form id="passwordForm" name="passwordForm" ng-submit="profileCtrl.changeLoginCredentials()">
                <label>Old Password</label>
                <input type="password" name="oldPassword" class="input-xlarge" ng-model="profileCtrl.loginCredes.oldPassword" required>
                <label>New Password</label>
                <input type="password" name="newPassword" class="input-xlarge" ng-model="profileCtrl.loginCredes.newPassword" required>
                <label>Confirm Password</label>
                <input type="password" name="confirmedPassword" class="input-xlarge" ng-model="profileCtrl.loginCredes.confirmedPassword" required>
                    <div>
                        <button type="submit" class="btn btn-primary" ng-disabled="passwordForm.$invalid || passwordForm.$pristine">
                            Update</button>
                    </div>
            </form>
        </div>
    </div>
</div>