<div ng-controller="MainCtrl as mainCtrl">
  <div ng-include="'nav.html'"></div>


  <div id="wrapper" class="toggled">
    <div class="overlay"></div>

    <!-- Sidebar -->
    <aside class="offsidebar">
      <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation"
           style="margin-top:50px;">

        <ul class="nav sidebar-nav">

          <li style="background: #1a1a1a;">
            <a class="text-center">
              {{ projectCtrl.currentProject.projectName | limitTo: 17 }}{{projectCtrl.currentProject.projectName.length > 17
              ? '...' : ''}}
            </a>
          </li>


          <li ng-repeat="typeObject in projectCtrl.alreadyChoosenServices">
            <a href="">
              {{typeObject}} <span class="sub_icon fa fa-globe fa-lg pull-right"></span>
            </a>
          </li>


          <li>
            <a ng-click="projectCtrl.goToDatasets()">
              DATASETS <span class="sub_icon fa fa-folder-open fa-lg pull-right"></span>
            </a>
          </li>


          <li ng-click="projectCtrl.projectSettingModal()" style="margin-top:40px;">
            <a>
              Settings <span class="sub_icon fa fa-dashboard fa-lg pull-right"></span>
            </a>
          </li>

          <li>
            <a href="#/">
              Users <span class="sub_icon fa fa-users fa-lg pull-right"></span>
            </a>
          </li>


        </ul>
      </nav>
    </aside>
    <!-- /#sidebar-wrapper -->

    <section>
      <div class="content-wrapper">
        <h3 id="projectBread" style="display: none;"> {{ projectCtrl.currentProject.projectName }} / Start</h3>

        <!-- Page Content -->

              <div class="widget-body">
                  <div class="timeline clearfix">
                      <div class="mid-line"></div>

                      <div ng-repeat="activity in projectCtrl.activities | startFrom:(projectCtrl.currentPage-1) * projectCtrl.pageSize | limitTo:projectCtrl.pageSize">

                          <div class="right">
                              <div class="r-arrow"></div>
                              <div class="about-task">
                                  <div class="header">{{activity.user.fname }} {{activity.user.lname}} {{activity.activity}}
                                      <small class="muted">On {{activity.timestamp |
                                          date:'medium'}}
                                      </small>
                                  </div>
                                  <p class="no-margin">
                                      Project name: {{activity.study.name}} Owner: {{activity.study.owner.fname}}
                                      Created on: {{activity.study.created | date:'medium'}}
                                  </p>
                              </div>
                          </div>
                      </div>

                      <pagination ng-if="projectCtrl.totalPages > 10"
                                  total-items="projectCtrl.totalItems"
                                  ng-model="projectCtrl.currentPage"
                                  max-size="projectCtrl.pageSize"
                                  class="pagination-sm"
                                  boundary-links="true"
                                  rotate="false"
                                  num-pages="projectCtrl.totalPages" >
                      </pagination>



                  </div>
              </div>

        <!-- /#page-content-wrapper -->
      </div>


    </section>


  </div>
  <!-- /#wrapper -->


</div>


</div>

