<div>
  <div class="modal-body">

    <div class="row">
      <div class="col-md-8">
        <fieldset>

          <legend>
            New project
          </legend>

          <div class="control-group col-md-offset-1">

            <label for="projectName" class="control-label">Project name</label>

            <div class="controls">
              <input type="text" ng-model="projectCreatorCtrl.projectName" placeholder="Project name" class="form-control"
                     name="projectname" id="projectname">
            </div>

            <p></p>

            <label for="projectname" class="control-label">Description</label>

            <div class="controls">
              <textarea class="form-control" ng-model="projectCreatorCtrl.projectDesc" rows="3"></textarea>
            </div>


            <label style="margin-top:20px;" for="projectname" class="control-label">Members</label>

            <div class="controls">

              <ui-select ng-model="projectCreatorCtrl.card.selected" theme="select2" style="min-width: 300px;">

                <ui-select-match placeholder="Add members...">{{$select.selected.email}}</ui-select-match>
                <ui-select-choices
                  repeat="card in projectCreatorCtrl.cards | cardFilter: {email: $select.search, firstname: $select.search, lastname: $select.search}">

                  <div ng-bind-html="projectCreatorCtrl.card.email | highlight: $select.search"></div>
                  <small>
                    <i class="fa fa-user-plus"></i>
                    <span style="font-size: 14px;;" ng-bind-html="''+card.email | highlight: $select.search"></span>
                    <br/>
                    <span ng-bind-html="''+card.firstname | highlight: $select.search"></span>
                    <span ng-bind-html="''+card.lastname | highlight: $select.search"></span>
                  </small>
                </ui-select-choices>
              </ui-select>

              <div style="margin-top:10px; min-height:50px;" class="thumbnail ui-droppable">

                <button class="animate-repeat btn btn-info" style="margin: 3px;"
                        ng-repeat="member in projectCreatorCtrl.projectMembers" ng-click="projectCreatorCtrl.removeMember()">
                  <span style="margin-right:10px;"> {{member}}</span>
                  <span class="close">× </span>
                </button>

              </div>

            </div>


          </div>


        </fieldset>
      </div>


      <div class="col-md-4">
        <fieldset>
          <legend>
            Custom services
          </legend>

          <div class="control-group col-md-offset-2">

            <div ng-repeat="projectType in projectCreatorCtrl.projectTypes" class="checkbox checkbox-info">
              <input
                type="checkbox"
                value="{{projectType}}"
                ng-checked="projectCreatorCtrl.selectionProjectTypes.indexOf(projectType) > -1"
                ng-click="projectCreatorCtrl.toggleTypeSelection(projectType)">
              {{projectType}}
            </div>

          </div>


        </fieldset>
      </div>
    </div>

  </div>


  <div class="modal-footer">
    <button class="btn btn-default" ng-click="projectCreatorCtrl.close()">Cancel</button>
    <button class="btn btn-primary" ng-click="projectCreatorCtrl.createProject()">Save</button>
  </div>

</div>
