<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
      <form name="regForm" role="form" ng-submit="regCtrl.register()">
        <h2>Sign Up Today
          <small>You won't regret it!</small>
        </h2>
        <hr>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
              <input ng-model="regCtrl.newUser.firstName" type="text" name="first_name" id="first_name"
                     class="form-control input-lg" placeholder="First Name" tabindex="1" required>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
              <input ng-model="regCtrl.newUser.lastName" type="text" name="last_name" id="last_name"
                     class="form-control input-lg" placeholder="Last Name" tabindex="2" required>
            </div>
          </div>
        </div>
        <div class="form-group">
          <input ng-model="regCtrl.newUser.email" type="email" name="email" id="email"
                 class="form-control input-lg" placeholder="Email Address" tabindex="4" required>
        </div>
        <div class="form-group">
          <input ng-model="regCtrl.newUser.telephoneNum" type="text" name="phone_number" id="phone_number"
                 class="form-control input-lg" placeholder="Phone" tabindex="3" required>
        </div>
        <div class="form-group">
          <input ng-model="regCtrl.newUser.securityQuestion" type="text" name="sec_question" id="sec_question"
                 class="form-control input-lg" placeholder="Security question" tabindex="3" required>
        </div>
        <div class="form-group">
          <input ng-model="regCtrl.newUser.securityAnswer" type="text" name="sec_answer" id="sec_answer"
                 class="form-control input-lg" placeholder="Security answer" tabindex="3" required>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
              <input ng-model="regCtrl.newUser.chosenPassword"
                     type="password"
                     name="password"
                     id="password"
                     class="form-control input-lg"
                     placeholder="Password"
                     tabindex="5" required>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
              <input ng-model="regCtrl.newUser.repeatedPassword"
                     match="regCtrl.newUser.chosenPassword"
                     type="password"
                     name="confirmPassword"
                     id="confirmPassword"
                     class="form-control input-lg"
                     placeholder="Confirm Password"
                     tabindex="6" required>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4 col-sm-3 col-md-3">
            <div class="button-checkbox">
              <button class="btn btn-default" tabindex="7" data-color="info" name="term" type="button" ng-model="toggle"
                      ng-click="accepted = !accepted">
                <i ng-class="{true: 'state-icon glyphicon glyphicon-unchecked', false: 'state-icon glyphicon glyphicon-check'}[!accepted]"></i>
                I Agree
              </button>
            </div>
          </div>
          <div class="col-xs-8 col-sm-9 col-md-9">
            By clicking
            <strong class="label label-primary">I Agree</strong>, you agree to the
            <a href="#/register" data-target="#tosModal" data-toggle="modal">Terms and Conditions</a>, including our Cookie Use.
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <input type="submit" value="Register" class="btn btn-primary btn-block btn-lg" tabindex="7"
                   ng-disabled="regForm.$invalid">
          </div>
          <div class="col-xs-12 col-md-6">
            <a href="#/login" class="btn btn-success btn-block btn-lg">Sign In</a>
          </div>
        </div>
      </form>
    </div>
  </div>
  <modal id="tosModal" title="Terms & Conditions">
    <p><strong>Limited License</strong></p>
    <p>TermsFeed grants you a non-exclusive, non-transferable, revocable license to access and use our Website in
      order for you to make purchases of electronic documents and related services through our Website, strictly
      in accordance with our Legal Terms.
    </p>
    <p><strong>Copyrights and Trademarks</strong></p>
    <p>Unless otherwise noted, all materials including without limitation, logos, brand names, images, designs,
      photographs, video clips and written and other materials that appear as part of our Website are copyrights,
      trademarks, service marks, trade dress and/or other intellectual property whether registered or unregistered
      ("Intellectual Property") owned, controlled or licensed by TermsFeed. Our Website as a whole is protected by
      copyright and trade dress. Nothing on our Website should be construed as granting, by implication, estoppel
      or otherwise, any license or right to use any Intellectual Property displayed or used on our Website,
      without the prior written permission of the Intellectual Property owner. TermsFeed aggressively enforces its
      intellectual property rights to the fullest extent of the law. The names and logos of TermsFeed, may not be
      used in any way, including in advertising or publicity pertaining to distribution of materials on our
      Website, without prior, written permission from TermsFeed. TermsFeed prohibits use of any logo of TermsFeed
      or any of its affiliates as part of a link to or from any Website unless TermsFeed approves such link in
      advance and in writing. Fair use of TermsFeed’s Intellectual Property requires proper acknowledgment. Other
      product and company names mentioned in our Website may be the Intellectual Property of their respective
      owners.
    </p>
    <p><strong>Links to Third-Party Websites</strong></p>
    <p>Our Website may contain links to Websites owned or operated by parties other than TermsFeed. Such links are
      provided for your reference only. TermsFeed does not monitor or control outside Websites and is not
      responsible for their content. TermsFeed’s inclusion of links to an outside Website does not imply any
      endorsement of the material on our Website or, unless expressly disclosed otherwise, any sponsorship,
      affiliation or association with its owner, operator or sponsor, nor does TermsFeed’ inclusion of the links
      imply that TermsFeed is authorized to use any trade name, trademark, logo, legal or official seal, or
      copyrighted symbol that may be reflected in the linked Website.
    </p>
    <p><strong>Content Disclaimer</strong></p>
    <p>Postings on our Website are made at such times as TermsFeed determines in its discretion. You should not
      assume that the information contained on our Website has been updated or otherwise contains current
      information. TermsFeed does not review past postings to determine whether they remain accurate and
      information contained in such postings may have been superseded. THE INFORMATION AND MATERIALS IN OUR
      WEBSITE ARE PROVIDED FOR YOUR REVIEW IN ACCORDANCE WITH THE NOTICES, TERMS AND CONDITIONS SET FORTH HEREIN.
      THESE MATERIALS ARE NOT GUARANTEED OR REPRESENTED TO BE COMPLETE, CORRECT OR UP TO DATE. THESE MATERIALS MAY
      BE CHANGED FROM TIME TO TIME WITHOUT NOTICE.
    </p>
    <p><strong>Contracts, Attorneys, and Legal Advice Disclaimer</strong></p>
    <p>You understand that we offer legal contracts ("Contracts"), as created by actual attorneys, for sale through
      our Website. We also offer you the ability to purchase reviews of such Contracts by attorneys who have
      registered with our Website. However, you acknowledge that we are not attorneys nor do we offer legal
      advice. You acknowledge that we do not endorse any specific attorney or any Contracts as being better than
      another. We do not otherwise guarantee the legal accuracy or applicability of any Contracts for your legal
      needs. You will at all times look to any attorney that you select for services as to any legal claims
      related to such services.
    </p>
    <p><strong>Indemnification</strong></p>
    <p>You agree to defend, indemnify and hold TermsFeed harmless from and against any and all claims, damages,
      costs and expenses, including attorneys' fees, arising from or related to your use of our Website or any
      Contracts or Services you purchase through it.
    </p>
  </modal>
</div>
