<div class="container">


  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
      <form role="form">
        <h2>Sign Up Today<small>You won't regret it!</small></h2>
        <hr>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
              <input ng-model="regCtrl.newUser.firstName" type="text" name="first_name" id="first_name" class="form-control input-lg" placeholder="First Name" tabindex="1">
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
              <input ng-model="regCtrl.newUser.lastName" type="text" name="last_name" id="last_name" class="form-control input-lg" placeholder="Last Name" tabindex="2">
            </div>
          </div>
        </div>

        <div class="form-group">
          <input ng-model="regCtrl.newUser.email" type="email" name="email" id="email" class="form-control input-lg" placeholder="Email Address" tabindex="4">
        </div>

        <div class="form-group">
          <input ng-model="regCtrl.newUser.telephoneNum" type="text" name="phone_number" id="phone_number" class="form-control input-lg" placeholder="Phone" tabindex="3">
        </div>


        <div class="form-group">
          <input ng-model="regCtrl.newUser.securityQuestion" type="text" name="sec_question" id="sec_question" class="form-control input-lg" placeholder="Security question" tabindex="3">
        </div>

        <div class="form-group">
          <input ng-model="regCtrl.newUser.securityAnswer" type="text" name="sec_answer" id="sec_answer" class="form-control input-lg" placeholder="Security answer" tabindex="3">
        </div>


        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
              <input ng-model="regCtrl.newUser.chosenPassword" type="password" name="password" id="password" class="form-control input-lg" placeholder="Password" tabindex="5">
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
              <input ng-model="regCtrl.newUser.repeatedPassword" type="password" name="password_confirmation" id="password_confirmation" class="form-control input-lg" placeholder="Confirm Password" tabindex="6">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4 col-sm-3 col-md-3">




            <!-- [state-icon glyphicon glyphicon-unchecked, {state-icon glyphicon glyphicon-checked: togglare}] -->

            <span class="button-checkbox">


              <button class="btn btn-default" tabindex="7" data-color="info" type="button" ng-model="togglare" ng-click="accepted = !accepted">
                <i ng-class="{true: 'state-icon glyphicon glyphicon-unchecked', false: 'state-icon glyphicon glyphicon-check'}[!accepted]" ></i>
                I Agree
              </button>

              <input id="t_and_c" class="hidden" type="checkbox" value="1" name="t_and_c">
            </span>



          </div>
          <div class="col-xs-8 col-sm-9 col-md-9">
            By clicking <strong class="label label-primary">Register</strong>, you agree to the <a href="#" data-toggle="modal" data-target="#t_and_c_m">
              Terms and Conditions</a>, including our Cookie Use.
          </div>
        </div>

        <hr>
        <div class="row">
          <div class="col-xs-12 col-md-6"><input type="submit" value="Register" class="btn btn-primary btn-block btn-lg" tabindex="7" ng-click="regCtrl.register()"></div>
          <div class="col-xs-12 col-md-6"><a href="#/login" class="btn btn-success btn-block btn-lg">Sign In</a></div>
        </div>
      </form>
    </div>
  </div>





  <!-- Modal -->
  <div class="modal fade" id="t_and_c_m" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title" id="myModalLabel">Terms & Conditions</h4>
        </div>
        <div class="modal-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at
            sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem
            dolorem ad.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">I Agree</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
</div>
