<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ This file is part of HopsWorks
  ~
  ~ Copyright (C) 2013 - 2018, Logical Clocks AB and RISE SICS AB. All rights reserved.
  ~
  ~ HopsWorks is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Affero General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ HopsWorks is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with HopsWorks.  If not, see <http://www.gnu.org/licenses/>.
  -->

<beans xmlns="http://xmlns.jcp.org/xml/ns/javaee"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
                       http://xmlns.jcp.org/xml/ns/javaee/beans_1_2.xsd"
       version="1.2" bean-discovery-mode="annotated">
  <!-- Don't allow jee7 to scan for classes from guice or jclouds -->
  <!--See bug here: https://blogs.oracle.com/theaquarium/entry/default_cdi_enablement_in_java -->
  <scan>
    <exclude name="com.sun.jersey.guice.**" />
    <exclude name="org.jclouds.**" />
    <exclude name="com.google.inject.**" />     
    <exclude name="org.sonatype.guice.plexus.shim.PseudoPlexusContainer" />     
    <exclude name="org.sonatype.guice.plexus.converters.PlexusXmlBeanConverter" />     
    <exclude name="org.sonatype.guice.**" />    
  </scan>

</beans>